<script type="text/javascript" language="JavaScript" src="/js/shared/currency.js"></script>
<div id="currency_switcher" class="currency_switcher">
	<input type="hidden" name="currency_default" value="{#CURRENCY_DEFAULT}">

    Показать цены в: 
	<tmpl:rates>
		<input type="hidden" name="currency_label_{$currency_to_id}" value="{$symbol}">
		<input type="hidden" name="currency_rate_{$currency_from_id}_{$currency_to_id}" value="{$rate}">
		<a name="currency_switch_{$currency_to_id}" href="javascript:void(0);" onclick="currency_change('{$currency_to_id}');">{$code}</a> 
	</tmpl:rates>
</div>
<div class="delfloat"></div>