div.calendar {
	border:1px solid #ececec;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	padding:10px;
	width:200px;
}
div.calendar table {
	width:100%;	
	text-align:center;
}
div.calendar a {
	font-weight:bold;
}
div.calendar table td {
	vertical-align:middle;
	border:1px solid white;
}
div.calendar table thead {
	text-align:center;
}
div.calendar table td.weekend {
	color:red;
}
div.calendar table td.today {
	border:1px solid red;	
}
div.calendar table td.month div {
	background:#82A0CE;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	padding:5px;
	color:#fff;
	font-size:18px;
}
