/* content */
#content-padding{
	padding: 0 25px 25px 25px;
	background-color: #fff;	
}
#content {
	padding: 25px 25px 15px 25px;
	padding: 0;
	width: 100%;
	clear: both;
	overflow: hidden;
}
#post-head{
	width: 100%; 
	border-collapse: collapse;
}
#post-head tr td#head-date{
	width: 50px;
}
.post {
	padding: 0px;
	clear: both;
	overflow: hidden;
	margin-top: 20px;
}
.post .date {
	height: 50px;
	width: 55px;
	background: url(/img/news/wide-calendar.gif) no-repeat;
	font: normal 22px Arial, Helvetica, sans-serif;
	color: #666666;
	text-align: center;
	padding: 0px 2px 0 0;
	line-height: 100%;
	float: left;
}
.post .date span {
	height: 16px;
	display: block;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-align: center;
	padding-top: 5px;
}
.post .title {
	float: left;
	margin-left: 10px;
	width: 100%;
}
.postdata {
	font-size: 90%;
	color: #999999;
}
.postdata a, .postdata a:visited {
	color: #999999;
	text-decoration: none;
}
.postdata a:hover {
	color: #44a1d0;
	text-decoration: none;
}
.postdata .category{
	background: url(/img/news/mini-category.gif) no-repeat;
	padding-left: 18px;
	height:20px;
	float: left;
}
.mini-add-comment {
	background: url(/img/news/mini-down-arrow.gif) no-repeat left center;
	padding-left: 12px;
	margin-right: 90px;
	float: right;
}
.entry {
	padding: 10px 0px 5px;
	margin-bottom:20px;
	clear: both;
}
.entry p.submeta{
	font-size: 11px;
}


/* post title */
h2 {
	color: #333333;
	margin: 3px 0 2px;
	padding-bottom: 4px;
	font: normal 150%/100% "Lucida Grande", Arial, sans-serif;
	margin-right:90px;
	border-bottom: dotted 1px #CCCCCC;
}
h2 a, h2 a:visited {
	color: #333333;
	text-decoration: none;
}
h2 a:hover {
	color: #44a1d0;
	text-decoration: none;
}
h3 {
	color: #666666;
	margin: 5px 0px 5px;
	font: bold 110%/110% "Lucida Grande", Arial, sans-serif;
}

/* next & previous post navigation */
.post-nav {
	clear: both;
	padding-bottom: 35px;
	margin-top: 15px;
	font-size: 95%;
	padding-right:80px;
}
.post-nav a, .post-nav a:visited {
	color: #999999;
	text-decoration: none;
}
.post-nav a:hover {
	color: #000000;
	text-decoration: none;
}
.post-nav .previous a {
	float: left;
	width: 450px;
	height:20px;
	padding-left: 20px;
	padding-top: 6px;
	background: url(/img/news/navigation-left.gif) no-repeat left center;
}
.post-nav .next a {
	float: right;
	padding-right: 20px;
	width: 450px;
	height:20px;
	padding-top: 6px;
	text-align: right;
	background: url(/img/news/navigation-right.gif) no-repeat right center;
}

.news_date{
	vertical-align: top;
	text-align:right;
	padding-top:10px;
	padding-right:10px;
	color:#999999;
	width:150px;
}

.news_title{
	padding-top:10px;
	vertical-align: top;
}
