<table>
	<tmpl:row>
		<tr>
			<td valign="top"><b>{$title}:</b></td>
			<td>{$value}</td>
		</tr>
	</tmpl:row>
</table>
<div style="color:#777; font-size:10px;">Адрес страницы, с которой отправлена форма: <b>http://{#CMS_HOST}{$current_path}</b></div>    