<form id="form_{$name}" action="/actions_site.php" enctype="multipart/form-data" method="POST" onsubmit="AjaxRequest.form('form_{$name}', 'Отправка данных...', {});return false;">
<input type="hidden" name="_event" value="form/send">
<input type="hidden" name="_return_path" value="{#SITE_STRUCTURE_URL}/Ok/">
<input type="hidden" name="form_name" value="{$form_name}">
<tmpl:hidden>
	<input type="hidden" name="form[{$uniq_name}]" value="{$default_value}">
</tmpl:hidden>
<table class="form">
{if Auth::isAdmin()}
	<tr>
		<td></td>
		<td><a href="/Admin/Site/Forms/Fields/?form_id={$form_id}" target="_blank">Редактировать форму</a></td>
	</tr>
{/if}
	<tmpl:row>
		<tr>
		{if $type == 'devider'}
			<td></td>
			<td class="devider">{$title}</td>
		{else}
			<td class="title">{if $required}<span style="color:red;">*</span>{/if}{$title}:</td>
			<td>
			{if $type == 'text'}
				<input class="text" type="text" name="form[{$uniq_name}]" value="{$default_value}">
				{if !empty($comment)}
					<br /><span class="comment">{$comment}</span>
				{/if}
			{elseif $type == 'integer'}
				<input class="text" type="text" name="form[{$uniq_name}]" value="{$default_value}">
			{elseif $type == 'file'}
				<input type="file" name="form[{$uniq_name}]">
			{elseif $type == 'enum'}
				<select name="form[{$uniq_name}]">
					{html_options options=$info}
				</select>
			{elseif $type == 'set'}
				<tmpl:info>
				<input type="checkbox" name="form[{$uniq_name}][]" value="{$value}" id="{$uniq_name}_{$key}"><label for="{$uniq_name}_{$key}">{$value}</label><br>
				</tmpl:info>
			{elseif $type == 'textarea'}
				<textarea style="width:80%;height:100px;" name="form[{$uniq_name}]">{$default_value}</textarea>
			{/if}
				</td>
		{/if}
		</tr>
	</tmpl:row>
	<tr>
		<td></td>
		<td><input type="submit" value="{$button}"></td>
	</tr>
</table>
</form>