<h1>Неправильное положение файлов</h1>
<br />


{if $show_content_root_dirs}
<h3>Каталоги в CONTENT_ROOT</h3>
<ul>
<tmpl:content_root_dir>
<li>{$item}</li>
</tmpl:content_root_dir>
</ul>
<br />
{/if}

{if $show_content_root_files}
<h3>Файлы в CONTENT_ROOT</h3>
<ul>
<tmpl:content_root_file>
<li>{$item}</li>
</tmpl:content_root_file>
</ul>
<br />
{/if}

{if $show_uploads_root_dirs}
<h3>Каталоги в UPLOADS_ROOT</h3>
<ul>
<tmpl:uploads_root_dir>
<li>{$item}</li>
</tmpl:uploads_root_dir>
</ul>
<br />
{/if}

{if $show_uploads_root_files}
<h3>Файлы в UPLOADS_ROOT</h3>
<ul>
<tmpl:uploads_root_file>
<li>{$item}</li>
</tmpl:uploads_root_file>
</ul>
<br />
{/if}

<tmpl:folder>
<h3>{$name}</h3>
<ul>
<tmpl:item>
<li>{$name}</li>
</tmpl:item>
</ul>
<br />
</tmpl:folder>
