<script>
  	function cartOrderHandler(action){
		AjaxRequest.form('cart_order', 'Подождите...', {'action':action});
  	} 
  	 
  	function deleteFromCart(id){
		AjaxRequest.send(null, '/action/shoporder/del_from_cart/', 'Удаление...', true, {'id':id});
  	}
</script>
<div style="float: right; margin: 5px 5px 0 0;"><a href="#" onclick="hideFadeCart()"><img border="0" src="/img/shoporder/cross.png"></a></div> 

<div class="cart_order">
	<center><h1><img src="/img/shoporder/cart2.png"> Ваша корзина</h1></center>
	<form id="cart_order" method="post" action="/action/shoporder/cart_order_handler/">
	<input type="hidden" id="is_deleted" value="{$is_deleted}">
	
		{if $currencies != ""}
		<div style=" margin:0px 5px 5px 25px; float:right;">
			<span id="currency_{#SHOPORDER_CURRENCY_DEFAULT}" class="currency_switcher_on"><a href="javascript:void(0);" onclick="currency_switch({#SHOPORDER_CURRENCY_DEFAULT});">грн.</a></span>&nbsp;
			<tmpl:currency>
				<span id="currency_{$currency_to_id}" class="currency_switcher_off">
					<a href="javascript:void(0);" onclick="currency_switch({$currency_to_id});">{$symbol}</a>
				</span>&nbsp;
			</tmpl:currency>
		</div>
		<div style="clear:both;"></div>
		{/if} 	
		
		<div class="cart_order_overflow">
		<table align="center" cellpadding="0" cellspacing="0" border="0">
		{if $rows_count==0}
				<tr align="center">
					<td colspan="7">Корзина пуста</td>
				</tr>
		{else}          
			<thead>
				<tr align="center">
					<td>&nbsp;</td>
					<td>Номер</td>
					<td>Описание</td>
					<td>Цена</td> 
					<td>Количество</td>
					<td>Всего, (грн.)</td>
				</tr>	
			</thead>
			<tbody style="max-height:500px;overflow:auto;">
				<tmpl:products>	
				<tr id="product_{$product_id}" class="{$class}">
					<td align="center" width="10px" title="удалить"><a href="javascript:void();" onclick="deleteFromCart({$product_id});"><img src="/img/shoporder/delete.png" border="0"></a></td>
					<td align="left"  width="5%">{$product_id}</td>
					<td align="left"   width="60%"><b>{$name}</b><p>{$description}</p></td>  
					<td align="right"  width="10%">
						<span id="prodprice_{#SHOPORDER_CURRENCY_DEFAULT}" >{$price} грн</span>
						<tmpl:prices>
							<span id="prodprice_{$currency_to_id}" style="display:none;">{$price} {$symbol}</span>
						</tmpl:prices>
					</td>
					<td align="center" width="10%"><input onkeyup="cartOrderHandler('recount');" type="text" name="amount[{$product_id}]" value="{$amount}" size="3" style="text-align:right;"></td>
					<td align="right"  width="10%">
						<span id="prodprice_{#SHOPORDER_CURRENCY_DEFAULT}"><span id="cart_order_total_{$product_id}_{#SHOPORDER_CURRENCY_DEFAULT}">{$total}</span> грн</span>
						<tmpl:prices>
							<span id="prodprice_{$currency_to_id}" style="display:none;">
								<span id="cart_order_total_{$product_id}_{$currency_to_id}">{$total}</span> {$symbol}
							</span>
						</tmpl:prices> 
					</td> 
				</tr> 
				</tmpl:products>	
				
				<tr class="title">
					<td colspan="5" align="right">Итого в корзине:</td>
					<td align="right"  width="5%" colspan="2">  
						<span id="prodprice_{#SHOPORDER_CURRENCY_DEFAULT}"><span id="order_total_{#SHOPORDER_CURRENCY_DEFAULT}">{$total_all}</span> грн</span>
						<tmpl:total_prices>
							<span id="prodprice_{$currency_to_id}" style="display:none;"><span id="order_total_{$currency_to_id}">{$total_all}</span> {$symbol}</span>
						</tmpl:total_prices>
					</td>
				</tr> 
			</tbody>
		{/if}
		</table>
		</div>
		<table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
				<tr>
					<td align="center">   
					<img src="/img/shoporder/checked.png" align="top"> <a href="javascript:void(0);" onclick="document.location.reload();">Продолжить</a> &nbsp;
					<img src="/img/shoporder/cart2.png"  align="top"> <a href="javascript:void(0);" onclick="document.location.href='/ShopOrder/'">Оформить заказ</a> &nbsp;   
					</td>   
				</tr>
		</table>
	</form>
</div>
<br/><br/>