

<div id="cart_block" class="cart_block" align="center">
	<a href="/ShopOrder/"><h3 class="hcart"><img src="/design/spare/img/cart.png"> Корзина</h3> </a>
		<div style="float:left;">Количество товаров:</div><div id="order_product_count" >{$order_products_count}</div>   
</div>