Пользователь {$name} зделал заказ на сайте (user_id: {$user_id}) <br />
Телефон: {$phone} <br />
E-mail: {$email}<br />
ID заказа: {$id}<br />
<br />
Товары:<br />
<br /> 
<tmpl:product>
{$id} <b>{$name}</b>   количество: {$amount} x цена: {$price} <br />
</tmpl:product>
