Здравствуйте, уважаемый {$name}.<br/>
Статус вашего заказа ID:{$order_id} за {$date} был изменен с <b>{$old_status}</b> на <b>{$new_status}</b>.<br/>
С уважением, администрация partner.dyson-shop.ru.
