
<div style="float:left; font-weight:bold; color:#444;">Авторизация постредством {$provider.name}</div>
<div style="clear:both;">&nbsp;</div>
	     
<div class="action-context">
	Пожалуйста, введите логин Вашей учетной записи на стороне {$provider.name}: 
</div>
		
<div id="oid_widget__{@oid_widget_uniq_name}_box_openid_block_{$provider.id}"> 
	<form onsubmit="oid_widget__form_openid_send('{@oid_widget_uniq_name}', '{$provider.name}', {$provider.id}); return false;">
		<input type="hidden" id="oid_widget__{@oid_widget_uniq_name}_openid_return_path_{$provider.id}" value="{#CURRENT_URL_FORM}">
		<input type="hidden" id="oid_widget__{@oid_widget_uniq_name}_openid_a_{$provider.id}"  value="auth">  
		<input type="hidden" id="oid_widget__{@oid_widget_uniq_name}_openid_provider_{$provider.id}"  value="{$provider.uniq_name}">
		<input type="hidden" id="oid_widget__{@oid_widget_uniq_name}_openid_link_{$provider.id}" value="{$provider.openid_link}">
		
		<img src="/img/user/oid/context/logo.png" border="0" align="absmiddle" style="margin-right:5px;"> 
		<input type="text" id="oid_widget__{@oid_widget_uniq_name}_openid_identifier_{$provider.id}" value="" class="wide">
		
	</form>
</div>   