
<div class="topic_{$lvl}">

	<div class="topic_title">{$question}</div>
	<div class="question_comment">{$comment}</div>
	
	{if $group == 'simple'}
		<div class="answer_simple">
			{if $type == 'single'}    
				<tmpl:answers><div><label><input type="radio" name="topic[{$topic_id}]"  value="{$id}" {if $is_error_checked}checked{/if}> <span class="answer_title">{$answer}</span></label></div></tmpl:answers>
			{else} 
				<tmpl:answers><div><label><input type="checkbox" name="topic[{$topic_id}][{$id}]" value="{$id}" {if $is_error_checked}checked{/if}> {$answer}</label></div></tmpl:answers>
			{/if}
		</div>
		
	{elseif $group == 'evaluative'}
		<div class="answer_evaluative">
			<table cellpadding="0" cellspacing="0">
				<tr><td>&nbsp;</td><td>0</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr>
				<tmpl:answers>
					<tr>
						<td class="answer_title">{$answer}</td>
						<td><input type="radio" name="topic[{$topic_id}][{$id}]" value="0" {if $is_error_value == 0}checked{/if}></td>
						<td><input type="radio" name="topic[{$topic_id}][{$id}]" value="1" {if $is_error_value == 1}checked{/if}></td>
						<td><input type="radio" name="topic[{$topic_id}][{$id}]" value="2" {if $is_error_value == 2}checked{/if}></td>
						<td><input type="radio" name="topic[{$topic_id}][{$id}]" value="3" {if $is_error_value == 3}checked{/if}></td>
						<td><input type="radio" name="topic[{$topic_id}][{$id}]" value="4" {if $is_error_value == 4}checked{/if}></td>
						<td><input type="radio" name="topic[{$topic_id}][{$id}]" value="5" {if $is_error_value == 5}checked{/if}></td>
					</tr>
				</tmpl:answers>
			</table>	
		</div>
		
	{elseif $group == 'comment'}
		<div class="answer_comment"><textarea name="topic[{$id}]">{$is_error_text.$id}</textarea></div>
		  
	{/if}
  
</div>