{if !$ajax}
<div class="vote" id="vote">
{/if}
{$vote_id}
	<div class="vote-title">{$question}</div>
	<form action="/{#LANGUAGE_URL}action/vote/vote/" method="post" id="vote_form" class="vote-form" onsubmit="AjaxRequest.form('vote_form', 'Голосуем...');return false;">
		<input type="hidden" name="_return_path" value="/Vote/?id={$vote_id}">
		<input type="hidden" name="topic_id" value="{$topic_id}">
		<input type="hidden" name="structure_id" value="{$structure_id}">
		<input type="hidden" name="template" value="vote/result">
		<input type="hidden" name="form_name" value="vote_form">
		<div class="voting__body__form">
		<tmpl:answer>			
			{if $type=='single'} 
					<input id="answer_{$id}" type="radio" class="RadioClass" name="vote" value="{$id}">
					<label for="answer_{$id}" class="RadioLabelClass">{$answer}</label><br/>
			{else}
					<input type="checkbox" name="answer_list[]" id="answer_{$id}" value="{$id}"> <label class="answer" for="answer_{$id}">{$answer}</label>
			{/if}			
		</tmpl:answer>
		</div>
		<input type="submit" value="Отправить">
	</form>
{if !$ajax}
	</div>
{/if}

		
		


