<b>Найдено файлов: {$files_found}</b>
<p>
<ul>
<tmpl:result>
	<input type="checkbox" checked name="files[]" value="{$file}"><a target="_blank" href="./Result/?file={$file_url}&pattern={@pattern}#match_1">/{$filename} ({$matches_count})</a><br>
</tmpl:result>
</ul>
