<!--<script type="text/javascript" language="JavaScript" src="/js/shared/currency.js"></script>
<script>
	function changeCurrency(checked){
		uniCurrency(checked, ['price', 'monthly_price', 'economy'], ['a', 'b', 'b']);
		return false;
	}
</script>

<div id="switcher" class="switcher">
	<input type="hidden" name="980_980" value="1">
	<input type="hidden" name="980_840" value="{$rate_980_840}">
	<input type="hidden" name="980_643" value="{$rate_980_643}">
	<input type="hidden" name="980_1101" value="{$rate_980_1101}">
	<input type="hidden" name="980_1100" value="{$rate_980_1100}">

    показать цены в: 
     <a name="switch_980" class="switched" href="javascript:void(0);" onclick="changeCurrency('980');">UAH</a>
	 <a name="switch_840" href="javascript:void(0);" onclick="changeCurrency('840');">USD</a>
	 <a name="switch_643" href="javascript:void(0);" onclick="changeCurrency('643');">RUB</a>
	 <a name="switch_1101" href="javascript:void(0);" onclick="changeCurrency('1101');">WMU</a>
	 <a name="switch_1100" href="javascript:void(0);" onclick="changeCurrency('1100');">WMZ</a>
</div>
<div class="delfloat"></div>-->
