<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
<html>
<head>
<title>Вставка ссылки</title>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=Windows-1251">
	<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
	<LINK href="/design/cms/css/toc.css" type="text/css" rel="stylesheet">
	<link href="/extras/ckeditor/plugins/cms-shared/dialog.css?2" rel="stylesheet" type="text/css" />
	<script language="JavaScript" src="/js/shared/global.js"></script>
	<script language="javascript" src="/js/shared/toc.js" type="text/javascript"></script>
	<script language="JavaScript">
		function insLink(link) {
			var CKEDITOR = window.parent.CKEDITOR;
			editor_name = CKEDITOR.config.activeEditorName
			var editorInstance = CKEDITOR.instances[editor_name];
			var mySelection = CKEDITOR.instances[editor_name].getSelection();
			
//			if (CKEDITOR.env.ie) {
//			    mySelection.unlock(true);
//			    selectedText = mySelection.getNative().createRange().text;
//			} else {
//			    selectedText = mySelection.getNative();
//			}

			selectedText = getSelectionHTML(mySelection.getNative())
			
			CKEDITOR.instances[editor_name].insertHtml("<a href='"+link+"'>"+selectedText+"</a>");
			CKEDITOR.dialog.getCurrent().hide()
		}
		
		// get HTML from selection
		function getSelectionHTML(selection)
		{
		   var range = (document.all ? selection.createRange() : selection.getRangeAt(selection.rangeCount - 1).cloneRange());
		
		   if (document.all)
		   {
		      return range.htmlText;
		   }
		   else
		   {
		      var clonedSelection = range.cloneContents();
		      var div = document.createElement('div');
		      div.appendChild(clonedSelection);
		      return div.innerHTML;
		   }
		}
	</script>
</head>
<body>

<tmpl:ul_root>
<ul id="ULRoot" class="Shown" style="behavior:url('#default#saveSnapshot')">
</tmpl:ul_root>

<tmpl:ul_hidden>
	<ul class="Hidden" ID="ul{$id}">
</tmpl:ul_hidden>

<tmpl:node>
	<tmpl:with_childs>
		<li>
			<a id="a{$id}" onclick="expand('{$id}',this);" href="/tools/editor/dialog/local_link.php?id={$id}&action={@action}"><img align="absmiddle" src="http://{#CMS_HOST}/design/cms/img/js/toc/c.gif" id="img{$id}"></a>
			<a href="javascript:insLink('{$url}');">{$name}</a>
			<IFRAME NAME="fra{$id}"></IFRAME>
		</li>
		<ul class="Hidden" ID="ul{$id}"></ul>
	</tmpl:with_childs>
	<tmpl:no_childs>
		<LI><img align="absmiddle" src="/img/1x1.gif"> <a href="javascript:insLink('{$url}');">{$name}</a></LI>
	</tmpl:no_childs>
</tmpl:node>

</ul>

<tmpl:script>
<script language="javascript" type="text/javascript">
if (window.parent.loadNode != null && window.parent != self) {
	elem = document.getElementById("ul{$id}");
	if (elem && elem.innerHTML) {
		window.parent.loadNode("{$id}", elem);
		location.replace("about:blank");
	}
}
</script>
</tmpl:script>
</body>
</HTML>