div.question {
	padding: 5px;
	display: none;
	color:#000;
}

span.answer_not_found {
	color: gray;
}

li.faq {
	list-style: disc inside;
	color:#1873b4;
	margin-bottom:5px;
}
li.faq div {
	color:black;
}
li.faq2 {
	list-style: none;
	color:#1873b4;
	margin-bottom:5px;
}
