
<h1>Использование доступных свойств модуля</h1>


{if $show_change>0}
	<h3>Таблицы</h3>
	<tmpl:table>
		{if !empty($db_name)}
			<b>{$db_name}</b><br>
		{/if}
		<input disabled type="checkbox" {$checked_select}><input disabled type="checkbox" {$checked_update}>{$name}<br>
	</tmpl:table>
{/if}

{if $show_event>0}
	<h3>События</h3>
	<tmpl:event>
		<input disabled type="checkbox" {$checked}>{$name}<br>
	</tmpl:event>
{/if}

{if $show_view}
<h3>Доступ к разделам</h3>
	{$view}
	<tmpl:structure>
	{$name} [{$url}]<br>
	</tmpl:structure>
{/if}