<h1>{$module}</h1>
<a href="../"><img src="/design/cms/img/button/up.gif" border="0"> Вернуться к списку модулей</a>

<br>
{$cms_table_relations}

<p>
{if $show_tables}
	<h3>Таблицы</h3>
	<ul>
		<tmpl:table>
		<li style="color:blue;">{$name}</li>
		
			{if !empty($content)}
				<b>Контент (content/)</b>
				<ul>
					<tmpl:content>
					<li>{$name}</li>
					</tmpl:content>
				</ul>
			{/if}
			{if !empty($uploads)}
				<b>Закачанные файлы (uploads/)</b>
				<ul>
					<tmpl:uploads>
					<li>{$name}</li>
					</tmpl:uploads>
				</ul>
			{/if}
			{if !empty($triggers)}
				<b>Триггеры (system/triggers/)</b>
				<ul>
					<tmpl:triggers>
					<li>{$name}</li>
					</tmpl:triggers>
				</ul>
			{/if}
		</tmpl:table>
	</ul>
	<p>
{/if}


{if $show_events}
	<h3>События</h3>
	<ul>
		<tmpl:event>
			<li>{$file}</li>
		</tmpl:event>
	</ul>
	<p>
{/if}

{if $show_crontab}
	<h3>Crontab</h3>
	<ul>
		<li>{$crontab}</li>
	</ul>
	<p>
{/if}

{if $show_templates}
	<h3>Шаблоны</h3>
	<ul>
		<tmpl:template>
			<li>{$file}</li>
		</tmpl:template>
	</ul>
	<p>
{/if}


{if $show_includes}
	<h3>Includes</h3>
	<ul>
		<tmpl:includes>
			<li>{$file}</li>
		</tmpl:includes>
	</ul>
	<p>
{/if}


{if $show_tools}
	<h3>Tools</h3>
	<ul>
		<tmpl:tools>
			<li>{$file}</li>
		</tmpl:tools>
	</ul>
	<p>
{/if}

{if $show_site}
	<h3>Структура сайта</h3>
	<ul>
		<tmpl:site>
			<li><a href="http://{$url}/" target="_blank">http://{$file}/</a></li>
		</tmpl:site>
	</ul>
	<p>
{/if}
{if $show_site_template}
	<h3>Шаблоны сайта</h3>
	<ul>
		<tmpl:site_template>
			<li>{$file}</li>
		</tmpl:site_template>
	</ul>
	<p>
{/if}

{if $show_admin}
	<h3>Структура административного интерфейса</h3>
	<ul>
		<tmpl:admin>
			<li>{$file}</li>
		</tmpl:admin>
	</ul>
	<p>
{/if}
{if $show_admin_template}
	<h3>Шаблоны административного интерфейса</h3>
	<ul>
		<tmpl:admin_template>
			<li>{$file}</li>
		</tmpl:admin_template>
	</ul>
	<p>
{/if}


{if $show_css}
	<h3>Таблицы стилей</h3>
	<ul>
		<tmpl:css>
			<li>{$file}</li>
		</tmpl:css>
	</ul>
	<p>
{/if}

{if $show_img}
	<h3>Картинки</h3>
	<ul>
		<tmpl:img>
			<li><a href="/img/{$file}" target="_blank">{$file}</a></li>
		</tmpl:img>
	</ul>
	<p>
{/if}

{if $show_js}
	<h3>JavaScript</h3>
	<ul>
		<tmpl:js>
			<li>{$file}</li>
		</tmpl:js>
	</ul>
	<p>
{/if}

<center><b><a href="/{#LANGUAGE_URL}action/admin/sdk/download_module/?module_id={$module_id}&_return_path={#CURRENT_URL_LINK}">Скачать файлы модуля</a></b></center>
