<tmpl:comment>
	<div id="comment_{$id}" style="margin-left:20px;">
		<div class="comment">
			<div class="comment_text">
				<img class="abs1" src="/img/comment/corner_l_t.gif" />	
				<img class="abs2" src="/img/comment/corner_t_r.gif" />
				<div id="comment-content-{$id}" style="padding:5px;">{$comment}</div>
				<img class="abs3" src="/img/comment/corner_b_r.gif" />
				<img class="abs4" src="/img/comment/corner_b.gif" />	
			</div>
		</div>	
		<div class="comment_delfloat"></div>
		<div class="comment_author">
			Написал <b>{$login}</b> {$date} в {$time}
			{if Auth::isLoggedIn() || COMMENT_NOT_REGISTER} 
				<a class="comment_answer" href="#" onclick="$('#form_{$id}').css('display', 'block'); return false;">Ответить</a>
			{/if}
			{if Auth::isAdmin()}
				[{$ip} | {$local_ip}]
				<a href="/action/admin/comment/delete/?id={$id}&_return_path={#CURRENT_URL_LINK}" onclick="return confirm('Удаление коментария привидет к удалению всех ответов! Продолжить удаление?')" style="color:red;">Удалить</a>
				{if $active}
					<span id="comment_publish_{$id}"><a href="#" onclick="Comment.publish({$id}, 0);return false;" style="color:brown;">Запретить</a></span>
				{else}
					<span id="comment_publish_{$id}"><a href="#" onclick="Comment.publish({$id}, 1);return false;" style="color:green;">Опубликовать</a></span>
				{/if}
				<span id="comment_edit_{$id}"><a href="javascript:void(0);" onclick="Comment.edit({$id}); return false;" style="color:#1873B4;">Редактировать</a></span>
			{/if}
			
		</div>
		<div class="comment_delfloat"></div>
		{if COMMENT_NOT_REGISTER || Auth::isLoggedIn()} 
			<div id="form_{$id}" {if $display}style="display:block"{/if} class="comment_form">
				<form id="realform_{$id}" action="/{#LANGUAGE_URL}action/comment/add/" method="POST">
					<input type="hidden" name="_return_path" value="{#CURRENT_URL_FORM}">
					<input type="hidden" name="id" value="{$id}">
					<input type="hidden" name="object_id" value="{$object_id}">
					<input type="hidden" name="comment_id" value="{$id}">
					<input type="hidden" name="table_name" value="{$table_name}">
					{if !Auth::isLoggedIn() && COMMENT_NOT_REGISTER}
						<table class="comment_extend" cellpadding="0" cellspacing="5">
							<tr>
								<td>Имя:</td>
								<td><input name="user_name" type="text" value="{$new_user_name}" /></td>
							</tr>
							<tr>
								<td>E-mail:</td>
								<td><input name="user_email" type="text" value="{$new_user_email}" /></td>
							</tr>
							<tr>
								<td>
									{$captcha_html}
								</td>
								<td valign="middle"><input type="text" maxlength="6" size="6" name="captcha_value"></td> 
							</tr>
							<tr>
								<td colspan="2"><textarea name="comment">{$new_comment}</textarea></td>
							</tr>
							
						</table>
					{else}
						<textarea id="textarea_comment_{$id}" name="comment" class="comment_textarea">{$comment}</textarea>
					{/if}
					<span style="font-size:10px; color:grey">Ваш комментарий будет добавлен после проверки администратором</span><br /> 
					<input type="button" class="comment_button" value="Написать" onclick="$('#realform_{$id}').submit();">
					<input type="button" class="comment_button" value="Отмена"  onclick="$('#form_{$id}').css('display', 'none'); return false;">
				</form>	
			</div>
		{/if}
		{$subcomment}			
	</div>
</tmpl:comment>

<div onclick="Comment.hideTask();" id="bg_layer" class="bg_layer"></div>
<div id="task" class="task_layer">
	<div class="tasktitle">
		Редактирование коментария
		<br />
	</div>
	<form action="/{#LANGUAGE_URL}action/comment/edit/" method="POST">
		<input type="hidden" name="_return_path" value="{#CURRENT_URL_FORM}">
		<input id="edit_comment_id" type="hidden" name="edit_comment_id" value="{$id}">
		<div>
			<center>
				<textarea id="edit_commnet" name="edit_comment"></textarea>
			</center>
		</div>
		<br />
		<div>
			<center>
				<input type="submit" value="Сохранить" />
				<input onclick="Comment.hideTask(); return false;" type="button" value="Отменить" />
			</center>
		</div>
	</form>	
	
	
</div>
