<br>
{if COMMENT_NOT_REGISTER || Auth::isLoggedIn()} 
	<a name="comment"></a>
	<input onclick="$('#form_start').css('display', 'block');return false;" type="image" src="/design/new_delta/img/comment/add.gif" />
	<div id="form_start" class="comment_form"  {if $display}style="display:block"{/if}>
		<form id="realform_start" action="/{#LANGUAGE_URL}action/comment/add/" method="POST">
		<input type="hidden" name="_return_path" value="{#CURRENT_URL_FORM}">
		<input type="hidden" name="id" value="0">
		<input type="hidden" name="object_id" value="{$object_id}">
		<input type="hidden" name="table_name" value="{$table_name}">
		{if !Auth::isLoggedIn() && COMMENT_NOT_REGISTER}
			<table cellpadding="0" cellspacing="5">
				<tr>
					<td>Имя:</td>
					<td><input name="user_name" type="text" value="{$new_user_name}" /></td>
				</tr>
				<tr>
					<td>E-mail:</td>
					<td><input name="user_email" type="text" value="{$new_user_email}" /></td>
				</tr>
				<tr>
					<td>{$captcha_html}</td>
					<td valign="middle"><input type="text" maxlength="6" size="6" name="captcha_value"></td> 
				</tr>
				<tr>
					<td colspan="2"><textarea name="comment">{$new_comment}</textarea></td>
				</tr>
			</table>		
		{else}
			<textarea name="comment">{$comment}</textarea>
		{/if}
		<span style="font-size:10px; color:grey;">Ваш комментарий будет добавлен после проверки администратором</span><br />
		<input type="image" class="input_image" src="/design/new_delta/img/comment/send.gif" /><input onclick="$('#form_start').css('display', 'none'); return false;" class="input_image" type="image" src="/design/new_delta/img/comment/cancel.gif" />
		</form>
	</div>
{else}
	<a href="/user/register/"><b>Только зарегистрированные пользователи могут оставлять комментарии</b></a>
{/if}
