<h1>Значение переменных в теле письма для {$email}</h1>
<img src="/design/cms/img/button/up.gif" border="0" alt="На уровень вверх" width="16" height="16"><a href="../?message_id={$message_id}">Вернутся к очереди рассылки</a>
<p>
<table class="form" width="100%">
<tmpl:row>
	<tr>
		<td class="title">{&#36;{$key}}</td>
		<td>{$val}</td>
	</tr>
</tmpl:row>

</table>