<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "xhtml11.dtd">
<html>
	<head>
		<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8"/>
		<meta name="Keywords" content="{$keywords}"/>
		<meta name="Description" content="{$description}"/>
		<title>{$title}</title>
		<link href="{#CMS_URL}favicon.ico" rel="shortcut icon" />
	
		<!-- СТИЛИ ПЛАГИНОВ -->
		<!--<link rel="stylesheet" type="text/css" href="/extras/jquery/lightbox/jquery.lightbox.css"/>-->

		<script type="text/javascript" src="/design/cformat/js/jquery-1.8.2.min.js"></script>
		<!--<script src="/design/cformat/js/jquery.fancybox.js"></script>/-->
		
		{if $sliders_tmpl == 'slider'}
			<!-- Simple Slider begin -->
			<script src="/extras/slider/simple/slider.js"></script>
			<link rel="stylesheet" type="text/css" href="/extras/slider/simple/slider.css"></script>
			<!-- end simple slider -->
		{elseif $sliders_tmpl == 'sliderkit'}
			<!-- jQuery Plugin scripts, need for slider kit -->
			<script type="text/javascript" src="/design/cformat/js/jquery.easing.1.3.min.js"></script>
			<script type="text/javascript" src="/design/cformat/js/jquery.mousewheel.min.js"></script>
		
			<!-- Slider Kit scripts begin -->
			<script type="text/javascript" src="/extras/slider/sliderkit/jquery.sliderkit.1.9.2.pack.js"></script>
			<link rel="stylesheet" type="text/css" href="/extras/slider/sliderkit/sliderkit-core.css"></script>
			
			<script type="text/javascript">
				$(window).load(function(){ //$(window).load() must be used instead of $(document).ready() because of Webkit compatibility				
								
					// Photo slider > Bullets nav
					$(".photoslider-bullets").sliderkit({
						auto:true,
						circular:true,
						mousewheel:true,
						shownavitems:5,
						panelfx:"sliding",
						panelfxspeed:1000,
						panelfxeasing:"easeOutExpo" // "easeOutExpo", "easeInOutExpo", etc.
					});
				});	
			</script>		
			<!-- end sliderkit /-->
		{elseif $sliders_tmpl == 'nivoslider'}
			<!-- nivo slider begin /-->
			<script type="text/javascript" src="/extras/slider/nivoslider/jquery.nivo.slider.pack.js"></script>
			<link rel="stylesheet" type="text/css" href="/extras/slider/nivoslider/nivoslider/default.css"></script>
			
			<script type="text/javascript">
			$(window).load(function() {
				$('#slider').nivoSlider();
			});
			</script>
			<!-- end nivo slider /-->
		{/if}
		
       <!-- <script src="/design/cformat/js/start.js"></script>/-->

		
		<link rel="stylesheet" type="text/css" href="/design/cformat/css/newstyle.css" media="all" />
	</head>
	<style>
		div.infolayer {
			display: none;
		}
	</style>
	<body>
		<div class="out">
			<div class="header">
				<div class="header_i">
					<div class="top clearfix">
						<div class="logo">
							<a href="/">&nbsp;</a>
						</div><!--end logo-->
						<div class="author">
							<div class="author_i">
								<div class="author__top clearfix">
									{if !Auth::isLoggedIn()} <a class="author__top__anchor" href="/user/login/">Войти на сайт</a>
									<a class="author__top__anchor" href="/user/register/">Зарегистрироватся</a>
									{else}
									Рады снова видеть, <b>{%_SESSION.auth.login}</b>!</a></b> (ID:{%_SESSION.auth.id}) <a class="author__top__anchor" href="/user/info/">Персональные данные</a>
									<!-- <a class="author__top__anchor" href="/user/changepassword/">Сменить пароль</a>-->
									<a class="author__top__anchor" class="top-auth-logout" href="/action/cms/logout/?_return_path={#CURRENT_URL_LINK}">Выход</a>
									{/if}
								</div>
								<div class="author__bot">
									<div class="author__bot__search-out">
										<div class="author__bot__search">
											<input class="tipped" type="text" title="поиск" />
										</div>
									</div>
									<a class="btn" href="#">Найти<span>&nbsp;</span></a>
								</div>
							</div>
						</div><!--end author-->
						<div class="support">
							<div class="support_i">
								<p class="support__text support__text_pb">
									Круглосуточная техподдержка
								</p>
								<div class="support__contact">
									<em class="support__contact__phone">&nbsp;</em>
									<p class="support__contact__text">
										<span>Киев</span> (044) 392-74-33
									</p>
									<a class="support__contact__bird" href="#">&nbsp;</a>
								</div><!--end support__contact-->
								<div class="support__city">
									<ul class="support__city__list">
										<li class="support__city__list__item">
											<span>Харьков</span> (057) 728-39-00
										</li>
										<li class="support__city__list__item">
											<span>Днепропетровск</span> (056) 794-38-31
										</li>
										<li class="support__city__list__item">
											<span>Донецк</span> (062) 210-24-93
										</li>
										<li class="support__city__list__item">
											<span>Львов</span> (032) 229-58-93
										</li>
										<li class="support__city__list__item">
											<span>Одесса</span> (048) 738-57-70
										</li>
										<li class="support__city__list__item">
											<span>Beeline</span> (068) 357-18-70
										</li>
										<li class="support__city__list__item">
											<span>Life</span> (093) 585-42-13
										</li>
										<li class="support__city__list__item">
											<span>Kyivstar</span> (067) 883-97-94
										</li>
										<li class="support__city__list__item">
											<span>MTC</span> (095) 332-15-19
										</li>
										<li class="support__city__list__item">
											<span>Skype</span> ukraine_support
										</li>
									</ul>
								</div><!--end support__city-->
								<p class="support__text support__text_color">
									Мы вам перезвоним!
								</p>
							</div>
						</div><!--end support-->
					
					</div><!--end top-->
					<div id="bg_layer" class="bg_layer" onclick="">
						&nbsp;
					</div>
					<div id="cart_layer" class="cart_layer"></div>
					<div id="infolayer" class="infolayer">
						<div>
							<!--<img class="close" onclick="" class="exit" align="right" src="/design/dev/img/cms/cross.png" alt="Закрыть"/>-->
							<div id="infolayer_title"></div>
							<div class="line2"></div>
						</div>
						<div id="infolayer_text" style='overflow-y:scroll; height:400px; overflow:auto;'></div>
					</div>
					
					<div>{$slider}</div>
					
					<div class="tmenu clearfix">
						<em class="tmenu__l">&nbsp;</em>
						<em class="tmenu__r">&nbsp;</em>
						<ul class="tmenu__list clearfix">
							<tmpl:top_menu>
								{if $id==75555}
								<li class="tmenu__list__item">
									<a href="{$url}" class="tmenu__list__item__anchor">Каталог товаров<span>&nbsp;</span></a>
									<div class="submenu__bird">
										&nbsp;
									</div>
									<div class="submenu-out">
										<div class="submenu">
											<div class="submenu__top"></div>
											<div class="submenu__body clearfix">
												<div class="submenu__body_i">
													<tmpl:allgroup_right>
														<ul class="submenu__list">
															<li class="submenu__item">
																{$name}
															</li>
															<tmpl:subgroups>
																<li class="submenu__item">
																	<a href="{$url}" class="submenu__item__anchor">{$name}</a>
																</li>
															</tmpl:subgroups>
														</ul>
													</tmpl:allgroup_right>
												</div>
											</div>
										</div>
									</div>
								</li>
								{else}
								<li class="tmenu__list__item">
									<a style="{$style}" href={$url} class="tmenu__list__item__anchor {$class}">{$name}<span>&nbsp;</span></a>
								</li>
								{/if}
							</tmpl:top_menu>
						</ul>
					</div><!--end tmenu-->
				</div>
			</div><!--end header-->

			<!--slider-conteiner-->
			<div class="main">
				<div class="main_i clearfix">
					<div class="main__left">
						<!-- ФИЛЬТРЫ МАГАЗИНА -->
						{if $shop_filter || $shop_filter_selected} <!-- Выбранные фильтры -->
						{if $shop_filter_selected}
						<div class="filter-selected">
							<div class="filter-selected_i">
								<div class="filter-selected__body">
									<h1>Выбранные фильтры</h1>
									<tmpl:filter_selected>
										<h2>{$name}</h2>
										<tmpl:value>
											<div class="filter-selected__body__line clearfix">
												<a class="filter-selected__body__line__link" href="/action/shop/del_filter/?field_name={$field_name}&value={$value}&group_id={$group_id}&_return_path={#CURRENT_URL_LINK}"> <em class="filter-selected__body__line__btn">&nbsp;</em>{$name}</a>
											</div>
										</tmpl:value>
									</tmpl:filter_selected>
									<div class="filter-selected__body__line clearfix">
										<a class="filter-selected__body__line__link" href="/action/shop/clear_filter/?_return_path={#CURRENT_URL_LINK}"> <em class="filter-selected__body__line__btn">&nbsp;</em>Убрать все фильтры</a>
									</div>
								</div>
							</div>
						</div><!--end filter-selected-->
						{/if} <!-- Фильтры -->
						{if $shop_filter}
						<div class="filter">
							<div class="filter_i">
								<div class="filter__body">
									<h1>Фильтры для выбора </h1>
									<tmpl:filter>
										<h2>Тип</h2>
										<ul class="filter__list">
											<tmpl:value>
												<li class="filter__list__item clearfix">
													<input type="checkbox" class="niceCheck"  id="{$id}" />
													<!--<img src="design/dev/img/filter_icon.png">-->
													<a class="filter__list__item__link" href="/action/shop/add_filter/?field_name={$field_name}&value={$value}&group_id={$group_id}&_return_path={#CURRENT_URL_LINK}"> <label for="{$id}">{$name}&nbsp;&nbsp;({$amount})</label></a>
												</li>
											</tmpl:value>
										</ul>
									</tmpl:filter>
								</div>
							</div>
						</div>
						{/if}
						{/if} <!-- ВЫВОД РЕЙТИНГА ПОЛЬЗОВАТЕЛЕЙ ФОРУМА -->
						{if $show_forum_user_top}
						<div style="width:240px;">
							<br/>
							<h1>TOP пользователей</h1>
							<table class="forum_top_small">
								<thead>
									<tr>
										<td colspan="2">&nbsp;</td><td>Сообщений</td><td>Репутация</td>
									</tr>
								</thead>
								<tmpl:forum_user_top>
									<tr class="{$class}">
										<td>{$index}.</td>
										<td class="username">{$name}</td>
										<td><a href="/forum/top/post/?user_id={$id}">{$message_count}</a></td>
										<td>{$reputation}</td>
									</tr>
								</tmpl:forum_user_top>
							</table>
							<div style="text-align:right;">
								<a href="/forum/top/">Посмотреть весь рейтинг</a>
							</div>
						</div>
						{/if}
						<div class="banner">
							<!-- <img src="/design/dev/img/banner.png" width="263" height="285" alt="" /> -->
						</div>
						
					</div><!--end main__left-->
					<div class="main__right">
						{$content}
					</div><!--end main__right-->
				</div>
			</div>
			<div class="footer">
				<div class="footer_i clearfix">
					<div class="fmenu">
						<ul class="fmenu__list clearfix">
							<tmpl:top_menu>
								<li class="fmenu__list__item">
									<a style="{$style}" href="{$url}" class="fmenu__list__item__anchor {$class}">{$name}</a>
								</li>
							</tmpl:top_menu>
						</ul>
					</div><!--end fmenu-->
					<div class="footer__left clearfix">
						<div class="copy">
							<div class="copy_i">
								<p>
									2012 <a href="www.delta-x.ua">www.delta-x.ua</a>
								</p>
								<p>
									Все права защищены
								</p>
							</div>
						</div>
						<ul class="socnetwork clearfix">
							<li class="socnetwork__item">
								<a href="#" class="socnetwork__anchor__item socnetwork__anchor__item_fb">&nbsp;</a>
							</li>
							<li class="socnetwork__item">
								<a href="#" class="socnetwork__anchor__item socnetwork__anchor__item_vk">&nbsp;</a>
							</li>
							<li class="socnetwork__item">
								<a href="#" class="socnetwork__anchor__item socnetwork__anchor__item_tw">&nbsp;</a>
							</li>
							<li class="socnetwork__item">
								<a href="#" class="socnetwork__anchor__item socnetwork__anchor__item_sk">&nbsp;</a>
							</li>
						</ul><!--end socnetwork-->
					</div><!--end footer__left-->
					<div class="footer__mid">
						<div class="footer__mid_i clearfix">
							<tmpl:allgroup_right>
								<ul class="footer__mid__menulist1">
									<tmpl:subgroups>
										<li class="footer__mid__menulist1__item">
											<a href="{$url}" class="footer__mid__menulist1__item__anchor">{$name}</a>
										</li>
									</tmpl:subgroups>
								</ul>
							</tmpl:allgroup_right>
						</div>
					</div><!--end footer__mid-->
					<div class="footer__right">
						<div class="footer__right_i">
							<div class="footer__right__line clearfix">
								<p class="footer__right__text">
									Design by <a href="#">etrange</a>
								</p>
							</div>
							<div class="footer__right__line clearfix">
								<a class="footer__right__bigmir" href="#">&nbsp;</a>
							</div>
							<div class="footer__right__line clearfix">
								<a class="footer__right__lj" href="#"></a>
							</div>
						</div>
					</div><!--end footer__right-->
				</div>
			</div>
		</div>
		<!-- ОКНО AJAX СООБЩЕНИЙ ВО ВРЕМЯ ОЖИДАНИЯ ВЫОЛНЕНИЯ СКРИПТА -->
		<div id="ajaxPreloader" style="display:none;">
			Идёт обновление информации, подождите...
		</div>
		<div id="authPlaceholder" class="jqmWindow"></div>
	</body>
</html>