<h1>Расписание выполнения задач</h1><br />
	<ol>
	<tmpl:goodscript>
		<li>
			<span title="{if $time != ''}Время выполнения скрипта: {$time} сек. {else}Время выполнения скрипта не определено.{/if}">{$name}</span><br/>
			<span style="color:#777; font-size:10px;">{if !empty($dtime)}Дата и время запуска скрипта: {$dtime}, {$status}.{else}Дата и время запуска скрипта не определены.{/if}</span>
			<br /><br />
		</li>
	</tmpl:goodscript>
	</ol>
{if #IS_DEVELOPER}
	<h1><font color=red>Скрипты без расписания</font></h1><br />
	<ol>
	<tmpl:bedscript>
		<li>{$name}</li>
	</tmpl:bedscript>
	</ol>
	<h1><font color=red>Директории не соответсвуют названиям модулей</font></h1><br />
	<ol>
	<tmpl:bedsubpack>
		<li>{$name}</li>
	</tmpl:bedsubpack>
	</ol>
	<h1><font color=red>Неправильное количество параметров для crontab</font></h1><br />
	<ol>
	<tmpl:bad_param>
		<li>{$name}</li>
	</tmpl:bad_param>
	</ol>
{/if}
<br>
<h1>Задачи для выполнения</h1>
<br><br>
{@cron_str}
