<script>
	
	function checkSelect(){
		if($('input[name=checkselect]').attr('checked')) {
			$("input[name^='table_select'][type='checkbox']").attr('checked', true);   
		} else {
			$("input[name^='table_select'][type='checkbox']").attr('checked', false);  
		}
	}
	
	function checkUpdate(){
		if($('input[name=checkupdate]').attr('checked')) {
			$("input[name^='table_update'][type='checkbox']").attr('checked', true);   
		} else {
			$("input[name^='table_update'][type='checkbox']").attr('checked', false);  
		}
	}

	function checkEvent(){
		if($('input[name=checkevent]').attr('checked')) {
			$("input[name^='event'][type='checkbox']").attr('checked', true);   
		} else {
			$("input[name^='event'][type='checkbox']").attr('checked', false);  
		}
	}
	
	function checkView(){
		if($('input[name=checkview]').attr('checked')) {
			$("input[name^='view'][type='checkbox']").attr('checked', true);   
		} else {
			$("input[name^='view'][type='checkbox']").attr('checked', false);  
		}
	}
	
</script>

<h1>{$action}</h1>
<a href="../?module_id={$module_id}"><img border="0" src="/design/cms/img/button/up.gif"> Вернуться к списку привилегий</a>

<form action="/{#LANGUAGE_URL}action/admin/auth/actions/" method="POST" onsubmit="AjaxRequest.form('form', 'Сохраняем...', {});return false;" id="form">
<input type="hidden" name="action_id" value="{$action_id}">
<input type="hidden" name="_return_path" value="{#CURRENT_URL_FORM}">

{if $show_change>0}
	<h1>Таблицы</h1>
	<tmpl:table>
		{if !empty($db_name)}
			<b>{$db_name}</b><br>
		{/if}
		<input type="checkbox" name="table_select[]" value="{$id}" {$checked_select} id="select_{$id}"><label for="select_{$id}">[select]</label>
		<input type="checkbox" name="table_update[]" value="{$id}" {$checked_update} id="update_{$id}"><label for="update_{$id}">[update]</label>
		{$name}<br>
		<span class="comment">SELECT: {$select_actions}</span><br>
		<span class="comment">UPDATE: {$update_actions}</span><br>
	</tmpl:table>
	<input id="checkselect" type="checkbox" name="checkselect" onclick="checkSelect();"><label for="checkselect">Все select</label>
	<input id="checkupdate" type="checkbox" name="checkupdate" onclick="checkUpdate();"><label for="checkupdate">Все update</label>
{/if}

{if $show_event>0}
	<h1>События</h1>
	<tmpl:event>
		<input type="checkbox" name="event[]" value="{$id}" {$checked} id="event_{$id}"><label for="event_{$id}">{$name}</label><br><span class="comment">{$actions}</span><br>
	</tmpl:event>
	<input id="checkevent" type="checkbox" name="checkevent" onclick="checkEvent();"><label for="checkevent">Все события</label>
{/if}


{if $show_view}
	<h1>Доступ к разделам</h1>
	{$view}
	<tmpl:structure>
	{$name} [{$url}]<br>
	</tmpl:structure>
	<input id="checkview" type="checkbox" name="checkview" onclick="checkView();"><label for="checkview">Все разделы</label>
{/if}

<br/>
<br/>
<input type="submit" value="Сохранить изменения">


</form>