BODY, TD {
	margin: 5px 5px 5px 5px;
	background-color: #D5E6FA;
	font-size: 12px;
	font-family: Verdana,Geneva,Arial;
}
FIELDSET {
	padding: 5px 5px 5px 5px;
	margin-right: 5px;
	margin-left: 5px;
	font: bold;
	color: #000066;
}
FIELDSET.error {
	padding: 5px 5px 5px 5px;
	margin-right: 5px;
	margin-left: 5px;
	font-weight: bold;
	color: #CC0000;
}
A {
	text-decoration : none;
	color : #0000FF;
}
A:HOVER {
	color : #6666FF;
}
TABLE {
	border-collapse: collapse;
	padding: 3px;
	border: none;
	width: 100%;
}
TD {
	border-collapse: collapse;
	padding: 3px;
	border: none;
}
TABLE TD.title {
	padding-top: 7px;
	text-align: right;
	width: 145px;
	vertical-align:top;
}
.clsbtn {
	font-size: 11px;
	font-family: Tahoma;
	font-weight: bold;
	margin-top: 10px;
	width: 100px;
}
SPAN.comment {
	font-size : 10px;
}
TABLE TD.left {
	width: 50%;
}


