<h1>Переменные доступные для категории "{$category}"</h1>
<a href="../"><img src="/design/cms/img/button/up.gif" border="0">Вернуться к списку категорий</a>
<p>
<ul>
	<tmpl:row>
	<li>{$name}</li>
	</tmpl:row>
</ul>