<html>
<head>
<title>История документа</title>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=Windows-1251">
<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
<LINK href="/design/cms/css/editor/dialog.css" type="text/css" rel="stylesheet">
<script language="JavaScript" src="/js/shared/global.js"></script>
<style>
TD {
	border-top: 1px solid #CCCCCC; 
}
THEAD TD {
	font: bold;
}
TR.current TD {
	background: #E5F0FC;
}
</style>
<script language="JavaScript">
function noMore() {
	var counter = 0;
	for (var i=0; i < document.Form.elements('compare[]').length; i++) {
		if (document.Form.elements('compare[]').item(i).checked) {
			counter++;
		}
	}
	
	if (counter > 2){
		alert('Можно выбирать только две версии для сравнения');
		return false;
	} else {
		return true;
	}
}
</script>
</head>
<body onContextMenu="return false;" onKeyPress="EnterEsc(event);">
<form name="Form" onSubmit="return confirmLink('Все данные на странице будут удалены, продолжить?')" action="/actions_admin.php" enctype="multipart/form-data" method="POST">
<input type="hidden" name="_event" value="editor/load_template">
<input type="hidden" name="id" value="{$id}">
<input type="hidden" name="table_name" value="{$table_name}">
<table border="0" cellpadding="5" cellspacing="0" width="100%">
	<THEAD>
	<tr>
		<td>#</td>
		<td>Пользователь</td>
		<td>Дата</td>
		<td>Объем</td>
		<td colspan="2" align="center">Действие</td>
	</tr>
	</THEAD>
	<tmpl:row>
	<tr {$class}>
		<td><input onclick="return noMore();" type="checkbox" name="compare[]" value="{$id}"></td>
		<td>{$login}</td>
		<td>{$dtime}</td>
		<td>{$size}</td>
		<td><a href="/tools/editor/cvs/view.php?id={$id}&field_name={$field_name}" target="_blank">Просмотреть</a></td>
		<td><a href="/admin_action.php?_event=editor/cvs&table_name={$table_name}&field_name={$field_name}&id={$id}">Восстановить</a></td>
	</tr>
	</tmpl:row>
	<tr>
		<td colspan="6" align="center"><INPUT class="clsbtn" type="submit" value="Сравнить"></td>
	</tr>
</table>

</form>
</body>
</html>