<html>
<head>
<title>История документа</title>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=Windows-1251">
<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
<LINK href="/design/cms/css/editor/dialog.css" type="text/css" rel="stylesheet">
<script language="JavaScript" src="/js/shared/global.js"></script>
<style>
TD {
	border-top: 1px solid #CCCCCC; 
}
THEAD TD {
	font: bold;
}
TR.current TD {
	background: #E5F0FC;
}
</style>
<script language="JavaScript">
function countCheckboxes() {
	var counter = 0;
	for (var i=0; i < document.Form.elements('compare[]').length; i++) {
		if (document.Form.elements('compare[]').item(i).checked) {
			counter++;
		}
	}
	return counter;
}
function noMore() {
	if (countCheckboxes() > 2){
		alert('Можно выбирать только две версии для сравнения');
		return false;
	} else {
		return true;
	}
}
</script>
</head>
<body onContextMenu="return false;" onKeyPress="EnterEsc(event);">
<form name="Form" action="/tools/editor/cvs/compare.php" target="_blank" method="GET" onsubmit="if(countCheckboxes()<2) {alert('Надо выбрать два документа для сравнения'); return false;}">
<input type="hidden" name="field_name" value="{@field_name}">
<table border="0" cellpadding="5" cellspacing="0" width="100%">
	<THEAD>
	<tr>
		<td>#</td>
		<td>Пользователь</td>
		<td>Дата</td>
		<td>Объем</td>
		<td colspan="2" align="center">Действие</td>
	</tr>
	</THEAD>
	<tmpl:current>
	<tr class="current">
		<td><input onclick="return noMore();" type="checkbox" name="compare[]" value="{$id}"></td>
		<td>{$login}</td>
		<td>{$dtime}</td>
		<td>{$size}</td>
		<td colspan="2">Текущая версия документа</td>
	</tr>
	</tmpl:current>
	<tmpl:row>
	<tr>
		<td><input onclick="return noMore();" type="checkbox" name="compare[]" value="{$id}"></td>
		<td>{$login}</td>
		<td>{$dtime}</td>
		<td>{$size}</td>
		<td><a href="/tools/editor/cvs/view.php?id={$id}&field_name={@field_name}" target="_blank">Просмотреть</a></td>
		<td><a href="/actions_admin.php?_event=editor/cvs_restore&field_name={@field_name}&id={$id}">Восстановить</a></td>
	</tr>
	</tmpl:row>
	{if @safe_mode == 0}
	<tr>
		<td colspan="6" align="center"><INPUT class="clsbtn" type="submit" value="Сравнить"></td>
	</tr>
	{else}
	<tr>
		<td colspan="6" align="center">
			<INPUT class="clsbtn" type="submit" value="Сравнить" disabled><br><br>
			<span style="color:red;">Невозможно производить сравнение документов в безопасном режиме PHP</span>
		</td>
	</tr>
	{/if}
</table>

</form>
</body>
</html>