<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "xhtml11.dtd">
<html>
<head>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1251">
	<META name="Keywords" content="{$keywords}">
	<META name="Description" content="{$description}">
		
	<TITLE>{$title}</TITLE> 
	<LINK href="{#CMS_URI}favicon.ico" rel="shortcut icon">
	
	<!-- СТИЛИ ДИЗАЙНА /-->
	<link rel="stylesheet" type="text/css" href="/design/dev/css/main.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/design/dev/css/style-sano.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/design/dev/css/layout.css" media="screen" />	
	<link rel="stylesheet" type="text/css" href="/design/dev/css/contact.css" media="screen" />	

	<!-- СКРИПТЫ ДИЗАЙНА /-->
	<script src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"></script>	
	<script type="text/javascript" src="/design/dev/js/form.js"></script>
	
	<!-- ПО УМОЛЧАНИЮ /-->
	<script type="text/javascript" src="/js/shared/jshttprequest.js"></script>
	<script type="text/javascript" src="/js/shared/global.js"></script>
		
	
			<!--[if IE 7]>
		<link href="/design/dev/css/style-ie.css" rel="stylesheet" type="text/css" />
		<![endif]-->
</head> 

<body>
<div id="opaco" class="popup-hidden"></div>
	<div id="popup" class="popup-hidden"></div>
<div id="wrap">

	<!-- Основная часть страницы /-->
	<div id="wrap-content1"><div id="wrap-content2">
	<div id="body_right"></div>

    <!-- Шапка /-->
    <div id="header"> 
		<div id="phone">наш телефон <br /><span>044</span>&nbsp;&nbsp;<span class="phone">3740626</span></div>
		<div class="logo"><a href="/" title="Sano Corpore" id="header_logo"></a></div>
		
		<!-- spec offer /-->
		<div id="specoffer">
			<tmpl:news_specoffer>
			<img src="{$image_src}" title="specoffer"/>	
			<div><div>
				<h3><a href="{#CMS_URL}{$url}"><span>{$title1}</span><br/> {$title2}</a></h3>
				<p>{$desc}</p>
			</div></div>
			</tmpl:news_specoffer>
		</div>
		<!-- end spec offer /-->
		
		<!-- slider /-->	
		
		<div id="slider"><tmpl:banners_slider>
           {if $i==1} <img src="{$image_url}" alt="" id="sl{$i}" class="active-slide" usemap="#Navigation"/>
		   {else}<img src="{$image_url}" alt="" id="sl{$i}" usemap="#Navigation"/>{/if}
      
		</tmpl:banners_slider>  </div>

	
		<div id="slider-ball">
				<a  class="active sl-ball1" rel="1"></a>
				<a  class="sl-ball2" rel="2"></a>
				<a class="sl-ball3" rel="3"></a>
				<a  class="sl-ball4" rel="4"></a>
				<!--<a  class="sl-ball5" rel="5"></a> /-->
		</div>
		<map id="Navigation" name="Navigation">
			<area shape="poly" coords="50, 100, 300, 0, 550, 45, 680, 100, 680, 350, 540, 460, 180, 320" href="#" alt="Информация" />
		</map>
		<!-- end slider /-->
		
		<div id="header_menu">
			<ul class="menu">
				<tmpl:top_menu>				
				<li class="menu__list__item"><a href="{#CMS_URI}{$url}" class="menu__list__item__link" {if $clickable==0}onClick="return false;"{/if}>{$name}</a>
				{if $show_submenu}
							<ul class="submenu__list">
								<tmpl:submenu>
									<li class="submenu__list__item"><a href="{$url}" class="submenu__list__item__link ">{$name}</a>
									{if $show_menu}
										<div class="submenu__in">
											<ul class="submenu__in__list">
											<tmpl:nextlevel>
												<li class="submenu__list__item"><a href="http://{$url}" class="submenu__list__item__link "><span>&nbsp;</span>{$name}</a></li>
											</tmpl:nextlevel>
											<ul>
										</div>
									{/if}
									</li>
								</tmpl:submenu>
							</ul>
				{/if}
				</li>
				</tmpl:top_menu>
			</ul>
		</div>
	</div>
	<!-- Шапка /-->
	
	<!-- Основной текст /-->
	<div id="content">
		<div id="left-column">		
			<div class="left title-block"><h2 class="title-m title-news"><a href="{#CMS_URL}arhiv/news">Новости</a></h2></div>
			<div class="left news_next"><a  class="news-prev prev">&nbsp;</a>&nbsp;&nbsp;<a  class="news-next next">&nbsp;</a></div>			
			<div class="clear">&nbsp;</div>
			<div class="scrollable">
				
				<div class="items" style="width:{$left_news_width}px;">
					<ul id="news" class="section">
					<tmpl:news>
						<li>
							<img src="{$image_src}" alt="" title=""/>
							<div class="date">{$day_from}.&nbsp;{$month_from}.&nbsp;{$year_from}</div>
							<h5><a href="{#CMS_URI}{$url}" class="title">{$headline}</a></h5>
							<p>{$desc}
							</p>
						</li>
						{if $i == 0 }</ul><ul id="news" class="section">{/if}
					
					</tmpl:news>
					</ul>					
				</div>
			</div>

		</div>
		<!-- end left-column /-->
		
		<!-- begin right-column /-->
		<div id="right-column" >
			<!-- block trener /-->
			<div id="block-trener">
				<div class='tr-mask'>
					<a class="trener-prev">&nbsp;</a>&nbsp;&nbsp;<a class="trener-next" >&nbsp;</a>
				</div>	
				<div class="scrolltrener">
					<div class="items" style="width:2000px;">
						<tmpl:treners>
						<div class="trener-right section">								
							<div class="trener-img"><img src="{$photo}"></div>
						</div>
						</tmpl:treners>
					</div>					
				</div>

				<div id="trener-name-slider">
					<tmpl:treners>
					<div class="blocktrener {if $i==0}active{/if}" name="{$i}" rel="{$id}">
						<div class="name-tr"><span><span class='ul-tr'>{$name}</span></span></div>
						<div class="post-tr">{$position}</div>	
					</div>	
					</tmpl:treners>
				</div>
				<div class="tr-q" id='contact-form'><a href="#" class="buttoncontent contact"><span>Задать вопрос</span></a></div>
				
			</div>
			<!-- end block trener /-->
			
			<!-- banner /-->

			<div id="block-banner">			
				<tmpl:banners_right>
					<a href="{#CMS_URI}{$link}"><img src="{$image_url}" title="" width="277px" height="119px" class="img"/></a>					
				</tmpl:banners_right>
			</div>
			<!-- end banner /-->
		</div>
		<!-- end right-column /-->

		<!-- begin center-column /-->
		<div id="center-column" class="center-column">
				<h2 class="title-m"><a href="{#CMS_URL}arhiv/article">Пресса о нас</a></h2>
					<tmpl:article>
					<div class="block-center">
						<p>{$desc} </p>
						<a href="{#CMS_URL}{$url}" class="readmore dark">Подробнее</a>
					</div>
					</tmpl:article>
				<div class="margintop">&nbsp;</div>
				<div class="block-vote-center">
					<h2 class="title-m">Голосование</h2>
					<div class="block-center">
						{vote}
						<div class="clear">&nbsp;</div>
					</div>
				</div>

		</div>	
		<!-- end center-column /-->
		<div class="clear">&nbsp;</div>
		
	</div>
	<!-- #end Основной текст /-->
	
	</div></div>
	<!--End Основная часть страницы /-->
	<div id="hFooter"></div>
</div>
<div id="footer"><div class="footer-top"></div>
		<div class="footer-wrap">
				<div id="phone">наш телефон <br /><span>044</span>&nbsp;&nbsp;<span class="phone">5903400</span></div>
				<div class="footer-logo"></div>				

				<div class="footer-search"><form action="/search/" method="GET" name="search_form">
                    <input type="text" id=keyword_serch name=text value="Поиск" class="search_input_text"  onblur="if(this.value=='') this.value='Поиск';" onfocus="if(this.value=='Поиск') this.value='';" />
				</form></div>
		</div>
</div>

<script type="text/javascript" src="/design/dev/js/global.js"></SCRIPT>

<script type='text/javascript' src='/design/dev/js/jquery.simplemodal.js'></script>
<script type='text/javascript' src='/design/dev/js/contact.js'></script>

</body>
</html>