div.shop_products {
	float:left;
	border:1px solid #ccc;
	/*
	width:130px;
	margin: 0 10px 25px 17px;
	*/
	width:150px;
	height:220px;
	margin: 0 12px 15px 15px;
	text-align:center;
	background-color:#eee;
	font-family:Arial;
	font-size:13px;
}
div.shop_products div {
	margin:auto;
	width:110px;
}
div.shop_products img {
	border: 1px solid #888;
	margin:15px 0 20px 0;
}

/*Взятие со Spareparts*/


div.shop_group {
	float:left;
	border:1px solid #ccc;
	width:150px;
	height:30px;
	margin: 0 7px 15px 15px;
	text-align:center;
	background-color:#eee;
	font-family:Arial;
	font-size:13px;
	padding-top:10px;
}
div.shop_products {
	float:left;
	border:1px solid #ccc;
	width:150px;
	height:200px;
	margin: 0 7px 15px 15px;
	text-align:center;
	background-color:#eee;
	font-family:Arial;
	font-size:13px;
}
div.shop_products div {
	margin:auto;
	width:110px;
}
div.shop_products img {
	margin:15px 0 20px 0;
}
img.shop_products_img {
	margin:15px 0 20px 0;
}

table.lamps {
	border-collapse: collapse;
}
table.lamps tr.whitespace td {
	border-left:1px solid white;
}
table.groups tr.title td {
	background-color:#c02428;
	padding:5px;
	color:white;
	font-weight:bold;
}
table.lamps tr.head td {
	border-left:1px solid silver;
	border-bottom:1px solid silver;
	padding:5px;
	color:gray;
}
table.lamps tr.product td {
	border-left:1px solid silver;
	border-bottom:1px solid silver;
	padding:5px;
}
table.groups td.photo { 
	border-left:1px solid white;
	width:100px;
	text-align:center;
}

div.cart_block{
	border:1px solid #aaa;
	width:180px;
	height:50px;
	margin:30px 10px 10px 20px;
	padding:5px 15px 10px 10px;
}
div.cart_block h3{
	font-size:14px;
}
h3.hcart {
	margin:0;
}
