
<tmpl:group> 
	{if #FAQ_OPEN_LEVEL_COUNT == 0}
		<h4><a href="#" onclick="return faq_display_questions({$group_id});">{$group_name}</a></h4>
	{else}
		<h3>{$group_name}</h3>
	{/if}
	
	{if #FAQ_OPEN_LEVEL_COUNT == 0}
		<div id="questions_{$group_id}" style="display: none;">
	{/if}
	
	<ul>
		<tmpl:question>
			<li class="faq2">
				<strong style="margin-right:10px">{$number}.</strong>
				<a href="/Faq/{$uniq_name}.html" target="_blank" {if $is_hot == 'true'} style="color:#221e74;  font-weight:bold"{/if}>
					{$question}
				</a>
				{if $new == 'true'}<SUP style="color:red;">NEW</SUP>{/if}
				<span class="faq_toggle_link">[<a href="javascript:void(0);" onclick="faq_load_question({$question_id});return false;">+/-</a>]</span>
			</li>
			<div id="q{$question_id}" class="question" {if #FAQ_OPEN_LEVEL_COUNT == 2} style="display: block;" {/if}>
				{$answer}
			</div>
		</tmpl:question>
	</ul>
	
	{if #FAQ_OPEN_LEVEL_COUNT == 0}
		</div>
	{/if}
 
</tmpl:group>