{$cms_view}

<DIV class="context_help">
Пользователи, письма от которых возвращаются устанавливаются в стоп-лист на 1 месяц. Электронные адреса таких пользователей
выделены серым цветом и восклецательным знаком.
</DIV>