<html>
<head>
<title>Вставка файла</title>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=Windows-1251">
<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
<LINK href="/design/cms/css/editor/dialog.css" type="text/css" rel="stylesheet">
<script language="JavaScript" src="/js/shared/global.js"></script>
<script language="JavaScript">
function hlight(src, color, bgcolor) {
	src.style.borderColor = color;
	src.style.backgroundColor = bgcolor;
}
function insimg(url) {
	parent.window.opener.Form.{$field_name}.value = url;
	parent.window.close();
	return false;
}

</script>
<style>
TD {
	text-align:center;
	vertical-align: middle;
	width: 110px;
	height: 120px;
	background: white;
	border: 1px solid #CCCCCC;
	padding: 5px;
	font: 10px;
	cursor: hand;
}
IMAGE {
	border: 1px solid #CCCCCC;
}
</style>
</head>
<body onContextMe1nu="return false;" onKeyPress="EnterEsc(event);" style="background:#FFFFFF;">
<table border="0" cellpadding="0" cellspacing="3">
	<tmpl:tr>
	<tr>
		<tmpl:td>
		<td onmouseover="hlight(this, '#CCCCFF', '#F0F0FF');"onmouseout="hlight(this, '#CCCCCC', '#FFFFFF');" onclick="insimg('{$url}');">
			<img src="{$image}" width="{$width}" height="{$height}" border="0" alt="{$url} [{$filesize} байт]"><br>
			{$size}
		</td>
		</tmpl:td>
	</tr>
	</tmpl:tr>
</table>
</body>
</html>