<tmpl:banner>
{if $type == 'flash'} 
	<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" {$tag_attr} id="banner_{$id}" ALIGN="">
		<PARAM NAME="movie" VALUE="{$image_url}?link={$link}">
		<PARAM NAME="quality" VALUE="high">
		<PARAM name="wmode" value="opaque">
		<PARAM NAME="bgcolor" VALUE="#FFFFFF">
		<EMBED wmode="opaque" src="{$image_url}?{flash_var}={$link}" quality="high" bgcolor="#FFFFFF" {$tag_attr} NAME="banner_{$id}" ALIGN="" TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"></EMBED>
	</OBJECT>
{elseif $type == 'html'}
	{$html}
{else}
	<a target="{if $new_window == 'true'}_blank{else}_top{/if}" href="{$link}"><img src="{$image_url}" {$tag_attr} border="0" alt="{$title}"></a>
{/if}
</tmpl:banner>