<div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
		<tmpl:banner>
			<a href="{$link}" title="{$title}"><img src="{$image}" alt="{$description}" /></a>
		</tmpl:banner>
    </div>
</div>
<div id="htmlcaption" class="nivo-html-caption">
</div>
				
