        <div class="wrap_slider">
            <div id="slider">
				<tmpl:banner>
                <a target="{if $new_window == 'true'}_blank{else}_top{/if}" href="{$link}">
					<div class="slider_border"> 
						<img src="{$image}" {$tag_attr} border="0" alt="{$title}" class="slider_photo"/>
						{if !empty($title)}<div class="desc"><span>{$title}</span><br/>{if !empty($description)}<span>{$description}</span>{/if}</div>{/if}
					</div>
				</a>
				</tmpl:banner>
            </div>

            <div id="slider_ball"> 
            </div>
        </div>
