        		<!-- Start photoslider-bullets -->
				<div class="sliderkit photoslider-bullets">
					<div class="sliderkit-nav">
						<div class="sliderkit-nav-clip">
							<ul>
								<tmpl:banner>
								<li><a href="#" title="{$title}"></a></li>
								</tmpl:banner>
							</ul>
						</div>
					</div>
					<div class="sliderkit-panels">
						<tmpl:banner>
						<div class="sliderkit-panel">
							<a href="{$link}" title="{$title}"><img src="{$image}" alt="{$description}" /></a>
						</div>
						</tmpl:banner>

					</div>
				</div>
				<!-- // end of photoslider-bullets -->
				
