<div style="text-align:right;padding:10px;">
	<span style="float:right;" class="button">
		<a href="/{#LANGUAGE_URL}action/admin/cms/db_{$db_type}/?db_alias={%_GET.db_alias}&_return_path={#CURRENT_URL_LINK}"><img src="/img/sdk/reload.png" border="0" align="absmiddle"> Обновить структуру БД</a>
	</span>
</div>


{$cms_view}
 
<div id="table_xml">
	<form action="/action/admin/sdk/table_xml_upload/" method="post" enctype="multipart/form-data">
		<input type="hidden" name="_return_path" value="{#CURRENT_URL_FORM}">
		
		<h4 align="center">Импорт таблиц</h4> 
		XML файл таблиц:<br/><input type="file" name="table">
		<input type="submit" value="Импорт" >
	</form>
</div>