body{ background: #fff6d7 url('/design/dev/img/sanocorpore/bg2.gif') 50% 0 no-repeat;}

#body_right {
position: absolute;
width: 50%;
left: 50%;
background: url('/design/dev/img/sanocorpore/bg-top.gif') -11px 0px repeat-x;
height: 50px;
z-index:-1;
}

#wrap-content2{margin-left:0px;background: url('/design/dev/img/sanocorpore/header.gif') no-repeat;}

/*begin header */
#slider img{z-index:1;}
#slider img{display:none;}
#slider img.active-slide{display:block;}
#slider-ball a{display:block; width:18px; height:18px; background: url('/design/dev/img/sanocorpore/sl-ball.png') no-repeat; float:left;}
#slider-ball a:hover, #slider-ball a.active{background: url('/design/dev/img/sanocorpore/sl-ball-active.png') no-repeat;}
#slider-ball a.sl-ball2{margin:8px 0px 0px 2px;}
#slider-ball a.sl-ball3{margin:16px 0px 0px 2px;}
#slider-ball a.sl-ball4{margin:22px 0px 0px 2px;}
#slider-ball a.sl-ball5{margin:28px 0px 0px 2px;}

#specoffer img{z-index:2;}

#specoffer > div {background: url('/design/dev/img/sanocorpore/bg-spec-offer.png') no-repeat; z-index:3;}
#specoffer div div{position:static;display:block;width:160px; margin: 40px auto 0px auto; color:#083b76;font-size:11px; z-index:4;}

#specoffer h3 {font-size:20px; line-height:20px; text-transform: uppercase;
margin:0px; font-weight:bold;color:#083b76;}
#specoffer h3 span{color: #7c6413; font-size:17px;line-height:15px; }
#specoffer h3 a{text-decoration:none;}
/*end header */

/* main part */
#left-column{padding-top:55px;}
#right-column{}
div#center-column {margin: 0px 310px 0px 400px; padding-top:100px;}


/* news left */
div.scrollable {height: 460px;width: 370px;overflow: hidden;position: relative;}
.scrollable .items {position: absolute;clear: both;}
.items .section {float: left;width: 370px;}

.title-block{width:250px;}
.title-m{background: url('/design/dev/img/sanocorpore/title-m.png') no-repeat; text-align:left; 
	padding:15px 0px 15px 30px; font-size:18px; line-height:18px; margin:0px;
	display:block; width:100%;
}
.title-m a{text-decoration:none; color:#7C6413;}
 .title-news {background-position: 20px 0px; padding-left:50px;}
 
.news_next{width:85px;}
.news-prev, .news-next, .trener-prev, .trener-next {display:inline-block; width: 38px; height:40px;text-decoration: none;}
.news-prev{background: url('/design/dev/img/sanocorpore/new-arrow-l.png') 0px 2px no-repeat; }
.news-next{background: url('/design/dev/img/sanocorpore/new-arrow-r.png') 0px 2px no-repeat;}


ul#news{ margin-top:45px; list-style:none;font-family: Verdana, Tahoma, sans-serif;}
ul#news li{margin-top:25px; clear:both; min-height:115px;}
ul#news img{float:left; padding-right:10px;}
ul#news .date{font-size:10px;}
ul#news p{line-height:16px; margin-top:8px;}

/* end news left */


/* trener right */
#block-trener{position:relative; padding:0px 0px 35px 0px; min-height:250px; display:table;margin:0px 20px;text-align:center;}

#block-trener .scrolltrener {height: 155px;width: 190px;overflow: hidden;position: relative;}
#block-trener .scrolltrener .items {position: absolute;clear: both;}
#block-trener .scrolltrener .section {float: left;width: 190px;}

#block-trener .blocktrener {display:none;}
#block-trener  .active{display:block;}

#block-trener .trener-right {position:relative;width:190px; height:153px; overflow:hidden; margin:0px auto;} 
#block-trener .trener-img{width:145px; margin:0px auto;}

#block-trener .block-name{position:absolute; top:155px; z-index:5;}
#block-trener .tr-mask  {position:absolute; background:url('/design/dev/img/sanocorpore/trener2.png') 50% 0 no-repeat; display:block;width:197px; height:153px; z-index:5; } 
#block-trener .trener-prev{position:absolute; top:50px; left:0px;cursor:pointer;}
#block-trener .trener-next{position:absolute; top:50px; right:20px; cursor:pointer;}
#block-trener .name-tr{margin:5px 0px; background: url('/design/dev/img/sanocorpore/tr-name-l.png') no-repeat 0 0; line-height:31px; padding-left:3px; }
#block-trener .name-tr span{background: transparent url('/design/dev/img/sanocorpore/tr-name-r.png') no-repeat 100% 0;display: block;
	height: 30px;margin-left: 8px;padding: 0 0px;color: #083b76;}
#block-trener .name-tr span .ul-tr{background: transparent url('/design/dev/img/sanocorpore/tr-ul.png') no-repeat 0px 11px; padding-left:15px;padding-right:10px;}
#block-trener .post-tr{text-align:center;}
#block-trener div.tr-q{margin-top:20px; text-align:center;}
/* end trener right */



/* Popup */

.popup-hidden {display: none;}

 /* Pop-up message and fading background */
  #opaco {
     background-color: #a38b3e;
     left: 0;
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";/* IE8 */
     filter:progid:DXImageTransform.Microsoft.Alpha(opacity = 70); /* IE5+ */
     filter: alpha(opacity=70);/* IE4- */
     moz-opacity: 0; /* Mozilla */
     -khtml-opacity: 0; /* Safari */
     opacity: 0;  /* general CSS3 */
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 10000;
   }

  #popup {
     background-color: #f9edc5;
     position: fixed;
     left:0;
     top:0;
     width:311px;
	 height:133px;
	 border: 1px solid #7c6413;
     /*min-width: 300px;*/
     z-index: 10001;
  }
  
  #popup-close {
	background: url('/design/dev/img/sanocorpore/cross.png');
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	z-index: 10001;
	top: 9px;
	left: 296px;
	position: absolute;
	cursor: pointer;	
  }
  
  #popup-message {
	z-index: 10001;
	top: 55px;
	left: 23px;
	width: 242px;
	color: #7c6413;
	font-size: 12px;
	position: absolute;  
  }
  
  #popup #form_feedback_form {
	z-index: 10001;
	top: 55px;
	left: 23px;
	width: 242px;
	color: #fff;
	font-size: 12px;
	position: absolute;  
  } 
  
  #popup #vote_form {
	z-index: 10001;
	top: 55px;
	left: 23px;
	width: 242px;
	color: #7c6413;
	font-size: 12px;
	position: absolute;  
  }  
  
 #vote-line{width:210px; margin:10px 0px 0px 15px;}
 .vote_line{color:#6d6d6d; font-size: 11px; height:40px; overflow:hidden; }
 .vote_line_left {float: left; margin-bottom: 5px;}
 .vote_line_right {float: right; margin-bottom: 5px;}
 .vote_line .ground {clear:both; background: url(/design/dev/img/sanocorpore/bg_vote.jpg); background-repeat: no-repeat; width: 210px; height: 14px; margin-bottom: 4px;}
 .vote_line .progress {background: url(/design/dev/img/sanocorpore/bg_vote_active.jpg) 0px 1px repeat-x; height: 14px;}
 .count_question {color:#6d6d6d; font-size: 12px;}