#slider{margin:0 auto; position:relative}
img {border:none;}

.banner_code textarea{width:600px; height:200px}
.banner_code{padding:10px}
.banners{padding:10px}
.groove{background-color:#ccc}
.scroll{overflow:auto; position:relative; clear:left}
.scrollcontainer div.panel{text-align:center}
.service_message{font-size:11px; color:#999}
.shine{background-color:#eee}

a.delete{color:#b82626}
a.domain-toggle{padding:2px; text-decoration:none; border-bottom:1px dashed; font-size:11px}
a.page_list{margin:5px; font-weight:bold; padding:5px 8px; background-color:#e6f0fa; height:30px; text-decoration:none; text-align:center; width:30px; /*firefox*/-moz-border-radius-bottomleft:3px; -moz-border-radius-bottomright:3px; -moz-border-radius-topleft:3px; -moz-border-radius-topright:3px; /*chrome,safari*/-webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px; -webkit-border-bottom-left-radius:3px; -webkit-border-bottom-right-radius:3px}
a.selected{font-weight:bold}
a.switched{ color:#900}
a{color:#1873b4}

body{margin:0; padding:0; height:auto; width:100%; font-family:tahoma; font-size:12px; font-weight:regular;}

div.advantages div{float:left; width:240px; height:60px; padding:10px 10px 10px 60px; border:1px solid #ccc; background-color:#f0f0f0; margin:5px}
div.auth a{display:block; margin-bottom:5px}
div.auth div.avt{margin-top:60px; font-size:18px; color:#3e87d4; margin-left:90px}
div.auth div.but input{width:auto; margin-top:-15px; margin-left:0px; margin-right:25px; float:right}
div.auth div.inner_auth{margin-left:90px}
div.auth input{width:150px; margin-bottom:5px}
div.auth{position:absolute; width:270px; height:225px; top:300px; }

div.bg_layer{height:100%; width:100%; position:absolute; top:0; left:0; display:none; background-color:black; filter:progid:dximagetransform.microsoft.alpha(opacity=50); opacity:0.5; z-index:10}
div.bg{width:100%; height:auto; margin:0 auto 10px auto}

div.blackip{margin-top:10px; padding:10px; border:1px solid #ccc}
div.complaint{background-color:#f0f0f0;  border:1px solid #ccc; padding:15px}

div.contact {position:absolute; top:-203px; left:100px; margin-left:20px; margin-top:30px;  width:200px; height:170px;padding:15px 0 0 15px;}
div.contact div.hotl{font-family:Tahoma;font-size:12px; display:block; margin-left:10px; margin-top:20px; font-weight:bold; color:#406f87;}
div.contact font.cod{font-size:12px; color:#82a0ce; display:block; margin-left:10px; margin-top:0px; font-weight:bold}
div.contact font.num{font-family:"Arial Narrow";font-size:22px; color:#597189; display:block; margin-left:10px; margin-top:0px; font-weight:bold}

div.delta_error { border:1px solid #94000c; color:#94000c; margin:5px; padding:20px; background-color:#ffefeb; background-repeat:no-repeat; box-shadow:1px 1px 1px #fff inset; border-radius:5px; }
div.delta_success { border:1px solid #276630; color:#276630; margin:5px; padding:20px; background-color:#edf8ee; background-repeat:no-repeat; box-shadow:1px 1px 1px #fff inset; border-radius:5px; }
div.delta_warning { border:1px solid #f39e0e; margin:5px; padding:20px; background-color:#fbecce; background-repeat:no-repeat; box-shadow:1px 1px 1px #fff inset; border-radius:5px; }
div.delta_warning a {color:#1873B4;}
div.delta_info { border:1px solid #ccc; margin:5px; padding:20px; background-color:#fff; color:#666; box-shadow:1px 1px 1px #fff inset; border-radius:5px; }

div.delfloat{clear:both; width:100%; height:1px; font-size:1px}

div.doc a{color:red}
div.doc center{color:#000}
div.doc{float:left; padding:6px; margin:15px; font-size:12px; border:1px solid #ececec}

div.fixnemberposition{padding:0 0 50px 0}

div.form div.host  div{margin-bottom:5px}
div.form div.host a{padding:10px}
div.form div.host div.host1{margin-left:10px; margin-right:20px; float:left}
div.form div.host{width:69%; height:auto;  float:left}
div.form div.text img{margin-left:70px; margin-top:150px}
div.form div.text{width:30%; float:left}
div.form_error{margin-top:15px; margin-left:25%; padding-left:10px; color:red; font-weight:bold}
div.form_title{color:#4475db; margin-top:20px; padding-left:170px; font-weight:bold; font-size:16px}

div.fullsmap_0{margin:0; display:none}
div.fullsmap_1 a{font-weight:bold}
div.fullsmap_1{margin:2px 0 2px 20px}
div.fullsmap_2{margin:2px 0 2px 40px}
div.fullsmap_3{margin:2px 0 2px 60px}
div.fullsmap_4{margin:2px 0 2px 80px}

div.home{position:absolute; right:300px; top:50px}
div.line{width:100%; height:1px; font-size:1px; border-top:1px solid #dbdbdb; margin-top:-26px; position:absolute; z-index:-10}

div.menu ul.menu li{color:#1873b4; list-style:square outside; list-style-image:none; margin:5px}
div.menu ul.menu li{color:#1873b4; list-style:square outside; list-style-image:none; margin:5px}

div.news_left_menu {margin-top:30px}
div.news_left_menu a {color:#406f87; text-decoration:none;}

div.payer_type{display:none}
div.payment{float:left; border:1px #d8d8d8 solid; position:relative; width:250px; height:125px; text-align:center; margin:20px; padding:10px 0 0; color:#1873b4; text-decoration:underline; /*firefox*/-moz-border-radius:5px; /*chrome,safari*/-webkit-border-radius:5px}
div.paymlist{margin:15px 0 0}

div.smap_0 a{font-weight:bold}
div.smap_0{margin:0; display:none}
div.smap_1{margin:2px 0 2px 20px}
div.smap_2{margin:2px 0 2px 40px}
div.smap_3{margin:2px 0 2px 60px}
div.smap_4{margin:2px 0 2px 80px}

div.switcher{text-align:right; background:none}

div.task_layer{padding:10px; background:#fff; font:11px verdana; border:1px solid #5b7f93; display:none; position:absolute; top:200px; left:50%; width:600px; margin-left:-300px; background-color:white; z-index:50; /*firefox*/-moz-border-radius-bottomleft:20px; -moz-border-radius-bottomright:20px; -moz-border-radius-topleft:20px; -moz-border-radius-topright:20px; /*chrome,safari*/-webkit-border-top-left-radius:20px; -webkit-border-top-right-radius:20px; -webkit-border-bottom-left-radius:20px; -webkit-border-bottom-right-radius:20px}
div.task_menu_item img{position:relative; top:4px; margin-right:3px}
div.task_menu_item{padding:1px}
div.tasktitle{/*firefox*/-moz-border-radius-topleft:20px; -moz-border-radius-topright:20px; /*chrome,safari*/-webkit-border-top-left-radius:20px; -webkit-border-top-right-radius:20px; background:#f6f6f6; text-align:center; font-size:15px; color:#000; padding:8px}

div.vote_answer{padding-bottom:5px}
div.vote{background-color:#f0f0f0; padding:10px; width:210px}

div.whiteip input#limit{width:50px; text-align:right}
div.whiteip textarea{width:265px; height:150px}
div.whiteip{margin-top:10px}

font.rangetime{ margin:10px 0 0 10px}

h1{font-size:20px; color:#1f84ff; margin-bottom:10px; margin-top:0px; font-weight:normal}
h2{font-size:18px; color:#73b4ff; margin-bottom:10px; margin-top:15px; font-weight:normal}
h3{font-size:16px; color:#333; margin-bottom:20px; margin-top:40px; font-weight:bold; font-family:tahoma; margin:10px 0px}
h4{margin:2px 3px}
hr{padding:0px}

img.logo{top:40px; left:70px; position:absolute}
img.paybl{position:absolute; bottom:-1px; left:-1px}
img.paybr{position:absolute; bottom:-1px; right:-1px}
img.paytl{position:absolute; top:-1px; left:-1px}
img.paytr{position:absolute; top:-1px; right:-1px}
img.topmenubl{position:absolute; bottom:0px; left:0px}
img.topmenubr{position:absolute; bottom:0px; right:0px}
img.topmenutl{position:absolute; top:0px; left:0px}
img.topmenutr{position:absolute; top:0px; right:0px}

input.calendar{background:white url(/design/cms/img/icons/calendar_v2.gif) center right no-repeat; width:90px; border:1px solid #7f9db9}
input.date{background:white url(/design/cms/img/icons/calendar_v2.gif) center right no-repeat; width:90px}
input.top-auth{font-size:11px; font-family:tahoma; padding:0px 5px 0px 5px; width:126px; height:15px}
input.wide{width:90%; border:1px solid #7f9db9}
input.wide{width:90%; border:1px solid #7f9db9}

span.asterix{color:red}
span.asterix{color:red}
span.btext{font-size:18px}
span.comment{color:gray; font-size:10px}
span.news_date{color:#aaa}
span.page_list{background-color:silver; color:white; font-weight:bold; margin:5px; padding:5px 8px; height:30px; text-align:center; width:30px; /*firefox*/-moz-border-radius-bottomleft:3px; -moz-border-radius-bottomright:3px; -moz-border-radius-topleft:3px; -moz-border-radius-topright:3px; /*chrome,safari*/-webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px; -webkit-border-bottom-left-radius:3px; -webkit-border-bottom-right-radius:3px}

table.ajax_login .caption{font-size:140%; padding-left:50px}
table.ajax_login td.title{font-weight:bold; text-align:right; width:100px}
table.ajax_login td{padding:5px}
table.ajax_login{margin:10px 20px 20px 20px}

table.content td.main li{margin-top:10px}
table.content td.main{padding-left:20px; padding-bottom:30px}
table.content td.news{width:300px; vertical-align:top; padding-top:0px}
table.content td{vertical-align:top}
table.content{margin:0 0 40px 0; width:100%}

table.form input.text{width:90%}
table.form td.title{text-align:right; vertical-align:top; width:130px; padding:4px 0 0 20px; font-weight:bold}
table.form td{padding:2px}
table.form textarea{width:90%; height:100px}
table.form{width:100%}

table.forum_top_small td.username{text-align:left}
table.forum_top_small td{padding:4px 2px; text-align:right}
table.forum_top_small thead td{font-size:9px; font-weight:bold}
table.forum_top_small tr.odd td{background-color:#f0f0f0}
table.forum_top_small{border-collapse:collapse; width:100%; margin-bottom:10px}

table.fullsitemap a{text-decoration:none}

table.function_list td li{margin-bottom:5px; }
table.function_list td ul{margin-left:5px; padding-left:25px}
table.function_list td{font-size:13px}

table.message{margin:20px 0}

table.news_archive td.news_date{vertical-align:top; text-align:right; padding-top:10px; padding-right:10px; color:#999; width:150px}
table.news_archive td.news_title{padding-top:10px; vertical-align:top}
table.news_archive tr.year td{padding:15px 0 2px 0; color:#636358; font-size:12px; font-weight:bold}

table.news_main td.date span{padding:0 4px; background-color:#f8f8dc; border:1px solid #dadac1}
table.news_main td.date{width:50px}
table.news_main td{padding-top:5px}
table.news_main{width:100%}

table.release td.col1{width:90%}
table.release td.col2{width:10%; text-align:center}
table.release tr.row1 td li, 
table.release tr.row1 td{background:#f0f0f0; vertical-align:middle; padding:5px}
table.release tr.row2 td li{list-style:disc inside}
table.release tr.row2 td{background:#fff; vertical-align:middle; padding:5px}
table.release{width:530px; margin-bottom:50px}

table.sitemap a{text-decoration:none}

table.submenu a:hover{color:white}
table.submenu a{color:white; text-decoration:none; font-size:11px}
table.submenu td.item_empty a{text-decoration:underline !important; padding-right:10px}
table.submenu td.item_empty{background-color:#666; padding-left:5px; padding-right:5px; padding-top:0px; font-size:11px; color:white}
table.submenu td.item_first{background-color:#666; padding-left:10px; padding-right:20px; padding-top:0px}
table.submenu td.item{padding-left:20px; padding-right:20px; padding-top:0px}
table.submenu td{font-size:2px}
table.submenu{margin-top:15px; margin-left:40px}

table.support td{padding:5px; border-bottom:1px solid silver}
table.support thead td{font-weight:bold; border-bottom:2px solid silver}

table.view td{border-bottom:1px solid silver; padding:7px 0}
table.view thead td{font-weight:bold; border-bottom:2px solid gray}

table{margin:0; padding:0}
td.news ul li{margin-bottom:4px}
td{font-family:tahoma; font-size:12px; font-weight:regular}
textarea.wide{width:90%; height:150px}
textarea.wide{width:90%; height:150px}

/* FAQ */
div.question{padding:5px; display:none; color:#000}
span.answer_not_found{color:gray}
li.faq{list-style:disc inside; color:#1873b4; margin-bottom:5px}
li.faq div{color:black}
li.faq2{list-style:none; color:#1873b4; margin-bottom:5px}

/* News calendar */
div.calendar{border:1px solid #ececec; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:10px; width:200px}
div.calendar table{width:100%; text-align:center}
div.calendar a{font-weight:bold}
div.calendar a img {border:none;}
div.calendar table td{vertical-align:middle; border:1px solid white}
div.calendar table thead{text-align:center}
div.calendar table td.weekend{color:red}
div.calendar table td.today{border:1px solid red}
div.calendar table td.month div{background:#82A0CE; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:5px; color:#fff; font-size:18px}

/* News */
#content-padding{padding:0 25px 25px 25px; background-color:#fff}
#content{padding:25px 25px 15px 25px; padding:0; width:100%; clear:both; overflow:hidden}
#post-head{width:100%; border-collapse:collapse}
#post-head tr td#head-date{width:50px}

.post{padding:0px; clear:both; overflow:hidden; margin-top:20px}
.post .date{height:50px; width:55px; background:url(/img/news/wide-calendar.gif) no-repeat; font:normal 22px Arial,Helvetica,sans-serif; color:#666; text-align:center; padding:0px 2px 0 0; line-height:100%; float:left}
.post .date span{height:16px; display:block; font:normal 11px Arial,Helvetica,sans-serif; color:#fff; text-align:center; padding-top:5px}
.post .title{float:left; margin-left:10px; width:100%}
.postdata{font-size:90%; color:#999}
.postdata a, .postdata a:visited{color:#999; text-decoration:none}
.postdata a:hover{color:#44a1d0; text-decoration:none}
.postdata .category{background:url(/img/news/mini-category.gif) no-repeat; padding-left:18px; height:20px; float:left}
.mini-add-comment{background:url(/img/news/mini-down-arrow.gif) no-repeat left center; padding-left:12px; margin-right:90px; float:right}
.entry{padding:10px 0px 5px; margin-bottom:20px; clear:both}
.entry p.submeta{font-size:11px}

/* post title */
h2{color:#333; margin:3px 0 2px; padding-bottom:4px; font:normal 150%/100% "Lucida Grande",Arial,sans-serif; margin-right:90px; border-bottom:dotted 1px #CCC}
h2 a, h2 a:visited{color:#333; text-decoration:none}
h2 a:hover{color:#44a1d0; text-decoration:none}
/* h3{color:#666; margin:5px 0px 5px; font:bold 110%/110% "Lucida Grande",Arial,sans-serif} */

/* next &previous post navigation */
.post-nav{clear:both; padding-bottom:35px; margin-top:15px; font-size:95%; padding-right:80px}
.post-nav a, .post-nav a:visited{color:#999; text-decoration:none}
.post-nav a:hover{color:#000; text-decoration:none}
.post-nav .previous a{float:left; width:450px; height:20px; padding-left:20px; padding-top:6px; background:url(/img/news/navigation-left.gif) no-repeat left center}
.post-nav .next a{float:right; padding-right:20px; width:450px; height:20px; padding-top:6px; text-align:right; background:url(/img/news/navigation-right.gif) no-repeat right center}

.news_date{vertical-align:top; text-align:right; padding-top:10px; padding-right:10px; color:#999; width:150px}
.news_title{padding-top:10px; vertical-align:top}

/* Support */
DIV.remark{width:70%; margin-top:5px; margin-bottom:10px}
DIV.remark DIV.title{display:block; margin-bottom:5px; padding:3px; border-bottom:2px solid silver}
DIV.remark DIV.content{padding:5px 5px 15px 5px; background-color:#eee; border:1px solid silver}
TABLE.ticket_table td{padding:10px 15px 10px 10px}

/* User */
div.identity_check_ok{color:green; font-weight:bold; padding-top:3px; display:none}
div.identity_check_failed{color:red; font-weight:bold; padding-top:3px; display:none}

/* Forum */
table.forum{clear:both; border-collapse:collapse; margin-top:10px; width:100%}
table.forum td{border:1px solid #ccc; text-align:center; vertical-align:top; padding:10px}
table.forum td.forum_name{text-align:left; height:60px; padding-left:0px}
table.forum thead td{font-weight:bold; background-color:#ddd; padding:7px 7px}
table.forum td.message{text-align:left}
table.forum tr.odd td.message{background-color:#f0f0f0;}

a.green{color:green}
a.red{color:red}
a.new_post{color:green; font-weight:bold; font-size:15px}
div.new_post{width:350px; float:right}

tr.moderator td{background:#f0f0f0; text-align:left}
div.moderator{border:1px solid #ccc; background-color:#eee; padding:5px; margin-top:10px}

/* Comment */
div.comment{width:100%; padding:10px 10px 10px 0px; border-right:10px solid white; font-size:12px}
div.comment_text{border:1px solid #d9d9d9; position:relative; margin:0; float:left; padding:0px 10px 0px 0px; width:expression((document.documentElement.clientWidth >70)?'auto':'70px'); min-width:70px}
div.comment_text img{clear:both; margin:0}
div.comment_text img.abs1{position:absolute !important; top:-1px !important; left:-1px; !important}
div.comment_text img.abs2{position:absolute !important; top:-1px !important; right:-1px !important}
div.comment_text img.abs3{position:absolute !important; bottom:-1px !important; right:-1px !important}
div.comment_text img.abs4{position:absolute !important; bottom:-9px !important; left:-1px !important}

div.comment_author{margin:2px 0 0 0; padding:3px; float:left; clear:both; font-family:Arial; font-size:11px; color:#737373}
div.comment_form{display:none; padding:15px 0; width:70%}
div.comment_form textarea{height:100px; display:block; width:300px}
div.comment_form .input_image{margin:10px 20px 10px 0}
div.comment_delfloat{clear:both; width:100%; height:1px; font-size:1px}
 
div.bg_layer{height:100%; width:100%; position:absolute; top:0; left:0; display:none; background-color:black; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); opacity:0.5; z-index:10}
div.task_layer{padding:10px; background:#fff; font:11px verdana; border:1px solid #5b7f93; display:none; padding:20px; position:absolute; top:200px; left:50%; width:400px; margin-left:-300px; background-color:white; z-index:50; /*Firefox*/-moz-border-radius-bottomleft:20px; -moz-border-radius-bottomright:20px; -moz-border-radius-topleft:20px; -moz-border-radius-topright:20px; /*Chrome,Safari*/-webkit-border-top-left-radius:20px; -webkit-border-top-right-radius:20px; -webkit-border-bottom-left-radius:20px; -webkit-border-bottom-right-radius:20px}
div.task_layer textarea{width:99%; @charset "windows-1251"; height:150px}

/* SiteMap */
DIV.smap_0{font-size:16px; font-weight:bold; padding:5px}
DIV.smap_1{font-size:14px; padding:3px 3px 3px 20px}
DIV.smap_2{font-size:11px; padding:1px 1px 1px 40px}
DIV.smap_3{padding:2px 2px 2px 50px}
DIV.smap_4{padding:2px 2px 2px 60px}
DIV.smap_5{padding:2px 2px 2px 70px}

/* AJAX */
#ajaxPreloader, 
.ajaxPreloader{border:1px solid #B4DAFF; position:absolute; background:white; left:50%; width:200px; margin-left:-100px; top:200px; padding:40px 40px 40px 40px; text-align:center; display:none; z-index:99999999; }

div.tooltip{position:absolute; z-index:999; left:-9999px; background-color:#dedede; padding:10px; border:1px solid #fff; width:150px; /*display:none; */}
div.tooltip p{margin:0; padding:0; color:#fff; background-color:#222; padding:10px; line-height:150%}
img{vertical-align:top}

/* Gallery */
div.gallery_subunit {float:left;padding:12px;border:1px solid silver;margin:0 10px 10px 0; height:110px;text-align:center;background-color:#f0f0f0;}
div.gallery_subunit img {border:1px solid gray;margin-bottom:7px;}
div.gallery_pages {clear:both; text-align:center;padding-top:10px;}

tr.odd{ background-color:#fff; } 
tr.even{ background-color:#f2f2f2; }
.column{  border-right:1px solid #ccc; }

/* MAIN DESIGN */
body { background-color:#E8E9EC; } 
fieldset { background-color:#f0f0f0; margin:5px 5px 5px 0px; padding:5px; border:1px solid #7398AF; } 

div.head { background-color:#fff;  padding:5px; border:1px solid #B0B4BE;  position:absolute;  margin-top:30px;} 
div.body { padding:5px; position:relative; top:100px; } 
div.body div.body_left {  margin:5px; padding:5px;  position:relative; width:250px; } 
div.body div.body_center {   margin:5px; padding:5px; position:absolute; left:275px; right:380px; top:5px; } 
div.body div.body_right { margin:5px; padding:5px;   position:absolute; width:350px; right:10px; top:5px; } 
div.foot { text-align:center;  font-size:10px; } 

fieldset.top_menu { position:relative; float:left; }
fieldset.auth_form { position:relative; float:right; }
input[type=text],input[type=password] { border:1px solid #000; background-color:#fff;  }

fieldset.shoppingcart { z-index:10; right:10px;  }

div.help_content { position:absolute; font-size:11px; padding:10px 20px; width:400px; border:1px solid #7398AF; background-color:#fff; z-index:9999; display:none;}

