<script language="JavaScript">
	function load(path, page, is_zip) { 
		$('#content_log').html('');
		AjaxRequest.form('logs', 'Подождите...', {'path':path, 'page':page, 'is_zip':is_zip});  
		return false; 
	}
	
	function log_display(path, sort, destination, page){
		AjaxRequest.send(null, '/{#LANGUAGE_URL}action/admin/cms/logs/view/', 'Загружаю...', true, {'path':path, 'sort':sort, 'destination':destination, 'page':page});
		return false;
	}
</script>

<form id="logs" action="/{#LANGUAGE_URL}action/admin/cms/logs/navigate/" method="POST" enctype="multipart/form-data">
	<input type="hidden" name="_return_path" value="{#CURRENT_URL_FORM}">
</form>  


<h1>Логи событий</h1>
<!--<div style="margin:20px;">
	<tmpl:archives>
		<a href="javascript:void(0);" {if @current_archive == $name}class="selected"{/if}>{$name}</a>
	</tmpl:archives>
</div>   -->

<div id="content_navi"></div>
<div class="context_help">
	* Чтобы открыть лог события за определенную дату, пожалуйста, 
	найдите его с помощью навигационного меню выше, и нажмите на соответствующий файл.
</div>


<div id="content_log"></div>