
div.otp_menu { } 
 
div.otp_menu div.button {  
	color:#000; 
	border-top-left-radius:10px; 
	border-top-right-radius:10px; 
	padding:2px 15px; 
	margin-right:5px;  
	cursor:pointer; 
	width:200px;  
	float:left; 
	
}

div.otp_menu div.button_gray:hover { color:#1873B4;  }
 
div.otp_menu div.button_active { border:1px solid #ccc; border-bottom:none; background-color:#f3f3f3; box-shadow:#dcdcdc 1px -1px 3px; }
div.otp_menu div.button_gray { border:1px solid #ccc; border-bottom:none;  }
div.otp_menu div.button_green { border:1px solid #276630; border-bottom:none; background-color:#edf8ee; box-shadow:#dcdcdc 1px -1px 3px; }
div.otp_menu div.button_red { border:1px solid #bd3209; border-bottom:none; background-color:#ffefeb; box-shadow:#dcdcdc 1px -1px 3px;  }
   
div.otp_menu div.button img { float:left; }
div.otp_menu div.button span{ margin:0px 10px; line-height:28px; }

div.otp_content { display:none; margin-top:-1px; padding:20px 10px 10px 10px; min-width:80%; }


div.otp_content_gray { background:#fff url(/img/user/otp/content_gray_bg.png) repeat-x top left; border:1px solid #ccc; }
div.otp_content_green { background:#fff url(/img/user/otp/content_green_bg.png) repeat-x top left; border:1px solid #276630; }
div.otp_content_red { background:#fff url(/img/user/otp/content_red_bg.png) repeat-x top left; border:1px solid #bd3209; } 

div.otp_content h1.enabled { color:#276630; margin-top:20px; } 
div.otp_content h1.disabled { color:#bd3209; margin-top:20px; }
div.otp_content input.submit { width:200px; }


div.otp_mobile_content { margin:10px 0px; padding:10px; border:1px solid #b4c8d4; background-color:#fafafa;  }
label.otp_mobile_type { margin:5px 5px 5px 15px; cursor:pointer; }

table.otp_form tr td.title{ text-align:right; padding-right:5px; width:100px;}

div.otp_configured { margin: 20px 0px; }

a.otp_disable_button { padding:7px 10px; text-decoration:none; vertical-align:middle;  } 
a.otp_disable_button:hover { color:#1873B4; } 

a.otp_enable_button { padding:7px 10px;  text-decoration:none; vertical-align:middle;  } 
a.otp_enable_button:hover { color:#1873B4; } 
	