<HTML>
<HEAD>
	<LINK href="/design/cms/css/editor/src.css" type="text/css" rel="stylesheet">
	{if !empty($css)}
		<LINK href="{$css}" type="text/css" rel="stylesheet">
	{/if}
</HEAD>
<BODY>
	{$content}
</BODY>
</HTML>