<html>
<head>
<title>Вставка изображения</title>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=Windows-1251">
<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
<LINK href="/design/cms/css/editor/dialog.css" type="text/css" rel="stylesheet">
<script language="JavaScript" src="/js/shared/global.js"></script>
<script language="JavaScript">
// Картинка предварительного просмотра
var previewImage = new Image();

function checkForm() {
	var imgRegExp = /\.(jpg|gif|png)$/i;
	var currentForm = document.all.Form;
	
	currentForm.normalImage.focus();
	
	if (currentForm.normalImage.value == "") {
		alert("Введите адрес изображения");
		return false;
	} else if(null == currentForm.normalImage.value.match(imgRegExp)) {
		alert ("Internet Explorer не поддерживает данный тип файлов")
		return false;
	} else {
		document.getElementById("submitButton").disabled = true;
		return true;
	}
	return false;
}

/**
* Определение положения картинки
*/
function position (pos) {
	document.getElementById('default').style.border = '1px solid silver';
	document.getElementById('left').style.border = '1px solid silver';
	document.getElementById('right').style.border = '1px solid silver';
	document.getElementById('top').style.border = '1px solid silver';
	document.getElementById('bottom').style.border = '1px solid silver';
	document.getElementById('center').style.border = '1px solid silver';
	
	document.getElementById(pos).style.border = '1px solid red';
	
	if (pos != 'default') {
		document.getElementById('img_align').value = ' align="' + pos +'"';
	} else {
		document.getElementById('img_align').value = '';
	}
}


</script>
</head>
<body onContextMenu="return false;" onKeyPress="EnterEsc(event);" onload="">
	<form onSubmit="return checkForm();" name="Form" action="/actions_admin.php" enctype="multipart/form-data" method="POST">
	<input type="hidden" name="_event" value="editor/img_upload">
	<input type="hidden" name="alt_text" value="">
	<input type="hidden" name="id" value="{$id}">
	<input type="hidden" name="table_name" value="{$table_name}">
	<input type="hidden" name="field_name" value="{$field_name}">
	
	<fieldset><LEGEND>Картинка</LEGEND>
	<table>
	<tr>
		<td class="title">Выравнивание:</td>
		<td>
			<input id="img_align" type="hidden" name="imgAlign" value="">
			<a href="javascript:void(0);" onclick="position('default');"><img id="default" src="/design/cms/img/editor/image/default.gif" border="0" hspace="2" alt="По умолчанию"></a>
			<a href="javascript:void(0);" onclick="position('left');"><img id="left" src="/design/cms/img/editor/image/left.gif" border="0" hspace="2" alt="По левому краю"></a>
			<a href="javascript:void(0);" onclick="position('right');"><img id="right" src="/design/cms/img/editor/image/right.gif" border="0" hspace="2" alt="По правому краю"></a>
			<a href="javascript:void(0);" onclick="position('top');"><img id="top" src="/design/cms/img/editor/image/top.gif" border="0" hspace="2" alt="По верхнему краю"></a>
			<a href="javascript:void(0);" onclick="position('bottom');"><img id="bottom" src="/design/cms/img/editor/image/bottom.gif" border="0" hspace="2" alt="По нижнему краю"></a>
			<a href="javascript:void(0);" onclick="position('center');"><img id="center" src="/design/cms/img/editor/image/center.gif" border="0" hspace="2" alt="По центру"></a>
		</td>
	</tr>
	<tr>
		<td class="title">Картинка:</td>
		<td><input type="file" name="normalImage" id="normalImage" size="20" onChange="imagesOnly(this);"></td>
	</tr>
	<tr>
		<td class="title">Подсказка:</td>
		<td><input name="alt" value="" size="32"></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="checkbox" id="border" name="border" value="1" {$image_border}><label for="border">Рамка</label></td>
	</tr>
	<tr>
		<td></td>
		<td><input id="watermark" type="checkbox" name="watermark" value="true" {$watermark}><label for="watermark">Водяной знак</label></td>
	</tr>
	
	<tr>
		<td class="title">Отступ по оси X:</td>
		<td><input name="hspace" size="15" maxLength="3" value="{$hspace}" onKeyPress="return digitsOnly(event);"> px</td>
	</tr>
	<tr>
		<td class="title">Отступ по оси Y:</td>
		<td><input name="vspace" size="15" maxLength="3" value="{$vspace}" onKeyPress="return digitsOnly(event);"> px</td>
	</tr>
	</table>
	</fieldset>
	
	<DIV id="div_thumb_none" style="display: {$div_thumb_none_display};">
		<fieldset><LEGEND>Не создавать пиктограмму</LEGEND>
		<table height="50">
		<tr>
			<td align="center">Поставить оригинальную картинку.</td>
		</tr>
		</table>
		</fieldset>
	</DIV>
	
	<DIV id="div_thumb_make" style="display: {$div_thumb_make_display};">
		<fieldset><LEGEND>Размер пиктограммы</LEGEND>
		<table>
		<tr>
			<td class="title">Ширина:</td>
			<td><input name="thumb_width" size="15" value="{$thumb_width}" onKeyPress="return digitsOnly(event);"> px</td>
		</tr>
		<tr>
			<td class="title">Высота:</td>
			<td><input name="thumb_height" size="15" value="{$thumb_height}" onKeyPress="return digitsOnly(event);"> px</td>
		</tr>
		</table>
		</fieldset>
	</DIV>
	
	<center><INPUT class="clsbtn" type="submit" value="OK" id="submitButton"> <INPUT class="clsbtn" type="button" value="Отмена" OnClick="window.close()"></center>
</form>
<script language="JavaScript">
	position('default');
</script>
</body>
</html>