<script>
	function integrateCkEditor(textarea, object_id, object_table, object_field, object_temp_id) {
		CKEDITOR.timestamp = ( new Date() ).valueOf();
	//	alert(textarea);
		CKEDITOR.on('currentInstance', function(e) {
	//		alert('activated '+e.sender.currentInstance.name)
		});
		CKEDITOR.replace(textarea, {
		        customConfig : '',
		        resize_enabled: false,
		        skin: 'office2003',
		        contentsCss: '/design/cms/css/editor/src.css',
		        //,cms-cvs
		        extraPlugins: 'iframedialog,cms-quit,cms-language,cms-image,cms-attach,cms-flash,cms-structure-link',
		        cmslanguage_languages: 'ru/Русский;',
		        cmslanguage_current_language: 'ru',
		        
		        object_id: object_id,
		        object_temp_id: object_temp_id,
		        object_table: object_table,
		        object_field: object_field,
		        
		      
		        stylesSet: [
					{ name : 'Заголовок 1'		, element : 'h1' },
					{ name : 'Заголовок 2'		, element : 'h2' },
					{ name : 'Заголовок 3'		, element : 'h3' },
				],
				fontSize_sizes: '8/8px;9/9px;10/10px;11/11px;12/12px;13/13px;14/14px;15/15px;16/16px;17/17px;18/18px;19/19px;20/20px;21/21px;22/22px;23/23px;24/24px;25/25px;26/26px;27/27px;28/28px;36/36px;48/48px;72/72px;',
		        toolbar_CMS:
				    [
					    ['Cut','Copy','Paste','PasteText','PasteFromWord','CmsCvs'],
					    
					    ['Link','Unlink','Anchor','CmsAttach','CmsStructureLink'],
					    ['CmsImage','CmsFlash','Table','HorizontalRule','SpecialChar'],
					    
					    ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
					    ['NumberedList','BulletedList','-','Outdent','Indent','Blockquote','CreateDiv'],
					    ['Undo','Redo','-','Find','Replace','-','SelectAll','RemoveFormat','ShowBlocks'],
					    '/',
					 
					    ['Styles','Font','FontSize','TextColor','BGColor'],
					    ['Bold','Italic','Underline','Strike','Subscript','Superscript'],
					    ['Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField','Source'],
				    ],
		        toolbar: 'CMS'		       
		    }
		);
	}
	
	function set_user_group(id, params) {
		$("#current_params").val(params);  
		
		$("div[id^='devider_']").fadeOut(1, function(){ 
			for(var i=0; i<params.length; i++){ 
				$("#devider_"+params[i]).fadeIn(1);   
			}
		});
	}
</script>

<!-- b>Внимание!</b> Указывайте	максимально полную и достоверную информацию о себе, это поможет в случае возникновения проблем. -->
	
<form method="POST" action="/{#LANGUAGE_URL}action/user/change/" enctype="multipart/form-data">
<input type="hidden" name="_return_path" value="/User/Info/">
<input type="hidden" name="_error_path" value="{#CURRENT_URL_FORM}">
<input type="hidden" id="current_params" name="current_params" value="">

<div style="padding-top:10px;">
	<table  border="0" cellpadding="0" cellspacing="10" width="100%"  class="form">		
		<tr>   
			<td class="title">Email<span class="asterix">*</span>:</td>
			<td>
				<input class="wide" type="text" name="user_email" value="{$user_email}" {if AUTH_USER_EMAIL_CONSTANT}disabled{else}onkeyup="setCheckIdentityTimeout('email');"{/if}>
				{if AUTH_USER_EMAIL_CONSTANT}<input type="hidden" name="user_email" value="{$user_email}">{/if}
				
				<div id="email_check_ok" class="identity_check_ok"></div> 
				<div id="email_check_failed" class="identity_check_failed"></div>
			</td>
		</tr>
		{if !AUTH_DATA_CHANGE_CONFIRM}
		<tr>
			<td class="title"><span class="asterix">*</span>Пароль:</td>
			<td><input class="wide" type="password" name="user_password_old" value="{$user_password_old}"><br/>
			<span class="comment">Подтвердите изменения указанием Вашего текущего пароля</span></td>
		</tr>
		{/if}
		  
		{if AUTH_USER_GROUP_EDITABLE && @groups_count > 1}  
		<tr>
			<td class="title">Группа пользователей:</td>
			<td>
			<tmpl:user_group> 
				<div class="step_group" id="div_user_group_{$id}">
				<input {if @user_group == $id}checked{/if} onclick="set_user_group({$id}, new Array({$params}))" type="radio" name="user_group" value="{$id}" id="user_group_{$id}">
				<label for="user_group_{$id}"> {$name}</label>
				</div>
			</tmpl:user_group>
			</td>
		</tr>
		{else}
			<input type="hidden" name="user_group" value="{@user_group}">  
		{/if}
	</table>

	<tmpl:category>
		     
		<div id="devider_{$param_id}" {if AUTH_USER_GROUP_EDITABLE || empty(@user_group)}style="display:none;"{/if}>    
			<table  border="0" cellpadding="0" cellspacing="10" width="100%"  class="form">
			<tmpl:row>
				{if $is_hidden}
					<input type="hidden" name="param[{$param_id}]" value="{$value}">
				{else}
				<tr> 
					<td class="title">{$name}{if $required}<span class="asterix">*</span>{/if}:</td>
					<td>
						{if !$is_editable}<input type="hidden" name="param[{$param_id}]" value="{$value}">{/if}
						
						{if $data_type=='char'}
							<input class="wide" type="text" name="param[{$param_id}]" value="{$value}" {if !$is_editable}disabled{/if}> 
						{elseif $data_type=='decimal'}
							<input class="wide" type="text" name="param[{$param_id}]" value="{$value}" {if !$is_editable}disabled{/if}>
						{elseif $data_type=='file_list'}
							<div id="upload_{$table_name}_{$uniq_name}">
								<tmpl:uploads>
								<div id="file_{$table_name}_{$field}_{$filename}">
									<a href="javascript:void(0);" onclick="cms_swf_upload_delete('{$user_id}', '{$table_name}', '{$field}', '{$filename}', '{$tmp_dir}')"><img src="/design/cms/img/icons/swf_del.png" border="0" align="absmiddle"></a>
					  				<img src="/img/shared/ico/{$icon}.gif" border="0" align="absmiddle">
									<a target=_blank href="{$file_url}">{$filename}</a>
								</div>
								</tmpl:uploads>
							</div>
							<span id="spanSWFUploadButton_{$uniq_name}"></span>
						{elseif $data_type=='file'}
							<input type="file" name="param[{$param_id}]"><br>
							<input type="checkbox" name="delete[{$param_id}]" value="{$param_id}" id="delete_{$param_id}"><label for="delete_{$param_id}">Удалить файл</label><br>
							{if !empty($file)}
								<a target="_blank" href="{$file}">Посмотреть файл</a>
							{/if}
						{elseif $data_type=='image'}
							<input type="file" name="param[{$param_id}]"><br>
							<input type="checkbox" name="delete[{$param_id}]" value="{$param_id}" id="delete_{$param_id}"><label for="delete_{$param_id}">Удалить картинку</label><br>
							{if $file != '#' || $thumb != '#'}
								Посмотреть картинку [
									{if $file != '#'}<a rel="lightbox" target="_blank" href="{$file}">оригинальная: {$width} x {$height}</a>;{/if}
									{if $thumb != '#'}<a rel="lightbox" target="_blank" href="{$thumb}">пиктограмма: {$thumb_width} x {$thumb_height}</a>{/if}
								]
							{/if}
						{elseif $data_type=='bool'}
							<input type="checkbox" name="param[{$param_id}]" value="1" {if $value!=0}checked{/if} {if !$is_editable}disabled{/if}>
						{elseif $data_type=='fkey'}
							<select name="param[{$param_id}]">
								<option value="0">Сделайте выбор</option>
								{html_options options=$options selected=$value}
							</select>
						{elseif $data_type=='fkey_table'}
							<select name="param[{$param_id}]">
								<option value="0">Сделайте выбор</option>
								{if $is_tree}{$options}{else}{html_options options=$options selected=$value}{/if}
							</select>
						{elseif $data_type=='multiple'} 
							<select  name="param[{$param_id}][]" multiple>
							{html_options options=$options selected=$value}
							</select>
						{elseif $data_type=='text'}
							<textarea  name="param[{$param_id}]" class="wide" {if !$is_editable}disabled{/if}>{$value}</textarea>
						{elseif $data_type=='html'}
							<input type="hidden" name="temp_id_param_{$param_id}" id="temp_id_param_{$param_id}" value="{$temp_field_id}" />
							<textarea name="param[{$param_id}]" id="param_{$param_id}_{$uniq_name}" cols="80" rows="10"  {if !$is_editable}disabled{/if}>{$value}</textarea>
						{elseif $data_type=='date'}
							<input class="date" type="text" name="param[{$param_id}]" id="param[{$param_id}]" value="{$value}" onclick="scwShow(scwID('param[{$param_id}]'),event);" {if !$is_editable}disabled{/if}>							
						{/if}
						{if !empty($description)}<br><span class="comment">{$description}</span>{/if}
					</td>
				</tr>
				{/if}
			</tmpl:row>  
			</table>  
		</div>
		
	</tmpl:category>
	<table border="0" cellpadding="0" cellspacing="10" width="100%"  class="form">
		<tr>
			<td class="title">&nbsp;</td>
			<td><input type="submit" value="Изменить"></td>
		</tr>
	</table>
</div>
</form>