<center>

	<form action="/{#LANGUAGE_URL}action/user/changepassword/" method="POST">
		<input type="hidden" name="_return_path" value="{#CURRENT_URL_FORM}">
		<input type="hidden" name="_error_path" value="{#CURRENT_URL_FORM}">
		
		<table  class="form">
			<tr>
				<td class="title">Новый пароль:</td>
				<td>
					<input class="wide" type="password" name="new_passwd" value="">
				</td>
			</tr>
			<tr>
				<td class="title">Еще раз:</td>
				<td>
					<input class="wide" type="password" name="new_passwd_confirm" value="{$error.new_passwd_confirm}">
				</td>
			</tr>
			<tr>
				<td class="title">Текущий пароль:</td>
				<td>
					<input class="wide" type="password" name="passwd" value=""><br>
					<span class="comment">Подтвердите изменения указанием Вашего текущего пароля</span>
				</td>
			</tr>
			<tr>
				<td class="title"></td>
				<td><input type="submit" value="Изменить пароль"></td>
			</tr>
		</table>
	</form>
</center>