
<script type="text/javascript" src="/js/user/phone.js"></script>
<script>
	function set_user_group(id, params) {
		window.global_params = params;
		
		$("div[id^='devider_']").fadeOut(1);
		if(typeof(window.global_params)=="undefined" || window.global_params == null || window.global_params == ""){
			alert("Укажите группу пользователей.");
			return false;
		}
		
		$("#current_params").val(window.global_params);  
		$("div[id^='devider_']").hide(); 
		for(var i=0; i<window.global_params.length; i++){ 
			$("#devider_"+window.global_params[i]).fadeIn(1);   
		}
	}
	
	jQuery(function($) {
		$.mask.definitions['~']='[+-]';
		$('#phone_block_input_phone').mask('+38(999) 999-99-99');
	});
</script>

<form method="POST" action="/{#LANGUAGE_URL}action/user/register/" enctype="multipart/form-data">
	<input type="hidden" name="_return_path" value="/User/Info/">
	<input type="hidden" name="_error_path" value="{#CURRENT_URL_FORM}">
	<input type="hidden" id="current_params" name="current_params" value="">

	<table  border="0" cellpadding="0" cellspacing="10" width="100%"  class="form">
		<tr>
			<td class="title"><span class="asterix">*</span>Email:</td>
			<td><input id="email" class="wide" type="text" name="user_email" value="{$user_email}" onkeyup="setCheckIdentityTimeout('email');">
				<div id="email_check_ok" class="identity_check_ok"></div>
				<div id="email_check_failed" class="identity_check_failed"></div>
			</td>
		</tr>		
		<tr>
			<td class="title"><span class="asterix">*</span>Пароль:</td>
			<td><input id="user_password" class="wide" type="password" name="user_password" value="{$user_password}"></td>
		</tr>
		<tr>
			<td class="title"><span class="asterix">*</span>Пароль повторно:</td>
			<td><input id="user_password_confirm" class="wide" type="password" name="user_password_confirm" value="{$user_password_confirm}"></td>
		</tr>
		{if $user_group_count > 1}
			<tr>
				<td class="title"></td>
				<td>
				<tmpl:user_group>
						<input {if @group_id == $id}checked{/if} onclick="set_user_group({$id}, new Array({$params}));" type="radio" name="user_group" value="{$id}" id="user_group_{$id}">
						<label for="user_group_{$id}"> {$name}</label><br/>
				</tmpl:user_group> 
				</td>
			</tr>
			
		{elseif $user_group_count == 1}
			<input type="hidden" name="user_group" value="{@group_id}">
		{/if} 
	</table>

	<tmpl:category>
		<div id="devider_{$param_id}" style="display:none;"> 
			<table  border="0" cellpadding="0" cellspacing="10" width="100%"  class="form">
				<tmpl:row>
					<tr> 
						<td class="title">{$name}{if $required}<span class="asterix">*</span>{/if}:</td>
						<td>
							{if $data_type=='char'}
								<input class="wide" type="text" name="param[{$param_id}]" value="{$value}" >
								
							{elseif $data_type=='decimal'}
								<input class="wide" type="text" name="param[{$param_id}]" value="{$value}">
								
							{elseif $data_type=='file_list'}
								<div id="upload_{$table_name}_{$uniq_name}">
									<tmpl:uploads>
										<div id="file_{$table_name}_{$field}_{$filename}">
											<a href="javascript:void(0);" onclick="swf_upload_delete('{$product_id}', '{$table_name}', '{$field}', '{$filename}', '{$tmp_dir}')"><img src="/design/cms/img/icons/swf_del.png" border="0" align="absmiddle"></a>
							  				<img src="/img/shared/ico/{$icon}.gif" border="0" align="absmiddle">
											<a target=_blank href="{$file_url}">{$filename}</a>
										</div>
									</tmpl:uploads>
								</div>
								<span id="spanSWFUploadButton_{$uniq_name}"></span>
								
							{elseif $data_type=='file'}
								<input type="file" name="param[{$param_id}]"><br>
								{if !empty($file)}
									<a target="_blank" href="{$file}">Посмотреть файл</a>
								{/if}
								
							{elseif $data_type=='image'}
								<input type="file" name="param[{$param_id}]"><br>
								{if $file != '#' || $thumb != '#'}
									Посмотреть картинку [
										{if $file != '#'}<a rel="lightbox" target="_blank" href="{$file}">оригинальная: {$width} x {$height}</a>;{/if}
										{if $thumb != '#'}<a rel="lightbox" target="_blank" href="{$thumb}">пиктограмма: {$thumb_width} x {$thumb_height}</a>{/if}
									]
								{/if}
								
							{elseif $data_type=='bool'}
								<input type="checkbox" name="param[{$param_id}]" value="1" {if $value!=0}checked{/if}>
								
							{elseif $data_type=='fkey'}
								<select name="param[{$param_id}]">
									<option value="0">Сделайте выбор</option>
									{html_options options=$options selected=$value}
								</select>
								
							{elseif $data_type=='fkey_table'}
								<select name="param[{$param_id}]">
									<option value="0">Сделайте выбор</option>
									{if $is_tree}{$options}{else}{html_options options=$options selected=$value}{/if}
								</select>
								
							{elseif $data_type=='multiple'} 
								<select  name="param[{$param_id}][]" multiple>
									{html_options options=$options selected=$value}
								</select>
								
							{elseif $data_type=='text'}
								<textarea  name="param[{$param_id}]" class="wide">{$value}</textarea>
								
							{elseif $data_type=='date'}
								<input class="date" type="text" name="param[{$param_id}]" id="param[{$param_id}]" value="" onclick="scwShow(scwID('param[{$param_id}]'),event);">
													
							{/if}
							
							<br><span class="comment">{$description}</span>
						</td>
					</tr>
				</tmpl:row>  
			</table>
		</div>
	</tmpl:category>

	<table id="register_submit_table"  border="0" cellpadding="0" cellspacing="10" width="100%"  class="form" >
		<tr>
			<td class="title">Номер мобильного:</td>
			<td>
				<input type="text" id="phone_block_input_phone" name="user_phone" value="{$user_phone}">
				<div id="phone_block_country_control">
					<span id="phone_block_country_title" style="font-size:11px; color:#777; margin-top:5px;">Ваша страна:</span> 
					<a id="phone_block_country_ukraine" href="javascript:void(0);" onclick="phone_country('ukraine');" style="font-size:10px; color:#ff9d02;" class="country_mask_button">Украина</a>, 
					<a id="phone_block_country_russia" href="javascript:void(0);" onclick="phone_country('russia');" style="font-size:10px;" class="country_mask_button">Россия</a>,
					<a id="phone_block_country_other" href="javascript:void(0);" onclick="phone_country('other');" style="font-size:10px;" class="country_mask_button">другая</a>
				</div>
			</td>
		</tr>
	</table>

	<table id="register_submit_table"  border="0" cellpadding="0" cellspacing="10" width="100%"  class="form" >
		{if #CMS_USE_CAPTCHA && !Auth::isLoggedIn()}
			<tr>
				<td class="title"><span class="asterix">*</span>Число на картинке:</td>
				<td> 
					<table cellspacing="0" cellpadding="0"> 
						<tr>
							<td>{$captcha_html}</td>
							<td><input type="text" maxlength="6" size="6" name="captcha_value"></td> 
						</tr>
					</table>
					<span class="comment">Введите число, показанное на картинке</span>
				</td>
			</tr>
		{/if}
		<tr>
			<td>&nbsp;</td> 
			<td><input type="submit" value="Зарегистрироваться"></td>
		</tr>
	</table>

</form>
