
<form action="/{#LANGUAGE_URL}action/cms/restore_password/" method="POST">
	<input type="hidden" name="_return_path" value="/User/Login/">
	<input type="hidden" name="_error_path" value="{#CURRENT_URL_FORM}">
	<input type="hidden" name="user_id" value="{$user_id}">
	<input type="hidden" name="auth_code" value="{$auth_code}">
	 
	<table cellspacing="10" class="form">
		<tr>
			<td class="title"></td>
			<td>Введите новый пароль для доступа к сайту</td>
		</tr>
		<tr>
			<td class="title">Новый пароль:</td>
			<td><input class="wide" name="new_passwd" type="password" value=""></td>
		</tr>
		<tr>
			<td class="title">Подтвердите пароль:</td>
			<td><input class="wide" name="new_passwd_confirm" type="password" value=""></td>
		</tr>
		<tr>
			<td class="title">Код на картинке:</td>
			<td><div style="float:left">{$captcha_html}</div> <input type="text" maxlength="6" size="6" name="captcha_value"></td> 
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Сменить пароль"></td>
		</tr>
	</table>
</form>
