<h1>Таблицы, содержащие несуществующие файлы</h1>
<form action="/{#LANGUAGE_URL}action/admin/sdk/clear_unexistent_files/" method="POST">
<input type="hidden" name="_return_path" value="{#CURRENT_URL_FORM}">
<tmpl:table>
	{if $table_title}
		<p><input type="checkbox" onclick="checkCheckbox('file[{$table_name}][{$field_name}][]', this.checked);" id="{$table_name}.{$field_name}"><label for="{$table_name}.{$field_name}"><b>{$table_title}, {$field_title} ({$table_name}.{$field_name})</b></p>
	{/if}
	<input type="checkbox" name="file[{$table_name}][{$field_name}][]" value="{$id}" id="{$table_name}_{$field_name}_{$id}"> <label for="{$table_name}_{$field_name}_{$id}">{$filename}</label><br>
</tmpl:table>
<input type="submit" value="Очистить записи в БД">
</form>


<h1>Файлы контента без записи в БД</h1>
<form action="/{#LANGUAGE_URL}action/admin/sdk/delete_content_files/" method="POST">
<input type="hidden" name="_return_path" value="{#CURRENT_URL_FORM}">
<tmpl:content>
	{if $title}
		<p><input type="checkbox" onclick="checkCheckbox('file[{$dirname}][]', this.checked);" id="{$dirname}"><label for="{$dirname}"><b>{$title}</b></p>
	{/if}
	<input type="checkbox" name="file[{$dirname}][]" value="{$file}" id="{$file}"> <label for="{$file}">{$filename}</label><br>
</tmpl:content>
<input type="submit" value="Удалить файлы">
</form>


<h1>Разделы контента для которых нет таблиц</h1>
<form action="/{#LANGUAGE_URL}action/admin/sdk/delete_content_files/" method="POST">
<input type="hidden" name="_return_path" value="{#CURRENT_URL_FORM}">
<tmpl:no_table>
	{if $table_title}
		<p><input type="checkbox" onclick="checkCheckbox('file[{$table_name}][]', this.checked);" id="{$table_name}.{$field_name}"><label for="{$table_name}.{$field_name}"><b>{$table_title}, {$field_title} ({$table_name}.{$field_name})</b></p>
	{/if}
	<input type="checkbox" name="file[{$table_name}]" value="{$filename}" id="{$id}"> <label for="{$id}">{$filename}</label><br>
</tmpl:no_table>
<input type="submit" value="Удалить папки">
</form>
