<table border="0" cellpadding="0" cellspacing="5" width="100%" class="gallery">
<tmpl:photo>
	{if $index==0 || ($index % 3) == 0}
	<tr class="{$index}">
	{/if}
		<td align="center" width="33%">
			{$photo}<br>
			{$comment}
		</td>
	{if ($index+1 % 3) == 0}
	</tr>
	{/if}
</tmpl:photo>
<tr>
	<td style="padding: 5px;" colspan="3" align="center">{$pages_list}</td>
</tr>
</table>

{if !empty(%_GET._GALLERY_URL)}<a href="{%_GET._GALLERY_URL}">Вернуться в путеводитель</a>{/if}
<br><br>
