{if $photocount>0}
<table border="0" cellpadding="0" cellspacing="5" width="100%" class="gallery">
<tmpl:photo>
	{if $index==0 || ($index % 3) == 0}
	<tr class="{$index}">
	{/if}
		<td align="center" width="33%">
			<a title="" target="_blank" rel="lightbox-content" href="/uploads/{$photo}" class="lightbox-enabled">
				<img src='/i/cms_gallery/{$photo}'></a><br>
			{$comment}
		</td>
	{if ($index+1 % 3) == 0}
	</tr>
	{/if}
</tmpl:photo>
<tr>
	<td style="padding: 5px;" colspan="3" align="center">{$pages_list}</td>
</tr>
</table>
{/if}
<tmpl:child>
<div style="float:left;padding:10px;"><a href="/Gallery/{$url}"><img src="/i/cms_gallery/{$photo}"><br>{$name}</a></div>
</tmpl:child>
<div style="clear:both;"></div>
{if !empty(%_GET._GALLERY_URL)}<div style="padding:20px 0 0 0;"><a href="/Gallery/{$parent}" >На уровень выше</a></div>{/if}
<br><br>
