<h1><a href="/{#LANGUAGE_URL}Photo/">Фотогалерея</a> <tmpl:gallery_path> :: <a href="/{#LANGUAGE_URL}Photo/{$url}/"> {$name}</a> </tmpl:gallery_path></h1>
<table border="0" cellpadding="0" cellspacing="10" width="100%" class="gallery">
<tmpl:group>
	{if $index==0 || $index % 3 == 0}
	<tr>
	{/if}
		<td align="center" width="33%">
			<a href="/{#LANGUAGE_URL}Photo/{$url}/">{$photo}<br>
			{$name}</a>
		</td>
	{if ($index+1 % 3) == 0}
	</tr>
	{/if}
</tmpl:group>
</table>
<br><hr><br>
<table border="0" cellpadding="0" cellspacing="5" width="100%" class="gallery">
<tmpl:photo>
	{if $index==0 || ($index % 3) == 0}
	<tr class="{$index}">
	{/if}
		<td align="center" width="33%">
			{$photo}<br>
			{$comment}
		</td>
	{if ($index+1 % 3) == 0}
	</tr>
	{/if}
</tmpl:photo>
<tr>
	<td></td>
	<td align="center">{$pages_list}</td>
	<td></td>
</tr>
</table>