<style>
	.search_helper_products{
		width:100%;
	}
		
	.search_helper_products tr td a{
		color:#008ad9;
	} 
	.search_helper_product_image{
		width: 30px;
		margin-right:5px; 
	}
	.title_row td{
		background-color:#f0f0f0 !important;
		padding:4px 0px 4px 5px;
		font-weight:bold;
		font-size:12px;
	}
	.content_row td{
		padding:4px 0px 4px 6px;
		cursor:pointer;
	}
</style>
<script>
	$('body').bind('click', function(e) {
	  	var targ;
		if (!e) var e = window.event;
		if (e.target) targ = e.target;
		else if (e.srcElement) targ = e.srcElement;
		if (targ.nodeType == 3) // defeat Safari bug
			targ = targ.parentNode;
		var element_id = targ.id;
		if(element_id.search(/search_helper/i) == -1 && element_id.search(/search_text/i) == -1){ 
			hide_search_helper();
		}	
	});

	function set_over(id, type){
		$("#search_helper_column_"+type+"_"+id).css("background-color", "#3c92d3");
		$("#search_helper_column_"+type+"_link_"+id).css("color", "#fff");
		$("span[name=search_helper_column_price_"+id+"]").css("color", "#a6d1fe");
	}
	
	function set_out(id, type){
		$("#search_helper_column_"+type+"_"+id).css("background-color", "#fff");
		$("#search_helper_column_"+type+"_link_"+id).css("color", "#008ad9");
		$("span[name=search_helper_column_price_"+id+"]").css("color", "#acacac");
	}
</script>

<table class="search_helper_products" cellpadding="0" cellspacing="0">
	{if $products_rows_count > 0}
		<tr class="title_row"><td id="search_helper_column_title" width="100%">Товары</td></tr>
		<tmpl:products>
		<tr class="content_row"><td id="search_helper_column_product_{$id}" onmouseover="set_over({$id}, 'product');" onmouseout="set_out({$id}, 'product');" onclick="document.location='/{$_url}.html'">
		{if !empty($photo)}<img class="search_helper_product_image"  src="{$photo}" align="left">{/if} 
			<a id="search_helper_column_product_link_{$id}" href="/{$_url}.html">{$name}</a><br/>
			<span id="prodprice_{#SHOPORDER_CURRENCY_DEFAULT}" name="search_helper_column_price_{$id}" style="color:#acacac;">{$price} грн</span>
			<tmpl:prices>
				<span id="prodprice_{$currency_to_id}" name="search_helper_column_price_{$product_id}" style="display:none; color:#acacac;">{$price} {$symbol}</span>
			</tmpl:prices>
		</td></tr>
		</tmpl:products>
	{/if}
	{if $categories_rows_count > 0}
		<tr class="title_row"><td id="search_helper_column_title" width="100%">Категории товаров</td></tr>
		<tmpl:categories>
		<tr class="content_row"><td id="search_helper_column_category_{$id}" onmouseover="set_over({$id}, 'category');" onmouseout="set_out({$id}, 'category');"  onclick="document.location='{$url}.htm'">
			<a id="search_helper_column_category_link_{$id}" href="{$url}.htm">{$name}</a>
		</td></tr>
		</tmpl:categories>
	{/if} 
</table>
<pre>
{$res}