
div.oid_widget_box table tr td {font-family: tahoma !important; font-size: 12px !important;}    
div.oid_widget_box h2{border-bottom: 1px dotted #CCCCCC; color: #333333; font: 150%/100% "Lucida Grande",Arial,sans-serif; margin: 3px 90px 2px 0; padding-bottom: 4px;     }

/*AUTH-FROM*/
div.oid_widget_box { background: url("/img/user/oid/box/bg_grey.png") repeat-y scroll 0 0 transparent; left:50%; margin:0 0 0 -362px; top:25%; width:724px; position:absolute; z-index:2; color:#000; }  
div.oid_widget_box i.oid_widget_box_top { background:url("/img/user/oid/box/top_grey.png") no-repeat scroll 0 0 transparent; left:0px; height:17px; top:-17px; width:724px; position:absolute; }
div.oid_widget_box i.oid_widget_box_bottom { background:url("/img/user/oid/box/bottom_grey.png") no-repeat scroll 0 0 transparent; left:0px; height:20px; bottom:-20px; width:724px; position:absolute; } 

div.oid_widget_box a.oid_widget_box_close { display:block;  position:absolute; right:25px; top:4px; z-index:10000; color:#fff; text-decoration:none;}
div.oid_widget_box div.oid_widget_box_box { padding:10px 19px 10px 16px; position:relative; }
div.oid_widget_box h2 { color:#fff; margin:0 0 15px; padding:0; }

div.oid_widget_box div.oid_widget_box_box div.oid_widget_box_content { background: none repeat scroll 0 0 #f0f0f0; border:1px solid #CFCFCF; position:relative; }
div.oid_widget_box div.oid_widget_box_box i.oid_widget_box-angle { background: url("/img/user/oid/box/round-corner.png") no-repeat scroll 0 0 transparent; display:block; height:7px; position:absolute;  width:7px; }
div.oid_widget_box div.oid_widget_box_box i.angle-tl { left:-1px; top:-1px; background-position: 0 0; }
div.oid_widget_box div.oid_widget_box_box i.angle-tr { right:-1px; top:-1px; background-position: -7px 0; }
div.oid_widget_box div.oid_widget_box_box i.angle-bl { left:-1px; bottom:-1px; background-position: 0 -7px; } 
div.oid_widget_box div.oid_widget_box_box i.angle-br { right:-1px; bottom:-1px; background-position: -7px -7px; }

div.oid_widget_box div.oid_widget_box_openid { border-bottom:1px solid #D7D8DB; margin-bottom:20px; padding-bottom:10px; }
div.oid_widget_box table.oid_widget_box_openid { width:100%; position:relative;  margin:0; }
div.oid_widget_box table.oid_widget_box_openid tr td.title { width:182px; padding:3px 25px 0 0; text-align:right; }
div.oid_widget_box table.oid_widget_box_openid tr td.field { padding:3px 25px 0 0; } 
div.oid_widget_box table.oid_widget_box_openid tr td.line { border-bottom:1px solid #D7D8DB; }


div.oid_widget_box input.wide { width: 290px;}
div.oid_widget_box input.short { border:1px solid #7F9DB9; }

/*WIDGET*/ 
table.oid_widget_box_openid tr.oid_widget { display:inline; }
table.oid_widget_box_openid tr.oid_widget input[type=text]{ width:134px; height: 10pt; font-size: 11px; }

table.oid_widget_box_openid tr.oid_openid{ padding:10px; margin:5px 0px; display:none; width:400px;}
div.oid_openid_link { margin-top:5px; }
div.oid_openid_link a { text-decoration:none; margin-right:10px;}
div.oid_openid_link img { margin-top:1px}

div.oid_clarify{ position:absolute; padding:10px; margin:5px 0px; border:1px solid #7398af; background-color:#f3f3f3;  width:400px; }
 
div.widget_error{ border:1px solid #94000c; color:#94000c; margin:5px; padding:10px; background-color:#ffefeb; }
div.widget_warning { border:1px solid #f39e0e; margin:5px; padding:10px; background-color:#fbecce;  }  
div.widget_ok{border:1px solid #276630; color:#276630; margin:5px; padding:10px; background-color:#edf8ee; }