<br><form id="changeForm" action="" method="" >
Показать курс состоянием на <input class="date" onclick="scwShow(scwID('search_date_from'),event);" type="text" id="search_date_from" name="date" value="{$date}">
<input onclick="$('#changeForm').submit();" type="submit" value="Показать"></form>
<script language="JavaScript">
function doSearch() {
	AjaxRequest.send('changeForm', '/{#LANGUAGE_URL}action/admin/currency/currency_change/', 'Подождите, идёт идет обработка результатов ...', false, {});
}
</script>
<div id="currency">
<H2>Курсы валют на {$date}</H2>
<table border="0" class="cms_view" cellpadding="2" cellspacing="2" width="100%">
<THEAD>
	<TR>
		<td width="20%" rowspan="2">Валюта</td>
		<td width="20%" colspan="3">НБУ</td>
		<td width="20%" colspan="3">ЦБР</td>
	</TR>
	<TR>
		<td width="10%">Дата</td>
		<td width="10%">Кол-во</td>
		<td width="10%">Курс</td>
		<td width="10%">Дата</td>
		<td width="10%">Кол-во</td>
		<td width="10%">Курс</td>
	</TR>
</THEAD>

<TBODY>
{if $show_rates}
	<tmpl:row>
	<tr class="{$class}" onmouseover="this.className='over';" onmouseout="this.className='{$class}';" align="right">
		<td align="center"><span title="{$admin_login}">{$code}</span><input type="hidden" name="currency[{$id}][currency_id]" value="{$id}"></td>
		<td>{$nbu_date}</td>
		<td>{$nbu_amount}</td>
		<td>{$nbu_rate}</td>
		<td>{$cbr_date}</td>
		<td>{$cbr_amount}</td>
		<td>{$cbr_rate}</td>
	</tr>
	</tmpl:row>
{else}
	<tr class="odd">
		<td align="center" style="height: 50px;" colspan="7">На эту дату курсы валют не установлены</td>
	</tr>
{/if}
</TBODY>
</table>
</div>
<br>
<H2>Внутренний курс валют</H2>



<form action="/{#LANGUAGE_URL}action/admin/currency/cross_update/" method="POST">
<input type="hidden" name="_return_path" value="{#CURRENT_URL_FORM}">
<input type="hidden" name="_table_language" value="{$table_language}">
<table border="0" class="cms_view" cellpadding="2" cellspacing="2" width="100%">
{if isset($crossrate_definer.admin_login)}<caption>Кросс-курсы установлены {$crossrate_definer.admin_login}, {$crossrate_definer.dtime}</caption>{/if}
<THEAD>
	<TR>
		<td width="20%">Валюта</td>
		<tmpl:header_column>
		<td width="{$width}">{$code}</td>
		</tmpl:header_column>
	</TR>
</THEAD>
<TBODY>
	<tmpl:crossrow>
	<tr class="{$class}" onmouseover="this.className='over';" onmouseout="this.className='{$class}';">
		<td align="center">{$code}<input type="hidden" name="currency[{$id}][currency_id]" value="{$id}"></td>
		<tmpl:crossrate>
		<td width="10%" align="right">
			{if @current_currency == $currency_to_id}
				{if $currency_from_id != $currency_to_id}
					<input type="text" class="alpha" value="{$rate}" name="crossrate[{$currency_from_id}][{$currency_to_id}]" style="text-align:right;">
				{else}
					1.0000
					<input type="hidden" value="1.0000" name="crossrate[{$currency_from_id}][{$currency_to_id}]">
				{/if}
			{else}
				{if $currency_from_id != $currency_to_id}
					{$rate}
				{else}
					1.0000
					<input type="hidden" value="1.0000" name="crossrate[{$currency_from_id}][{$currency_to_id}]">
				{/if}
			{/if}	
		</td>
		</tmpl:crossrate>
	</tr>
	</tmpl:crossrow>
</TBODY>
<TFOOT>
<tr class="bottom">
	<td colspan="{$cross_table_colspan}" style="text-align:right;padding-right:50px;">
		<input type="image" src="/design/cms/img/event/table/save_changes.gif" width="143" height="21" alt="Сохранить изменения">
	</td>
</tr>
</TFOOT>
</table>
<span class="comment">Установка курса валюты, равного нулю приведёт к тому, что валюта будет переведена на основании {$crossrate_default_currency} (основная валюта указана в настройках системы)</span><br>
</form>



