<html>
<head>
<title>Вставка файла</title>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=Windows-1251">
<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
<link href="/extras/ckeditor/plugins/cms-shared/dialog.css?2" rel="stylesheet" type="text/css" />
<script>
var CKEDITOR = window.parent.CKEDITOR;

var selectedText = ''

var okListener = function(ev) {
	document.getElementById('editor_name').value = CKEDITOR.config.activeEditorName
	document.getElementById('id').value = CKEDITOR.instances[CKEDITOR.config.activeEditorName].config.object_id
	document.getElementById('temp_id').value = CKEDITOR.instances[CKEDITOR.config.activeEditorName].config.object_temp_id
	document.getElementById('field_name').value = CKEDITOR.instances[CKEDITOR.config.activeEditorName].config.object_field
	document.getElementById('table_name').value = CKEDITOR.instances[CKEDITOR.config.activeEditorName].config.object_table
	document.getElementById('dialog_form').submit();
//   this._.editor.insertHtml('<b>'+selectedText+'</b>');
   CKEDITOR.dialog.getCurrent().removeListener("ok", okListener);
};

CKEDITOR.dialog.getCurrent().on("ok", okListener);

window.onload = function()
	{
		/**
		 * Прикрепление файла возможно только при наличии выделенного текста
		 */
		var mySelection = CKEDITOR.instances.content.getSelection();

//		if (CKEDITOR.env.ie) {
//		    mySelection.unlock(true);
//		    selectedText = mySelection.getNative().createRange().text;
//		} else {
//		    selectedText = mySelection.getNative();
//		}

		selectedText = getSelectionHTML(mySelection.getNative())
		
		if (selectedText == '') {
			CKEDITOR.dialog.getCurrent().hide()
			alert('Выделите текст на странице, который будет служить ссылкой на прикрепляемый файл');
		}
	}
	
	// get HTML from selection
	function getSelectionHTML(selection)
	{
	   var range = (document.all ? selection.createRange() : selection.getRangeAt(selection.rangeCount - 1).cloneRange());
	
	   if (document.all)
	   {
	      return range.htmlText;
	   }
	   else
	   {
	      var clonedSelection = range.cloneContents();
	      var div = document.createElement('div');
	      div.appendChild(clonedSelection);
	      return div.innerHTML;
	   }
	}

</script>
</head>
<body>
<form id="dialog_form" action="/action/admin/ckeditor/file_upload/" method="POST" enctype="multipart/form-data">
<input type="hidden" name="id" id="id">
	<input type="hidden" name="temp_id" id="temp_id">
	<input type="hidden" name="field_name" id="field_name">
	<input type="hidden" name="table_name" id="table_name">
	<input type="hidden" name="editor_name" id="editor_name">

<table class="cms_cke_dialog">
	<tr>
		<td align="title"></td>
		<td>Допустимый размер файла - {$max_size}байт</td>
	</tr>
	<tr>
		<td align="title">Файл:</td>
		<td><input class="input_file" type="file" name="uploadFile" size="30"></td>
	</tr>
	<tr>
		<td align="title">Доступ:</td>
		<td>
			<select class="input_select" name="access">
				<option value="all">Для всех</option>
				<option value="registered">Для зарегистрированных</option>
				<option value="confirmed">Для подтвердивших e-mail</option>
				<option value="checked">Для проверенных</option>
			</select>
		</td>
	</tr>
</table>

</form>
</body>
</html>