<HTML>
<HEAD>
<TITLE>{$title}</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=Windows-1251">
<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
<SCRIPT src="/js/editor/core.js" language="JavaScript"></SCRIPT>
<SCRIPT src="/js/shared/global.js" language="JavaScript"></SCRIPT>
<SCRIPT src="/js/shared/jshttprequest.js" language="JavaScript"></SCRIPT>
<LINK href="/design/cms/css/editor/ie2.css" type="text/css" rel="stylesheet">
</HEAD>
<BODY onLoad="Editor.Init({#AUTH_TIMEOUT*1000-5*60*1000}, {@id}, '{@table_name}', '{@field_name}', '{@event}', '{#LANGUAGE_CURRENT}');build_menu();" onCo1ntextMenu="return false" onmouseup="window.dragObj = null;" onmousemove="Editor.MovePopup();">
<div id="preload" class="preload"><br><br><br><br><br><br><br><br><br><br><br>Подождите, идет загрузка редактора...</div>
<div class="exit"><a href="/tools/editor/close.php?table_name={@table_name}&id={@id}&field_name={@field_name}"><img src="/design/cms/img/ui/logout_button.gif" width="50" height="50" border="0" alt="Выход"></a></div>
<div id="page" class="page">
<div class="top_bg"><img src="/design/cms/img/editor/design/top_left.gif" width="340" height="62" alt="" border="0"></div>
<div class="toolbar_main" id="toolbar_main"></div>
<div class="toolbar_standart" id="toolbar_standart"></div>
<div class="toolbar_standart" style="visibility:hidden;" id="toolbar_standart_disabled"></div>
<div class="toolbar_format" id="toolbar_format"></div>
<div class="toolbar_format" id="toolbar_format_disabled" style="visibility:hidden;"></div>

<select id="sstyle" class="sselect" style="left:3px;width:150px;" onChange="Editor.SetStyle(this.value);">
	<option selected>Стили</option>
	<tmpl:style>
		<option value="{$element}">[{$apply_to}] {$title}</option>
	</tmpl:style>
</select>

<select id="font_family" class="sselect" style="left:156px;" onchange="Editor.Exec('fontname', this.value)">
	<option value="0" selected>Шрифт</option>
	<option value="Arial, Helvetica, sans-serif">Arial</option>
	<option value="Courier New, Courier, mono">Courier New</option>
	<option value="Fixedsys">Fixedsys</option>
	<option value="Impact">Impact</option>
	<option value="Lucida Console">Lucida Console</option>
	<option value="Symbol">Symbol</option>
	<option value="Times New Roman, Times, serif">Times New Roman</option>
	<option value="Tahoma">Tahoma</option>
	<option value="Verdana">Verdana</option>
	<option value="Webdings">Webdings</option>
	<option value="Wingdings">Wingdings</option>
</select>

<select id="font_ssize" class="sselect" style="left:277px;" onchange="Editor.Exec('fontsize', this.value)">
	<option value="0">0</option>
	<option value="1">8</option>
	<option value="2">10</option>
	<option value="3">12</option>
	<option value="4">14</option>
	<option value="5">18</option>
	<option value="6">24</option>
	<option value="7">36</option>
</select>

<div id="EditDiv"><iframe class="frame" src="/tools/editor/frame/edit.php?id={@id}&table_name={@table_name}&field_name={@field_name}&css={@css}" id="EditFrame"></iframe></div>
<div id="SrcDiv" class="nodisp"><iframe class="frame" src="/tools/editor/frame/source.php" id="SrcFrame"></iframe></div>
<div id="ViewDiv" class="nodisp"><iframe class="frame" src="/tools/editor/frame/blank.php" id="ViewFrame"></iframe></div>
<iframe src="/tools/editor/frame/blank.php" class="nodisp"></iframe>


<div class="statusbar" id="statusbar">
	<img src="/design/cms/img/editor/design/edit.gif" OnClick="Editor.SwitchMode('Edit')"><img 
	src="/design/cms/img/editor/design/html.gif" OnClick="Editor.SwitchMode('Src')"><img 
	src="/design/cms/img/editor/design/view.gif" OnClick="Editor.SwitchMode('View')">
</div>

<div class="switches">
	<input type="checkbox" id="html_tidy" value="true" title="Исправлять ошибки в HTML при сохранении (рекомендуется)">
	<input type="checkbox" id="html_auto_charset" value="true" title="Изменять кодировку (включать только при неправильном сохранениии документа)">
</div>

<HR class="statusbar_bg" id="statusbar_bg">

<FONT class="statusbar_text" id="status_bar">отображение скрытых элементов <B>выключено</B></FONT>

<div class="context_menu" id="context_menu" onclick="Editor.ContextMenuClick(event);" onmouseover="Editor.ContextMenuSwitch(event)" onmouseout="Editor.ContextMenuSwitch(event)" oncontextmenu="Editor.ContextMenuClose();"></div>

<div id="toolbar_table" class="toolbar"></div>
<div id="toolbar_form" class="toolbar"></div>

<div id="bcolorz" onMouseOver="this.style.display='block';document.all.bcolor.style.display='block'" onMouseOut="this.style.display='none';document.all.bcolor.style.display='none'" onClick="this.style.display='none';document.all.bcolor.style.display='none'"><img src="/design/cms/img/editor/colors.gif" id="bcolor" useMAP="#bcolors" border="0" style="position:absolute;top:55px;left:437px;display:none;"></div>
<div id="fcolorz" onMouseOver="this.style.display='block';document.all.fcolor.style.display='block'" onMouseOut="this.style.display='none';document.all.fcolor.style.display='none'" onClick="this.style.display='none';document.all.fcolor.style.display='none'"><img src="/design/cms/img/editor/colors.gif" id="fcolor" useMAP="#fcolors" border="0" style="position:absolute;top:55px;left:460px;display:none;"></div>

</div>


<script language="JavaScript">
function build_menu() {
	document.getElementById('EditFrame').style.height=document.body.clientHeight-92;
	document.getElementById('SrcFrame').style.height=document.body.clientHeight-92;
	document.getElementById('ViewFrame').style.height=document.body.clientHeight-92;
	document.getElementById('statusbar').style.top=document.body.clientHeight-28;
	document.getElementById('statusbar_bg').style.top=document.body.clientHeight-24;
	document.getElementById('status_bar').style.top=document.body.clientHeight-22;
	
	/* Основное меню */
	Editor.AddButton("main", "save", "Editor.Save()", "Сохранить");
	Editor.AddButton("main", "print", "Editor.PrintPage()", "Печать");
//	Editor.AddDevider("main");
//	Editor.AddButton("main", "undo", "Editor.Exec('Undo')", "Отменить (Ctrl+Z)");
//	Editor.AddButton("main", "redo", "Editor.Exec('Redo')", "Повторить");
	Editor.AddDevider("main");
	Editor.AddButton("main", "cut", "Editor.Exec('cut')", "Вырезать (Ctrl+X или Shift+Del)");
	Editor.AddButton("main", "copy", "Editor.Exec('copy')", "Копировать (Ctrl+C или Ctrl+Ins)");
	Editor.AddButton("main", "paste", "Editor.Exec('paste')", "Вставить (Ctrl+V или Shift+Ins)");
	Editor.AddButton("main", "paste_word", "showDialog('/tools/editor/clean_html.php','', 420, 355, 0, 0)", "Вставить из Word, Editor.Excel, Internet Explorer");
	
	/* Стандартная панель управления */
	Editor.AddDevider("standart");
	Editor.AddButton("standart", "structure_link", "if (Editor.TextSelected()) CenterWindow('/tools/editor/dialog/local_link.php','',400,500,1,0);", "Внутренняя ссылка");
	Editor.AddButton("standart", "link", "CenterWindow('/tools/editor/dialog/link.php','',400,155,0,0);", "Гиперссылка");
	Editor.AddButton("standart", "anchor", "CenterWindow('/tools/editor/dialog/anchor.php','',400,100,0,0);", "Якорь");
	Editor.AddButton("standart", "unlink", "Editor.Exec('Unlink')", "Удалить гиперссылку");
	Editor.AddButton("standart", "symbol", "CenterWindow('/tools/editor/dialog/symbol.php','',393, 291,0,0);", "Символ");
	Editor.AddButton("standart", "html/hr", "Editor.Exec('InsertHorizontalRule')", "Горизонтальная линия");
	Editor.AddButton("standart", "html/image", "Editor.InsImage();", "Рисунок");
	Editor.AddButton("standart", "table", "if(document.all.toolbar_table.style.display == 'block') {document.all.toolbar_table.style.display='none';} else {document.all.toolbar_table.style.display='block'}", "Панель &laquo;Таблицы&raquo;");
	Editor.AddButton("standart", "flash", "CenterWindow('/tools/editor/dialog/flash.php?id={@id}&table_name={@table_name}&field_name={@field_name}','',400,100,0,0);", "Flash");
	Editor.AddButton("standart", "attach", "if (Editor.TextSelected()) CenterWindow('/tools/editor/dialog/attach.php?id={@id}&table_name={@table_name}&field_name={@field_name}','',400,170,0,0);", "Прикрепить файл");
	Editor.AddButton("standart", "acronym", "if (Editor.TextSelected()) CenterWindow('/tools/editor/dialog/acronym.php','',400,100,0,0);", "Примечание");
	Editor.AddButton("standart", "smile", "CenterWindow('/tools/editor/dialog/icon.php','',400,400,0,0);", "Пиктограмма");
	Editor.AddButton("standart", "form/form", "if(document.all.toolbar_form.style.display == 'block') {document.all.toolbar_form.style.display='none';} else {document.all.toolbar_form.style.display='block'}", "Панель &laquo;Формы&raquo;");
	Editor.AddButton("standart", "layer", "Editor.InsertLayer();", "Создать слой");
	Editor.AddDevider("standart");
	Editor.AddButton("standart", "blist", "Editor.Exec('InsertUnorderedList')", "Маркированный список");
	Editor.AddButton("standart", "nlist", "Editor.Exec('InsertOrderedList')", "Нумерованный список");
	Editor.AddButton("standart", "ileft", "Editor.Exec('Outdent')", "Уменьшение отступа");
	Editor.AddButton("standart", "iright", "Editor.Exec('Indent')", "Увеличение отступа");
	Editor.AddDevider("standart");
	Editor.AddButton("standart", "unformat", "Editor.RemoveFormat()", "Отменить форматирование");
	Editor.AddButton("standart", "showhide", "Editor.ShowHide()", "Показать/скрыть элементы страницы");
	Editor.AddDevider("standart");
	Editor.AddElement("standart", "<select align=absmiddle onchange=\"Editor.docEdit.body.style.zoom=Editor.value\"><option value=5>500%</option><option value=2>200%</option><option value=1.5>150%</option><option value=1.25>125%</option><option value=1 selected>100%</option><option value=0.75>75%</option><option value=0.5>50%</option><option value=0.25>25%</option><option value=0.1>10%</option></select>", '<select disabled align="absmiddle"><option>100%</option></select>');
	
	/* Форматирование */
	Editor.AddButton("format", "bold", "Editor.Exec('bold')", "Жирный (Ctrl+B)");
	Editor.AddButton("format", "italic", "Editor.Exec('italic')", "Курсив (Ctrl+I)");
	Editor.AddButton("format", "under", "Editor.Exec('underline')", "Подчеркнутый (Ctrl+U)");
	Editor.AddButton("format", "strike", "Editor.Exec('StrikeThrough')", "Перечеркнутый");
	Editor.AddDevider("format");
	Editor.AddButton("format", "superscript", "Editor.Exec('superscript')", "Надстрочный");
	Editor.AddButton("format", "subscript", "Editor.Exec('subscript')", "Подстрочный");
	Editor.AddDevider("format");
	Editor.AddElement("format", "<img src=\"/design/cms/img/editor/bcolor.gif\" class=\"button\" onClick=\"document.all.bcolorz.style.display='block';document.all.bcolor.style.display='block'\" onmouseover=\"Editor.mOver(this)\" onmouseout=\"Editor.mOut(this);document.all.bcolorz.style.display='none';document.all.bcolor.style.display='none'\" alt=\"Цвет фона\">", '<img src="/design/cms/img/editor/bcolor.gif" class="disabled">');
	Editor.AddElement("format", "<img src=\"/design/cms/img/editor/fcolor.gif\" class=\"button\" onClick=\"document.all.fcolorz.style.display='block';document.all.fcolor.style.display='block'\" onmouseover=\"Editor.mOver(this)\" onmouseout=\"Editor.mOut(this);document.all.fcolorz.style.display='none';document.all.fcolor.style.display='none'\" alt=\"Цвет шрифта\">", '<img src="/design/cms/img/editor/fcolor.gif" class="disabled">');
	Editor.AddDevider("format");
	Editor.AddButton("format", "aleft", "Editor.Exec('JustifyLeft')", "Выравнивание по левому краю");
	Editor.AddButton("format", "center", "Editor.Exec('JustifyCenter')", "Выравнивание по центру");
	Editor.AddButton("format", "aright", "Editor.Exec('JustifyRight')", "Выравнивание по правому краю");
	Editor.AddDevider("format");
	Editor.AddElement("format", " <select align=\"absmiddle\" onchange=\"document.location.href='/tools/editor/editor.php?event={@event}&id={@id}&table_name={@table_name}&field_name=' + this.value\"><tmpl:language><option {$selected} value=\"{$field}\">{$name}</option></tmpl:language></select>", " <select align=absmiddle disabled><option>Язык:</option></select>");
	Editor.AddDevider("format");
	Editor.AddButton("format", "spellcheck", "Editor.ieSpellCheck()", "Проверка орфографии");
	Editor.AddButton("format", "cvs", "CenterWindow('/tools/editor/cvs/list.php?id={@id}&table_name={@table_name}&field_name={@field_name}','',640,480,1,0);", "История документа");
	

	/* Формируем контекстное меню */
	Editor.AddContext('A', 'link', "CenterWindow('/tools/editor/dialog/link.php','',400,155,0,0);", 'Редактировать');
	Editor.AddContext('A', 'unlink', "Editor.Exec('Unlink');", 'Удалить ссылку');
	
	Editor.AddContext('FORM', 'form/form', "showDialog('/tools/editor/form/property.php?type=form', '', 420, 135, 0, 0);", 'Параметры формы');
	Editor.AddContext('CHECKBOX', 'form/checkbox', "showDialog('/tools/editor/form/property.php?type=checkbox', '', 420, 190, 0, 0);", 'Параметры поля Checkbox');
	Editor.AddContext('SELECT', 'form/dropdown', "showDialog('/tools/editor/form/property.php?type=dropdown', '', 420, 420, 0, 0);", 'Параметры поля Select');
	Editor.AddContext('TEXT', 'form/text', "showDialog('/tools/editor/form/property.php?type=text', '', 420, 250, 0, 0);", 'Параметры поля Text');
	Editor.AddContext('PASSWORD', 'form/password', "showDialog('/tools/editor/form/property.php?type=text', '', 420, 250, 0, 0);", 'Параметры поля Password');
	Editor.AddContext('HIDDEN', 'form/hidden', "showDialog('/tools/editor/form/property.php?type=hidden', '', 420, 170, 0, 0);", 'Параметры Hidden поля');
	Editor.AddContext('RADIO', 'form/radio', "showDialog('/tools/editor/form/property.php?type=radio', '', 420, 185, 0, 0);", 'Параметры поля Radio');
	Editor.AddContext('FILE', 'form/file', "showDialog('/tools/editor/form/property.php?type=file', '', 420, 185, 0, 0);", 'Параметры поля File');
	Editor.AddContext('TEXTAREA', 'form/textarea', "showDialog('/tools/editor/form/property.php?type=textarea', '', 420, 170, 0, 0);", 'Параметры поля Textarea');
	
	Editor.AddContext('DIV', 'layer', "showDialog('/tools/editor/dialog/layer_edit.php', '', 420, 395, 0, 0);", 'Параметры слоя');
	Editor.AddContext('DIV', 'context/img_default', "if (Editor.current['DIV'] == '[object]') Editor.current['DIV'].style.removeAttribute('styleFloat');", 'По умолчанию');
	Editor.AddContext('DIV', 'context/img_left', "if (Editor.current['DIV'] == '[object]') Editor.current['DIV'].style.setAttribute('styleFloat', 'left', 0);", 'По левому краю');
	Editor.AddContext('DIV', 'context/img_right', "if (Editor.current['DIV'] == '[object]') Editor.current['DIV'].style.setAttribute('styleFloat', 'right', 0);", 'По правому краю');
	
	Editor.AddContext('IMG', 'html/image', "Editor.InsImage();", 'Редактировать');
	Editor.AddContext('IMG', 'context/img_default', "if (Editor.current['IMG'] == '[object]') Editor.current['IMG'].removeAttribute('align');", 'По умолчанию');
	Editor.AddContext('IMG', 'context/img_left', "if (Editor.current['IMG'] == '[object]') Editor.current['IMG'].setAttribute('align', 'left', 0);", 'По левому краю');
	Editor.AddContext('IMG', 'context/img_right', "if (Editor.current['IMG'] == '[object]') Editor.current['IMG'].setAttribute('align', 'right', 0);", 'По правому краю');
	Editor.AddContext('P', 'cut', "Editor.Exec('cut')", 'Вырезать');
	Editor.AddContext('P', 'copy', "Editor.Exec('copy')", 'Копировать');
	Editor.AddContext('P', 'paste', "Editor.Exec('paste')", 'Вставить');
	Editor.AddContext('TABLE', 'tb/prop', "showDialog('/tools/editor/table/prop_table.php','', 420, 300, 0, 0)", 'Свойства таблицы');
	Editor.AddContext('TABLE', 'tb/row_prop', "showDialog('/tools/editor/table/prop_row.php','', 380, 280, 0, 0)", 'Свойства ряда');
	Editor.AddContext('TABLE', 'tb/cell_prop', "showDialog('/tools/editor/table/prop_cell.php','', 420, 390, 0, 0)", 'Свойства ячейки');
	Editor.AddContext('TABLE', 'tb/cell_merge_down', "Editor.MergeVert()", 'Объединить с нижней');
	Editor.AddContext('TABLE', 'tb/cell_merge_right', "Editor.MergeCell('right')", 'Объединить с правой');
	Editor.AddContext('TABLE', 'tb/cell_insert_before', "Editor.InsertCell('beforeBegin')", 'Добавить ячейку слева');
	Editor.AddContext('TABLE', 'tb/cell_insert_after', "Editor.InsertCell('afterEnd')", 'Добавить ячейка справа');
	Editor.AddContext('TABLE', 'tb/row_insert', "Editor.InsertRow('beforeBegin')", 'Добавить ряд');
	Editor.AddContext('TABLE', 'tb/column_insert', "Editor.InsertCol('left')", 'Добавить колонку');
	Editor.AddContext('TABLE', 'tb/row_delete', "Editor.DeleteRow()", 'Удалить ряд');
	Editor.AddContext('TABLE', 'tb/column_delete', "Editor.DeleteCol()", 'Удалить колонку');
	Editor.AddContext('TABLE', 'tb/cell_delete', "Editor.CellDelete()", 'Удалить ячейку');
	
	/* Формируем тулбарину по управлению таблицами и формами */
	Editor.AddToolbarButton('table', 'tb/create', "showDialog('/tools/editor/table/table.php', '', 420, 390, 0, 0);", 'Таблица', false);
	Editor.AddToolbarButton('table', 'tb/prop', "showDialog('/tools/editor/table/prop_table.php','', 420, 340, 0, 0);", 'Свойства таблицы', true);
	Editor.AddToolbarButton('table', 'tb/row_prop', "showDialog('/tools/editor/table/prop_row.php','', 380, 315, 0, 0);", 'Свойства ряда', true);
	Editor.AddToolbarButton('table', 'tb/cell_prop', "showDialog('/tools/editor/table/prop_cell.php','', 420, 430, 0, 0);", 'Свойства ячейки', true);
	Editor.AddToolbarButton('table', 'tb/cell_merge_down', "Editor.MergeVert();", 'Объединить с нижней ячейкой', true);
	Editor.AddToolbarButton('table', 'tb/cell_merge_right', "Editor.MergeCell('right');", 'Объединить с ячейкой, которая находится справа', true);
	Editor.AddToolbarButton('table', 'tb/cell_insert_before', "Editor.InsertCell('beforeBegin');", 'Добавить ячейку слева', true);
	Editor.AddToolbarButton('table', 'tb/cell_insert_after', "Editor.InsertCell('afterEnd');", 'Добавить ячейку справа', true);
	Editor.AddToolbarButton('table', 'tb/row_insert', "Editor.InsertRow('beforeBegin');", 'Добавить ряд', true);
	Editor.AddToolbarButton('table', 'tb/column_insert', "Editor.InsertCol('left');", 'Добавить колонку', true);
	Editor.AddToolbarButton('table', 'tb/column_delete', "Editor.DeleteCol();", 'Удалить колонку', true);
	Editor.AddToolbarButton('table', 'tb/row_delete', "Editor.DeleteRow();", 'Удалить ряд', true);
	Editor.AddToolbarButton('table', 'tb/cell_delete', "Editor.CellDelete();", 'Удалить ячейку', true);
	
	Editor.AddToolbarButton('form', 'form/form', "showDialog('/tools/editor/form/form.php', '', 420, 180, 0, 0);", 'Создать форму', false);
	Editor.AddToolbarButton('form', 'form/hidden', "Editor.Exec('InsertInputHidden');", 'Спрятанное поле', false);
	Editor.AddToolbarButton('form', 'form/checkbox', "Editor.Exec('InsertInputCheckbox');", 'Галочка (Checkbox)', false);
	Editor.AddToolbarButton('form', 'form/radio', "Editor.Exec('InsertInputRadio');", 'Переключатель (Radio)', false);
	Editor.AddToolbarButton('form', 'form/dropdown', "Editor.Exec('InsertSelectDropdown');", 'Выпадающий список', false);
	Editor.AddToolbarButton('form', 'form/listbox', "Editor.Exec('InsertSelectListbox');", 'Прокручиваемый список', false);
	Editor.AddToolbarButton('form', 'form/text', "Editor.Exec('InsertInputText');", 'Текстовое поле', false);
	Editor.AddToolbarButton('form', 'form/file', "Editor.Exec('InsertInputFileUpload');", 'Файл', false);
	Editor.AddToolbarButton('form', 'form/password', "Editor.Exec('InsertInputPassword');", 'Пароль', false);
	Editor.AddToolbarButton('form', 'form/textarea', "Editor.Exec('InsertTextArea');", 'Многострочное текстовое поле', false);
	Editor.AddToolbarButton('form', 'form/submit', "Editor.Exec('InsertInputSubmit');", 'Кнопка отправки данных', false);
	Editor.AddToolbarButton('form', 'form/reset', "Editor.Exec('InsertInputReset');", 'Кнопка очистки полей формы', false);
	Editor.AddToolbarButton('form', 'form/button', "Editor.Exec('InsertButton');", 'Кнопка (Button)', false);
	
	Editor.BuildToolbar('table');
	Editor.BuildToolbar('form');
}

//
//var colors = ['00FF33','003366','003399','0033CC','0033FF','006600','006633','006666','006699','000000','000033','000066','000099',
//'0000CC','0000FF','003300','003333','00CC00','00CC33','00CC66','00CC99','00CCCC','00CCFF','00FF00','0066CC','0066FF','009900',
//'009933','009966','009999','0099CC','0099FF','3300CC','3300FF','333300','333333','333366','336699','3333CC','3333FF','00FF66',
//'00FF99','00FFCC','00FFFF','330000','330033','330066','330099','339966','339999','3399CC','3399FF','33CC00','33CC33','33CC66',
//'33CC99','336600','336633','336666','336699','3366CC','3366FF','339900','339933','660000','660033','660066','660099','6600CC',
//'6600FF','663300','663333','33CCCC','33CCFF','33FF00','33FF33','33FF66','33FF99','33FFCC','33FFFF','6666CC','6666FF','669900',
//'669933','669966','669999','6699CC','6699FF','663366','663399','6633CC','6633FF','666600','666633','666666','666699','66FF66',
//'66FF99','66FFCC','66FFFF','990000','990033','990066','990099','66CC00','66CC33','66CC66','66CC99','66CCCC','66CCFF','66FF00',
//'66FF33','996600','996633','996666','996699','9966CC','9966FF','999900','999933','9900CC','9900FF','993300','993333','993366',
//'993399','9933CC','9933FF','99CCCC','99CCFF','99FF00','99FF33','99FF66','99FF99','99FFCC','99FFFF','999966','999999','9999CC',
//'9999FF','99CC00','99CC33','99CC66','99CC99','CC3366','CC3399','CC33CC','CC33FF','CC6600','CC6633','CC6666','CC6699','CC0000',
//'CC0033','CC0066','CC0099','CC00CC','CC00FF','CC3300','CC3333','CCCC00','CCCC33','CCCC66','CCCC99','CCCCCC','CCCCFF','CCFF00',
//'CCFF33','CC66CC','CC66FF','CC9900','CC9933','CC9966','CC9999','CC99CC','CC99FF','FF00CC','FF00FF','FF3300','FF3333','FF3366',
//'FF3399','FF33CC','FF33FF','CCFF66','CCFF99','CCFFCC','CCFFFF','FF0000','FF0033','FF0066','FF0099','FF9966','FF9999','FF99CC',
//'FF99FF','FFCC00','FFCC33','FFCC66','FFCC99','FF6600','FF6633','FF6666','FF6699','FF66CC','FF66FF','FF9900','FF9933','FFCCCC',
//'FFCCFF','FFFF00','FFFF33','FFFF66','FFFF99','FFFFCC','FFFFFF'];
//
//
//document.write();
//var counter = 0;
//var map1 = '';
//var map2 = '';
//
//for (var x = 0; x <= 139; x = x + 9) {
//	for (var y = 0; y <= 121; y = y + 9) {
//		counter++;
//		map1 += '<AREA shape="rect" coords="'+x+','+y+','+(x+8)+','+(y+8)+'" onmouseover="window.status=\'#'+colors[counter]+'\'" onClick="Editor.Exec(\'BackColor\',\'#'+colors[counter]+'\')">';
//		map2 += '<AREA shape="rect" coords="'+x+','+y+','+(x+8)+','+(y+8)+'" onClick="Editor.Exec(\'ForeColor\',\''+colors[counter]+'\')">';
//	}
//}
//document.write('<MAP name="bcolors">'+map1+'</MAP>');
//document.write('<MAP name="fcolors">'+map2+'</MAP>');
//map1 = map2 = ''
//colors = []
</script>



<MAP name="bcolors">
  <AREA shape="rect" coords="139,13,147,21" onClick="Editor.Exec('BackColor','00FF33')">
  <AREA shape="rect" coords="76,4,84,12" onClick="Editor.Exec('BackColor','003366')">
  <AREA shape="rect" coords="85,4,93,12" onClick="Editor.Exec('BackColor','003399')">
  <AREA shape="rect" coords="94,4,102,12" onClick="Editor.Exec('BackColor','0033CC')">
  <AREA shape="rect" coords="103,4,111,12" onClick="Editor.Exec('BackColor','0033FF')">
  <AREA shape="rect" coords="112,4,120,12" onClick="Editor.Exec('BackColor','006600')">
  <AREA shape="rect" coords="121,4,129,12" onClick="Editor.Exec('BackColor','006633')">
  <AREA shape="rect" coords="130,4,138,12" onClick="Editor.Exec('BackColor','006666')">
  <AREA shape="rect" coords="139,4,147,12" onClick="Editor.Exec('BackColor','006699')">
  <AREA shape="rect" coords="4,4,12,12" onClick="Editor.Exec('BackColor','000000')">
  <AREA shape="rect" coords="13,4,21,12" onClick="Editor.Exec('BackColor','000033')">
  <AREA shape="rect" coords="22,4,30,12" onClick="Editor.Exec('BackColor','000066')">
  <AREA shape="rect" coords="31,4,39,12" onClick="Editor.Exec('BackColor','000099')">
  <AREA shape="rect" coords="40,4,48,12" onClick="Editor.Exec('BackColor','0000CC')">
  <AREA shape="rect" coords="49,4,57,12" onClick="Editor.Exec('BackColor','0000FF')">
  <AREA shape="rect" coords="58,4,66,12" onClick="Editor.Exec('BackColor','003300')">
  <AREA shape="rect" coords="67,4,75,12" onClick="Editor.Exec('BackColor','003333')">
  <AREA shape="rect" coords="76,13,84,21" onClick="Editor.Exec('BackColor','00CC00')">
  <AREA shape="rect" coords="85,13,93,21" onClick="Editor.Exec('BackColor','00CC33')">
  <AREA shape="rect" coords="94,13,102,21" onClick="Editor.Exec('BackColor','00CC66')">
  <AREA shape="rect" coords="103,13,111,21" onClick="Editor.Exec('BackColor','00CC99')">
  <AREA shape="rect" coords="112,13,120,21" onClick="Editor.Exec('BackColor','00CCCC')">
  <AREA shape="rect" coords="121,13,129,21" onClick="Editor.Exec('BackColor','00CCFF')">
  <AREA shape="rect" coords="130,13,138,21" onClick="Editor.Exec('BackColor','00FF00')">
  <AREA shape="rect" coords="4,13,12,21" onClick="Editor.Exec('BackColor','0066CC')">
  <AREA shape="rect" coords="13,13,21,21" onClick="Editor.Exec('BackColor','0066FF')">
  <AREA shape="rect" coords="22,13,30,21" onClick="Editor.Exec('BackColor','009900')">
  <AREA shape="rect" coords="31,13,39,21" onClick="Editor.Exec('BackColor','009933')">
  <AREA shape="rect" coords="40,13,48,21" onClick="Editor.Exec('BackColor','009966')">
  <AREA shape="rect" coords="49,13,57,21" onClick="Editor.Exec('BackColor','009999')">
  <AREA shape="rect" coords="58,13,66,21" onClick="Editor.Exec('BackColor','0099CC')">
  <AREA shape="rect" coords="67,13,75,21" onClick="Editor.Exec('BackColor','0099FF')">
  <AREA shape="rect" coords="76,22,84,30" onClick="Editor.Exec('BackColor','3300CC')">
  <AREA shape="rect" coords="85,22,93,30" onClick="Editor.Exec('BackColor','3300FF')">
  <AREA shape="rect" coords="94,22,102,30" onClick="Editor.Exec('BackColor','333300')">
  <AREA shape="rect" coords="103,22,111,30" onClick="Editor.Exec('BackColor','333333')">
  <AREA shape="rect" coords="112,22,120,30" onClick="Editor.Exec('BackColor','333366')">
  <AREA shape="rect" coords="121,22,129,30" onClick="Editor.Exec('BackColor','336699')">
  <AREA shape="rect" coords="130,22,138,30" onClick="Editor.Exec('BackColor','3333CC')">
  <AREA shape="rect" coords="139,22,147,30" onClick="Editor.Exec('BackColor','3333FF')">
  <AREA shape="rect" coords="4,22,12,30" onClick="Editor.Exec('BackColor','00FF66')">
  <AREA shape="rect" coords="13,22,21,30" onClick="Editor.Exec('BackColor','00FF99')">
  <AREA shape="rect" coords="22,22,30,30" onClick="Editor.Exec('BackColor','00FFCC')">
  <AREA shape="rect" coords="31,22,39,30" onClick="Editor.Exec('BackColor','00FFFF')">
  <AREA shape="rect" coords="40,22,48,30" onClick="Editor.Exec('BackColor','330000')">
  <AREA shape="rect" coords="49,22,57,30" onClick="Editor.Exec('BackColor','330033')">
  <AREA shape="rect" coords="58,22,66,30" onClick="Editor.Exec('BackColor','330066')">
  <AREA shape="rect" coords="67,22,75,30" onClick="Editor.Exec('BackColor','330099')">
  <AREA shape="rect" coords="76,31,84,39" onClick="Editor.Exec('BackColor','339966')">
  <AREA shape="rect" coords="85,31,93,39" onClick="Editor.Exec('BackColor','339999')">
  <AREA shape="rect" coords="94,31,102,39" onClick="Editor.Exec('BackColor','3399CC')">
  <AREA shape="rect" coords="103,31,111,39" onClick="Editor.Exec('BackColor','3399FF')">
  <AREA shape="rect" coords="112,30,120,38" onClick="Editor.Exec('BackColor','33CC00')">
  <AREA shape="rect" coords="121,31,129,39" onClick="Editor.Exec('BackColor','33CC33')">
  <AREA shape="rect" coords="130,31,138,39" onClick="Editor.Exec('BackColor','33CC66')">
  <AREA shape="rect" coords="139,31,147,39" onClick="Editor.Exec('BackColor','33CC99')">
  <AREA shape="rect" coords="4,31,12,39" onClick="Editor.Exec('BackColor','336600')">
  <AREA shape="rect" coords="13,31,21,39" onClick="Editor.Exec('BackColor','336633')">
  <AREA shape="rect" coords="22,31,30,39" onClick="Editor.Exec('BackColor','336666')">
  <AREA shape="rect" coords="31,31,39,39" onClick="Editor.Exec('BackColor','336699')">
  <AREA shape="rect" coords="40,31,48,39" onClick="Editor.Exec('BackColor','3366CC')">
  <AREA shape="rect" coords="49,31,57,39" onClick="Editor.Exec('BackColor','3366FF')">
  <AREA shape="rect" coords="58,31,66,39" onClick="Editor.Exec('BackColor','339900')">
  <AREA shape="rect" coords="67,31,75,39" onClick="Editor.Exec('BackColor','339933')">
  <AREA shape="rect" coords="76,40,84,48" onClick="Editor.Exec('BackColor','660000')">
  <AREA shape="rect" coords="85,40,93,48" onClick="Editor.Exec('BackColor','660033')">
  <AREA shape="rect" coords="94,40,102,48" onClick="Editor.Exec('BackColor','660066')">
  <AREA shape="rect" coords="103,40,111,48" onClick="Editor.Exec('BackColor','660099')">
  <AREA shape="rect" coords="112,40,120,48" onClick="Editor.Exec('BackColor','6600CC')">
  <AREA shape="rect" coords="121,40,129,48" onClick="Editor.Exec('BackColor','6600FF')">
  <AREA shape="rect" coords="130,40,138,48" onClick="Editor.Exec('BackColor','663300')">
  <AREA shape="rect" coords="139,40,147,48" onClick="Editor.Exec('BackColor','663333')">
  <AREA shape="rect" coords="4,40,12,48" onClick="Editor.Exec('BackColor','33CCCC')">
  <AREA shape="rect" coords="13,40,21,48" onClick="Editor.Exec('BackColor','33CCFF')">
  <AREA shape="rect" coords="22,40,30,48" onClick="Editor.Exec('BackColor','33FF00')">
  <AREA shape="rect" coords="31,40,39,48" onClick="Editor.Exec('BackColor','33FF33')">
  <AREA shape="rect" coords="40,40,48,48" onClick="Editor.Exec('BackColor','33FF66')">
  <AREA shape="rect" coords="49,40,57,48" onClick="Editor.Exec('BackColor','33FF99')">
  <AREA shape="rect" coords="58,40,66,48" onClick="Editor.Exec('BackColor','33FFCC')">
  <AREA shape="rect" coords="67,40,75,48" onClick="Editor.Exec('BackColor','33FFFF')">
  <AREA shape="rect" coords="76,49,84,57" onClick="Editor.Exec('BackColor','6666CC')">
  <AREA shape="rect" coords="85,49,93,57" onClick="Editor.Exec('BackColor','6666FF')">
  <AREA shape="rect" coords="94,49,102,57" onClick="Editor.Exec('BackColor','669900')">
  <AREA shape="rect" coords="103,49,111,57" onClick="Editor.Exec('BackColor','669933')">
  <AREA shape="rect" coords="112,49,120,57" onClick="Editor.Exec('BackColor','669966')">
  <AREA shape="rect" coords="121,49,129,57" onClick="Editor.Exec('BackColor','669999')">
  <AREA shape="rect" coords="130,49,138,57" onClick="Editor.Exec('BackColor','6699CC')">
  <AREA shape="rect" coords="139,49,147,57" onClick="Editor.Exec('BackColor','6699FF')">
  <AREA shape="rect" coords="4,49,12,57" onClick="Editor.Exec('BackColor','663366')">
  <AREA shape="rect" coords="13,49,21,57" onClick="Editor.Exec('BackColor','663399')">
  <AREA shape="rect" coords="22,49,30,57" onClick="Editor.Exec('BackColor','6633CC')">
  <AREA shape="rect" coords="31,49,39,57" onClick="Editor.Exec('BackColor','6633FF')">
  <AREA shape="rect" coords="40,49,48,57" onClick="Editor.Exec('BackColor','666600')">
  <AREA shape="rect" coords="49,49,57,57" onClick="Editor.Exec('BackColor','666633')">
  <AREA shape="rect" coords="58,49,66,57" onClick="Editor.Exec('BackColor','666666')">
  <AREA shape="rect" coords="67,49,75,57" onClick="Editor.Exec('BackColor','666699')">
  <AREA shape="rect" coords="76,58,84,66" onClick="Editor.Exec('BackColor','66FF66')">
  <AREA shape="rect" coords="85,58,93,66" onClick="Editor.Exec('BackColor','66FF99')">
  <AREA shape="rect" coords="94,58,102,66" onClick="Editor.Exec('BackColor','66FFCC')">
  <AREA shape="rect" coords="103,58,111,66" onClick="Editor.Exec('BackColor','66FFFF')">
  <AREA shape="rect" coords="112,58,120,66" onClick="Editor.Exec('BackColor','990000')">
  <AREA shape="rect" coords="121,58,129,66" onClick="Editor.Exec('BackColor','990033')">
  <AREA shape="rect" coords="130,58,138,66" onClick="Editor.Exec('BackColor','990066')">
  <AREA shape="rect" coords="139,58,147,66" onClick="Editor.Exec('BackColor','990099')">
  <AREA shape="rect" coords="4,58,12,66" onClick="Editor.Exec('BackColor','66CC00')">
  <AREA shape="rect" coords="13,58,21,66" onClick="Editor.Exec('BackColor','66CC33')">
  <AREA shape="rect" coords="22,58,30,66" onClick="Editor.Exec('BackColor','66CC66')">
  <AREA shape="rect" coords="31,58,39,66" onClick="Editor.Exec('BackColor','66CC99')">
  <AREA shape="rect" coords="40,58,48,66" onClick="Editor.Exec('BackColor','66CCCC')">
  <AREA shape="rect" coords="49,58,57,66" onClick="Editor.Exec('BackColor','66CCFF')">
  <AREA shape="rect" coords="58,58,66,66" onClick="Editor.Exec('BackColor','66FF00')">
  <AREA shape="rect" coords="67,58,75,66" onClick="Editor.Exec('BackColor','66FF33')">
  <AREA shape="rect" coords="76,67,84,75" onClick="Editor.Exec('BackColor','996600')">
  <AREA shape="rect" coords="85,67,93,75" onClick="Editor.Exec('BackColor','996633')">
  <AREA shape="rect" coords="94,67,102,75" onClick="Editor.Exec('BackColor','996666')">
  <AREA shape="rect" coords="103,67,111,75" onClick="Editor.Exec('BackColor','996699')">
  <AREA shape="rect" coords="112,67,120,75" onClick="Editor.Exec('BackColor','9966CC')">
  <AREA shape="rect" coords="121,67,129,75" onClick="Editor.Exec('BackColor','9966FF')">
  <AREA shape="rect" coords="130,67,138,75" onClick="Editor.Exec('BackColor','999900')">
  <AREA shape="rect" coords="139,67,147,75" onClick="Editor.Exec('BackColor','999933')">
  <AREA shape="rect" coords="4,67,12,75" onClick="Editor.Exec('BackColor','9900CC')">
  <AREA shape="rect" coords="13,67,21,75" onClick="Editor.Exec('BackColor','9900FF')">
  <AREA shape="rect" coords="22,67,30,75" onClick="Editor.Exec('BackColor','993300')">
  <AREA shape="rect" coords="31,67,39,75" onClick="Editor.Exec('BackColor','993333')">
  <AREA shape="rect" coords="40,67,48,75" onClick="Editor.Exec('BackColor','993366')">
  <AREA shape="rect" coords="49,67,57,75" onClick="Editor.Exec('BackColor','993399')">
  <AREA shape="rect" coords="58,67,66,75" onClick="Editor.Exec('BackColor','9933CC')">
  <AREA shape="rect" coords="67,67,75,75" onClick="Editor.Exec('BackColor','9933FF')">
  <AREA shape="rect" coords="76,76,84,84" onClick="Editor.Exec('BackColor','99CCCC')">
  <AREA shape="rect" coords="85,76,93,84" onClick="Editor.Exec('BackColor','99CCFF')">
  <AREA shape="rect" coords="94,76,102,84" onClick="Editor.Exec('BackColor','99FF00')">
  <AREA shape="rect" coords="103,76,111,84" onClick="Editor.Exec('BackColor','99FF33')">
  <AREA shape="rect" coords="112,76,120,84" onClick="Editor.Exec('BackColor','99FF66')">
  <AREA shape="rect" coords="121,76,129,84" onClick="Editor.Exec('BackColor','99FF99')">
  <AREA shape="rect" coords="130,76,138,84" onClick="Editor.Exec('BackColor','99FFCC')">
  <AREA shape="rect" coords="139,76,147,84" onClick="Editor.Exec('BackColor','99FFFF')">
  <AREA shape="rect" coords="4,76,12,84" onClick="Editor.Exec('BackColor','999966')">
  <AREA shape="rect" coords="13,76,21,84" onClick="Editor.Exec('BackColor','999999')">
  <AREA shape="rect" coords="22,76,30,84" onClick="Editor.Exec('BackColor','9999CC')">
  <AREA shape="rect" coords="31,76,39,84" onClick="Editor.Exec('BackColor','9999FF')">
  <AREA shape="rect" coords="40,76,48,84" onClick="Editor.Exec('BackColor','99CC00')">
  <AREA shape="rect" coords="49,76,57,84" onClick="Editor.Exec('BackColor','99CC33')">
  <AREA shape="rect" coords="58,76,66,84" onClick="Editor.Exec('BackColor','99CC66')">
  <AREA shape="rect" coords="67,76,75,84" onClick="Editor.Exec('BackColor','99CC99')">
  <AREA shape="rect" coords="76,85,84,93" onClick="Editor.Exec('BackColor','CC3366')">
  <AREA shape="rect" coords="85,85,93,93" onClick="Editor.Exec('BackColor','CC3399')">
  <AREA shape="rect" coords="94,85,102,93" onClick="Editor.Exec('BackColor','CC33CC')">
  <AREA shape="rect" coords="103,85,111,93" onClick="Editor.Exec('BackColor','CC33FF')">
  <AREA shape="rect" coords="112,85,120,93" onClick="Editor.Exec('BackColor','CC6600')">
  <AREA shape="rect" coords="121,85,129,93" onClick="Editor.Exec('BackColor','CC6633')">
  <AREA shape="rect" coords="130,85,138,93" onClick="Editor.Exec('BackColor','CC6666')">
  <AREA shape="rect" coords="139,85,147,93" onClick="Editor.Exec('BackColor','CC6699')">
  <AREA shape="rect" coords="4,85,12,93" onClick="Editor.Exec('BackColor','CC0000')">
  <AREA shape="rect" coords="13,85,21,93" onClick="Editor.Exec('BackColor','CC0033')">
  <AREA shape="rect" coords="22,85,30,93" onClick="Editor.Exec('BackColor','CC0066')">
  <AREA shape="rect" coords="31,85,39,93" onClick="Editor.Exec('BackColor','CC0099')">
  <AREA shape="rect" coords="40,85,48,93" onClick="Editor.Exec('BackColor','CC00CC')">
  <AREA shape="rect" coords="49,85,57,93" onClick="Editor.Exec('BackColor','CC00FF')">
  <AREA shape="rect" coords="58,85,66,93" onClick="Editor.Exec('BackColor','CC3300')">
  <AREA shape="rect" coords="67,85,75,93" onClick="Editor.Exec('BackColor','CC3333')">
  <AREA shape="rect" coords="76,94,84,102" onClick="Editor.Exec('BackColor','CCCC00')">
  <AREA shape="rect" coords="85,94,93,102" onClick="Editor.Exec('BackColor','CCCC33')">
  <AREA shape="rect" coords="94,94,102,102" onClick="Editor.Exec('BackColor','CCCC66')">

  <AREA shape="rect" coords="103,94,111,102" onClick="Editor.Exec('BackColor','CCCC99')">
  <AREA shape="rect" coords="112,94,120,102" onClick="Editor.Exec('BackColor','CCCCCC')">
  <AREA shape="rect" coords="121,94,129,102" onClick="Editor.Exec('BackColor','CCCCFF')">
  <AREA shape="rect" coords="130,94,138,102" onClick="Editor.Exec('BackColor','CCFF00')">
  <AREA shape="rect" coords="139,94,147,102" onClick="Editor.Exec('BackColor','CCFF33')">
  <AREA shape="rect" coords="4,94,12,102" onClick="Editor.Exec('BackColor','CC66CC')">
  <AREA shape="rect" coords="13,94,21,102" onClick="Editor.Exec('BackColor','CC66FF')">
  <AREA shape="rect" coords="22,94,30,102" onClick="Editor.Exec('BackColor','CC9900')">
  <AREA shape="rect" coords="31,94,39,102" onClick="Editor.Exec('BackColor','CC9933')">
  <AREA shape="rect" coords="40,94,48,102" onClick="Editor.Exec('BackColor','CC9966')">
  <AREA shape="rect" coords="49,94,57,102" onClick="Editor.Exec('BackColor','CC9999')">
  <AREA shape="rect" coords="61,96,69,104" onClick="Editor.Exec('BackColor','CC99CC')">
  <AREA shape="rect" coords="67,94,75,102" onClick="Editor.Exec('BackColor','CC99FF')">
  <AREA shape="rect" coords="76,103,84,111" onClick="Editor.Exec('BackColor','FF00CC')">
  <AREA shape="rect" coords="85,103,93,111" onClick="Editor.Exec('BackColor','FF00FF')">
  <AREA shape="rect" coords="94,103,102,111" onClick="Editor.Exec('BackColor','FF3300')">
  <AREA shape="rect" coords="103,103,111,111" onClick="Editor.Exec('BackColor','FF3333')">
  <AREA shape="rect" coords="112,103,120,111" onClick="Editor.Exec('BackColor','FF3366')">
  <AREA shape="rect" coords="121,103,129,111" onClick="Editor.Exec('BackColor','FF3399')">
  <AREA shape="rect" coords="130,103,138,111" onClick="Editor.Exec('BackColor','FF33CC')">
  <AREA shape="rect" coords="139,103,147,111" onClick="Editor.Exec('BackColor','FF33FF')">
  <AREA shape="rect" coords="4,103,12,111" onClick="Editor.Exec('BackColor','CCFF66')">
  <AREA shape="rect" coords="13,103,21,111" onClick="Editor.Exec('BackColor','CCFF99')">
  <AREA shape="rect" coords="22,103,30,111" onClick="Editor.Exec('BackColor','CCFFCC')">
  <AREA shape="rect" coords="31,103,39,111" onClick="Editor.Exec('BackColor','CCFFFF')">
  <AREA shape="rect" coords="40,103,48,111" onClick="Editor.Exec('BackColor','FF0000')">
  <AREA shape="rect" coords="49,103,57,111" onClick="Editor.Exec('BackColor','FF0033')">
  <AREA shape="rect" coords="58,103,66,111" onClick="Editor.Exec('BackColor','FF0066')">
  <AREA shape="rect" coords="67,103,75,111" onClick="Editor.Exec('BackColor','FF0099')">
  <AREA shape="rect" coords="76,112,84,120" onClick="Editor.Exec('BackColor','FF9966')">
  <AREA shape="rect" coords="85,112,93,120" onClick="Editor.Exec('BackColor','FF9999')">
  <AREA shape="rect" coords="94,112,102,120" onClick="Editor.Exec('BackColor','FF99CC')">
  <AREA shape="rect" coords="103,112,111,120" onClick="Editor.Exec('BackColor','FF99FF')">
  <AREA shape="rect" coords="112,112,120,120" onClick="Editor.Exec('BackColor','FFCC00')">
  <AREA shape="rect" coords="121,112,129,120" onClick="Editor.Exec('BackColor','FFCC33')">
  <AREA shape="rect" coords="130,112,138,120" onClick="Editor.Exec('BackColor','FFCC66')">
  <AREA shape="rect" coords="139,112,147,120" onClick="Editor.Exec('BackColor','FFCC99')">
  <AREA shape="rect" coords="4,112,12,120" onClick="Editor.Exec('BackColor','FF6600')">
  <AREA shape="rect" coords="13,112,21,120" onClick="Editor.Exec('BackColor','FF6633')">
  <AREA shape="rect" coords="22,112,30,120" onClick="Editor.Exec('BackColor','FF6666')">
  <AREA shape="rect" coords="31,112,39,120" onClick="Editor.Exec('BackColor','FF6699')">
  <AREA shape="rect" coords="40,112,48,120" onClick="Editor.Exec('BackColor','FF66CC')">
  <AREA shape="rect" coords="49,112,57,120" onClick="Editor.Exec('BackColor','FF66FF')">
  <AREA shape="rect" coords="58,112,66,120" onClick="Editor.Exec('BackColor','FF9900')">
  <AREA shape="rect" coords="67,112,75,120" onClick="Editor.Exec('BackColor','FF9933')">
  <AREA shape="rect" coords="4,121,12,129" onClick="Editor.Exec('BackColor','FFCCCC')">
  <AREA shape="rect" coords="13,121,21,129" onClick="Editor.Exec('BackColor','FFCCFF')">
  <AREA shape="rect" coords="22,121,30,129" onClick="Editor.Exec('BackColor','FFFF00')">
  <AREA shape="rect" coords="31,121,39,129" onClick="Editor.Exec('BackColor','FFFF33')">
  <AREA shape="rect" coords="40,121,48,129" onClick="Editor.Exec('BackColor','FFFF66')">
  <AREA shape="rect" coords="49,121,57,129" onClick="Editor.Exec('BackColor','FFFF99')">
  <AREA shape="rect" coords="58,121,66,129" onClick="Editor.Exec('BackColor','FFFFCC')">
  <AREA shape="rect" coords="67,121,75,129" onClick="Editor.Exec('BackColor','FFFFFF')">
</MAP>

<MAP name="fcolors">
  <AREA shape="rect" coords="139,13,147,21" onClick="Editor.Exec('ForeColor','00FF33')">
  <AREA shape="rect" coords="76,4,84,12" onClick="Editor.Exec('ForeColor','003366')">
  <AREA shape="rect" coords="85,4,93,12" onClick="Editor.Exec('ForeColor','003399')">
  <AREA shape="rect" coords="94,4,102,12" onClick="Editor.Exec('ForeColor','0033CC')">
  <AREA shape="rect" coords="103,4,111,12" onClick="Editor.Exec('ForeColor','0033FF')">
  <AREA shape="rect" coords="112,4,120,12" onClick="Editor.Exec('ForeColor','006600')">
  <AREA shape="rect" coords="121,4,129,12" onClick="Editor.Exec('ForeColor','006633')">
  <AREA shape="rect" coords="130,4,138,12" onClick="Editor.Exec('ForeColor','006666')">
  <AREA shape="rect" coords="139,4,147,12" onClick="Editor.Exec('ForeColor','006699')">
  <AREA shape="rect" coords="4,4,12,12" onClick="Editor.Exec('ForeColor','000000')">
  <AREA shape="rect" coords="13,4,21,12" onClick="Editor.Exec('ForeColor','000033')">
  <AREA shape="rect" coords="22,4,30,12" onClick="Editor.Exec('ForeColor','000066')">
  <AREA shape="rect" coords="31,4,39,12" onClick="Editor.Exec('ForeColor','000099')">
  <AREA shape="rect" coords="40,4,48,12" onClick="Editor.Exec('ForeColor','0000CC')">
  <AREA shape="rect" coords="49,4,57,12" onClick="Editor.Exec('ForeColor','0000FF')">
  <AREA shape="rect" coords="58,4,66,12" onClick="Editor.Exec('ForeColor','003300')">
  <AREA shape="rect" coords="67,4,75,12" onClick="Editor.Exec('ForeColor','003333')">
  <AREA shape="rect" coords="76,13,84,21" onClick="Editor.Exec('ForeColor','00CC00')">
  <AREA shape="rect" coords="85,13,93,21" onClick="Editor.Exec('ForeColor','00CC33')">
  <AREA shape="rect" coords="94,13,102,21" onClick="Editor.Exec('ForeColor','00CC66')">
  <AREA shape="rect" coords="103,13,111,21" onClick="Editor.Exec('ForeColor','00CC99')">
  <AREA shape="rect" coords="112,13,120,21" onClick="Editor.Exec('ForeColor','00CCCC')">
  <AREA shape="rect" coords="121,13,129,21" onClick="Editor.Exec('ForeColor','00CCFF')">
  <AREA shape="rect" coords="130,13,138,21" onClick="Editor.Exec('ForeColor','00FF00')">
  <AREA shape="rect" coords="4,13,12,21" onClick="Editor.Exec('ForeColor','0066CC')">
  <AREA shape="rect" coords="13,13,21,21" onClick="Editor.Exec('ForeColor','0066FF')">
  <AREA shape="rect" coords="22,13,30,21" onClick="Editor.Exec('ForeColor','009900')">
  <AREA shape="rect" coords="31,13,39,21" onClick="Editor.Exec('ForeColor','009933')">
  <AREA shape="rect" coords="40,13,48,21" onClick="Editor.Exec('ForeColor','009966')">
  <AREA shape="rect" coords="49,13,57,21" onClick="Editor.Exec('ForeColor','009999')">
  <AREA shape="rect" coords="58,13,66,21" onClick="Editor.Exec('ForeColor','0099CC')">
  <AREA shape="rect" coords="67,13,75,21" onClick="Editor.Exec('ForeColor','0099FF')">
  <AREA shape="rect" coords="76,22,84,30" onClick="Editor.Exec('ForeColor','3300CC')">
  <AREA shape="rect" coords="85,22,93,30" onClick="Editor.Exec('ForeColor','3300FF')">
  <AREA shape="rect" coords="94,22,102,30" onClick="Editor.Exec('ForeColor','333300')">
  <AREA shape="rect" coords="103,22,111,30" onClick="Editor.Exec('ForeColor','333333')">
  <AREA shape="rect" coords="112,22,120,30" onClick="Editor.Exec('ForeColor','333366')">
  <AREA shape="rect" coords="121,22,129,30" onClick="Editor.Exec('ForeColor','336699')">
  <AREA shape="rect" coords="130,22,138,30" onClick="Editor.Exec('ForeColor','3333CC')">
  <AREA shape="rect" coords="139,22,147,30" onClick="Editor.Exec('ForeColor','3333FF')">
  <AREA shape="rect" coords="4,22,12,30" onClick="Editor.Exec('ForeColor','00FF66')">
  <AREA shape="rect" coords="13,22,21,30" onClick="Editor.Exec('ForeColor','00FF99')">
  <AREA shape="rect" coords="22,22,30,30" onClick="Editor.Exec('ForeColor','00FFCC')">
  <AREA shape="rect" coords="31,22,39,30" onClick="Editor.Exec('ForeColor','00FFFF')">
  <AREA shape="rect" coords="40,22,48,30" onClick="Editor.Exec('ForeColor','330000')">
  <AREA shape="rect" coords="49,22,57,30" onClick="Editor.Exec('ForeColor','330033')">
  <AREA shape="rect" coords="58,22,66,30" onClick="Editor.Exec('ForeColor','330066')">
  <AREA shape="rect" coords="67,22,75,30" onClick="Editor.Exec('ForeColor','330099')">
  <AREA shape="rect" coords="76,31,84,39" onClick="Editor.Exec('ForeColor','339966')">
  <AREA shape="rect" coords="85,31,93,39" onClick="Editor.Exec('ForeColor','339999')">
  <AREA shape="rect" coords="94,31,102,39" onClick="Editor.Exec('ForeColor','3399CC')">
  <AREA shape="rect" coords="103,31,111,39" onClick="Editor.Exec('ForeColor','3399FF')">
  <AREA shape="rect" coords="112,30,120,38" onClick="Editor.Exec('ForeColor','33CC00')">
  <AREA shape="rect" coords="121,31,129,39" onClick="Editor.Exec('ForeColor','33CC33')">
  <AREA shape="rect" coords="130,31,138,39" onClick="Editor.Exec('ForeColor','33CC66')">
  <AREA shape="rect" coords="139,31,147,39" onClick="Editor.Exec('ForeColor','33CC99')">
  <AREA shape="rect" coords="4,31,12,39" onClick="Editor.Exec('ForeColor','336600')">
  <AREA shape="rect" coords="13,31,21,39" onClick="Editor.Exec('ForeColor','336633')">
  <AREA shape="rect" coords="22,31,30,39" onClick="Editor.Exec('ForeColor','336666')">
  <AREA shape="rect" coords="31,31,39,39" onClick="Editor.Exec('ForeColor','336699')">
  <AREA shape="rect" coords="40,31,48,39" onClick="Editor.Exec('ForeColor','3366CC')">
  <AREA shape="rect" coords="49,31,57,39" onClick="Editor.Exec('ForeColor','3366FF')">
  <AREA shape="rect" coords="58,31,66,39" onClick="Editor.Exec('ForeColor','339900')">
  <AREA shape="rect" coords="67,31,75,39" onClick="Editor.Exec('ForeColor','339933')">
  <AREA shape="rect" coords="76,40,84,48" onClick="Editor.Exec('ForeColor','660000')">
  <AREA shape="rect" coords="85,40,93,48" onClick="Editor.Exec('ForeColor','660033')">
  <AREA shape="rect" coords="94,40,102,48" onClick="Editor.Exec('ForeColor','660066')">
  <AREA shape="rect" coords="103,40,111,48" onClick="Editor.Exec('ForeColor','660099')">
  <AREA shape="rect" coords="112,40,120,48" onClick="Editor.Exec('ForeColor','6600CC')">
  <AREA shape="rect" coords="121,40,129,48" onClick="Editor.Exec('ForeColor','6600FF')">
  <AREA shape="rect" coords="130,40,138,48" onClick="Editor.Exec('ForeColor','663300')">
  <AREA shape="rect" coords="139,40,147,48" onClick="Editor.Exec('ForeColor','663333')">
  <AREA shape="rect" coords="4,40,12,48" onClick="Editor.Exec('ForeColor','33CCCC')">
  <AREA shape="rect" coords="13,40,21,48" onClick="Editor.Exec('ForeColor','33CCFF')">
  <AREA shape="rect" coords="22,40,30,48" onClick="Editor.Exec('ForeColor','33FF00')">
  <AREA shape="rect" coords="31,40,39,48" onClick="Editor.Exec('ForeColor','33FF33')">
  <AREA shape="rect" coords="40,40,48,48" onClick="Editor.Exec('ForeColor','33FF66')">
  <AREA shape="rect" coords="49,40,57,48" onClick="Editor.Exec('ForeColor','33FF99')">
  <AREA shape="rect" coords="58,40,66,48" onClick="Editor.Exec('ForeColor','33FFCC')">
  <AREA shape="rect" coords="67,40,75,48" onClick="Editor.Exec('ForeColor','33FFFF')">
  <AREA shape="rect" coords="76,49,84,57" onClick="Editor.Exec('ForeColor','6666CC')">
  <AREA shape="rect" coords="85,49,93,57" onClick="Editor.Exec('ForeColor','6666FF')">
  <AREA shape="rect" coords="94,49,102,57" onClick="Editor.Exec('ForeColor','669900')">
  <AREA shape="rect" coords="103,49,111,57" onClick="Editor.Exec('ForeColor','669933')">
  <AREA shape="rect" coords="112,49,120,57" onClick="Editor.Exec('ForeColor','669966')">
  <AREA shape="rect" coords="121,49,129,57" onClick="Editor.Exec('ForeColor','669999')">
  <AREA shape="rect" coords="130,49,138,57" onClick="Editor.Exec('ForeColor','6699CC')">
  <AREA shape="rect" coords="139,49,147,57" onClick="Editor.Exec('ForeColor','6699FF')">
  <AREA shape="rect" coords="4,49,12,57" onClick="Editor.Exec('ForeColor','663366')">
  <AREA shape="rect" coords="13,49,21,57" onClick="Editor.Exec('ForeColor','663399')">
  <AREA shape="rect" coords="22,49,30,57" onClick="Editor.Exec('ForeColor','6633CC')">
  <AREA shape="rect" coords="31,49,39,57" onClick="Editor.Exec('ForeColor','6633FF')">
  <AREA shape="rect" coords="40,49,48,57" onClick="Editor.Exec('ForeColor','666600')">
  <AREA shape="rect" coords="49,49,57,57" onClick="Editor.Exec('ForeColor','666633')">
  <AREA shape="rect" coords="58,49,66,57" onClick="Editor.Exec('ForeColor','666666')">
  <AREA shape="rect" coords="67,49,75,57" onClick="Editor.Exec('ForeColor','666699')">
  <AREA shape="rect" coords="76,58,84,66" onClick="Editor.Exec('ForeColor','66FF66')">
  <AREA shape="rect" coords="85,58,93,66" onClick="Editor.Exec('ForeColor','66FF99')">
  <AREA shape="rect" coords="94,58,102,66" onClick="Editor.Exec('ForeColor','66FFCC')">
  <AREA shape="rect" coords="103,58,111,66" onClick="Editor.Exec('ForeColor','66FFFF')">
  <AREA shape="rect" coords="112,58,120,66" onClick="Editor.Exec('ForeColor','990000')">
  <AREA shape="rect" coords="121,58,129,66" onClick="Editor.Exec('ForeColor','990033')">
  <AREA shape="rect" coords="130,58,138,66" onClick="Editor.Exec('ForeColor','990066')">
  <AREA shape="rect" coords="139,58,147,66" onClick="Editor.Exec('ForeColor','990099')">
  <AREA shape="rect" coords="4,58,12,66" onClick="Editor.Exec('ForeColor','66CC00')">
  <AREA shape="rect" coords="13,58,21,66" onClick="Editor.Exec('ForeColor','66CC33')">
  <AREA shape="rect" coords="22,58,30,66" onClick="Editor.Exec('ForeColor','66CC66')">
  <AREA shape="rect" coords="31,58,39,66" onClick="Editor.Exec('ForeColor','66CC99')">
  <AREA shape="rect" coords="40,58,48,66" onClick="Editor.Exec('ForeColor','66CCCC')">
  <AREA shape="rect" coords="49,58,57,66" onClick="Editor.Exec('ForeColor','66CCFF')">
  <AREA shape="rect" coords="58,58,66,66" onClick="Editor.Exec('ForeColor','66FF00')">
  <AREA shape="rect" coords="67,58,75,66" onClick="Editor.Exec('ForeColor','66FF33')">
  <AREA shape="rect" coords="76,67,84,75" onClick="Editor.Exec('ForeColor','996600')">
  <AREA shape="rect" coords="85,67,93,75" onClick="Editor.Exec('ForeColor','996633')">
  <AREA shape="rect" coords="94,67,102,75" onClick="Editor.Exec('ForeColor','996666')">
  <AREA shape="rect" coords="103,67,111,75" onClick="Editor.Exec('ForeColor','996699')">
  <AREA shape="rect" coords="112,67,120,75" onClick="Editor.Exec('ForeColor','9966CC')">
  <AREA shape="rect" coords="121,67,129,75" onClick="Editor.Exec('ForeColor','9966FF')">
  <AREA shape="rect" coords="130,67,138,75" onClick="Editor.Exec('ForeColor','999900')">
  <AREA shape="rect" coords="139,67,147,75" onClick="Editor.Exec('ForeColor','999933')">
  <AREA shape="rect" coords="4,67,12,75" onClick="Editor.Exec('ForeColor','9900CC')">
  <AREA shape="rect" coords="13,67,21,75" onClick="Editor.Exec('ForeColor','9900FF')">
  <AREA shape="rect" coords="22,67,30,75" onClick="Editor.Exec('ForeColor','993300')">
  <AREA shape="rect" coords="31,67,39,75" onClick="Editor.Exec('ForeColor','993333')">
  <AREA shape="rect" coords="40,67,48,75" onClick="Editor.Exec('ForeColor','993366')">
  <AREA shape="rect" coords="49,67,57,75" onClick="Editor.Exec('ForeColor','993399')">
  <AREA shape="rect" coords="58,67,66,75" onClick="Editor.Exec('ForeColor','9933CC')">
  <AREA shape="rect" coords="67,67,75,75" onClick="Editor.Exec('ForeColor','9933FF')">
  <AREA shape="rect" coords="76,76,84,84" onClick="Editor.Exec('ForeColor','99CCCC')">
  <AREA shape="rect" coords="85,76,93,84" onClick="Editor.Exec('ForeColor','99CCFF')">
  <AREA shape="rect" coords="94,76,102,84" onClick="Editor.Exec('ForeColor','99FF00')">
  <AREA shape="rect" coords="103,76,111,84" onClick="Editor.Exec('ForeColor','99FF33')">
  <AREA shape="rect" coords="112,76,120,84" onClick="Editor.Exec('ForeColor','99FF66')">
  <AREA shape="rect" coords="121,76,129,84" onClick="Editor.Exec('ForeColor','99FF99')">
  <AREA shape="rect" coords="130,76,138,84" onClick="Editor.Exec('ForeColor','99FFCC')">
  <AREA shape="rect" coords="139,76,147,84" onClick="Editor.Exec('ForeColor','99FFFF')">
  <AREA shape="rect" coords="4,76,12,84" onClick="Editor.Exec('ForeColor','999966')">
  <AREA shape="rect" coords="13,76,21,84" onClick="Editor.Exec('ForeColor','999999')">
  <AREA shape="rect" coords="22,76,30,84" onClick="Editor.Exec('ForeColor','9999CC')">
  <AREA shape="rect" coords="31,76,39,84" onClick="Editor.Exec('ForeColor','9999FF')">
  <AREA shape="rect" coords="40,76,48,84" onClick="Editor.Exec('ForeColor','99CC00')">
  <AREA shape="rect" coords="49,76,57,84" onClick="Editor.Exec('ForeColor','99CC33')">
  <AREA shape="rect" coords="58,76,66,84" onClick="Editor.Exec('ForeColor','99CC66')">
  <AREA shape="rect" coords="67,76,75,84" onClick="Editor.Exec('ForeColor','99CC99')">
  <AREA shape="rect" coords="76,85,84,93" onClick="Editor.Exec('ForeColor','CC3366')">
  <AREA shape="rect" coords="85,85,93,93" onClick="Editor.Exec('ForeColor','CC3399')">
  <AREA shape="rect" coords="94,85,102,93" onClick="Editor.Exec('ForeColor','CC33CC')">
  <AREA shape="rect" coords="103,85,111,93" onClick="Editor.Exec('ForeColor','CC33FF')">
  <AREA shape="rect" coords="112,85,120,93" onClick="Editor.Exec('ForeColor','CC6600')">
  <AREA shape="rect" coords="121,85,129,93" onClick="Editor.Exec('ForeColor','CC6633')">
  <AREA shape="rect" coords="130,85,138,93" onClick="Editor.Exec('ForeColor','CC6666')">
  <AREA shape="rect" coords="139,85,147,93" onClick="Editor.Exec('ForeColor','CC6699')">
  <AREA shape="rect" coords="4,85,12,93" onClick="Editor.Exec('ForeColor','CC0000')">
  <AREA shape="rect" coords="13,85,21,93" onClick="Editor.Exec('ForeColor','CC0033')">
  <AREA shape="rect" coords="22,85,30,93" onClick="Editor.Exec('ForeColor','CC0066')">
  <AREA shape="rect" coords="31,85,39,93" onClick="Editor.Exec('ForeColor','CC0099')">
  <AREA shape="rect" coords="40,85,48,93" onClick="Editor.Exec('ForeColor','CC00CC')">
  <AREA shape="rect" coords="49,85,57,93" onClick="Editor.Exec('ForeColor','CC00FF')">
  <AREA shape="rect" coords="58,85,66,93" onClick="Editor.Exec('ForeColor','CC3300')">
  <AREA shape="rect" coords="67,85,75,93" onClick="Editor.Exec('ForeColor','CC3333')">
  <AREA shape="rect" coords="76,94,84,102" onClick="Editor.Exec('ForeColor','CCCC00')">
  <AREA shape="rect" coords="85,94,93,102" onClick="Editor.Exec('ForeColor','CCCC33')">
  <AREA shape="rect" coords="94,94,102,102" onClick="Editor.Exec('ForeColor','CCCC66')">
  <AREA shape="rect" coords="103,94,111,102" onClick="Editor.Exec('ForeColor','CCCC99')">
  <AREA shape="rect" coords="112,94,120,102" onClick="Editor.Exec('ForeColor','CCCCCC')">
  <AREA shape="rect" coords="121,94,129,102" onClick="Editor.Exec('ForeColor','CCCCFF')">
  <AREA shape="rect" coords="130,94,138,102" onClick="Editor.Exec('ForeColor','CCFF00')">
  <AREA shape="rect" coords="139,94,147,102" onClick="Editor.Exec('ForeColor','CCFF33')">
  <AREA shape="rect" coords="4,94,12,102" onClick="Editor.Exec('ForeColor','CC66CC')">
  <AREA shape="rect" coords="13,94,21,102" onClick="Editor.Exec('ForeColor','CC66FF')">
  <AREA shape="rect" coords="22,94,30,102" onClick="Editor.Exec('ForeColor','CC9900')">
  <AREA shape="rect" coords="31,94,39,102" onClick="Editor.Exec('ForeColor','CC9933')">
  <AREA shape="rect" coords="40,94,48,102" onClick="Editor.Exec('ForeColor','CC9966')">
  <AREA shape="rect" coords="49,94,57,102" onClick="Editor.Exec('ForeColor','CC9999')">
  <AREA shape="rect" coords="61,96,69,104" onClick="Editor.Exec('ForeColor','CC99CC')">
  <AREA shape="rect" coords="67,94,75,102" onClick="Editor.Exec('ForeColor','CC99FF')">
  <AREA shape="rect" coords="76,103,84,111" onClick="Editor.Exec('ForeColor','FF00CC')">
  <AREA shape="rect" coords="85,103,93,111" onClick="Editor.Exec('ForeColor','FF00FF')">
  <AREA shape="rect" coords="94,103,102,111" onClick="Editor.Exec('ForeColor','FF3300')">
  <AREA shape="rect" coords="103,103,111,111" onClick="Editor.Exec('ForeColor','FF3333')">
  <AREA shape="rect" coords="112,103,120,111" onClick="Editor.Exec('ForeColor','FF3366')">
  <AREA shape="rect" coords="121,103,129,111" onClick="Editor.Exec('ForeColor','FF3399')">
  <AREA shape="rect" coords="130,103,138,111" onClick="Editor.Exec('ForeColor','FF33CC')">
  <AREA shape="rect" coords="139,103,147,111" onClick="Editor.Exec('ForeColor','FF33FF')">
  <AREA shape="rect" coords="4,103,12,111" onClick="Editor.Exec('ForeColor','CCFF66')">
  <AREA shape="rect" coords="13,103,21,111" onClick="Editor.Exec('ForeColor','CCFF99')">
  <AREA shape="rect" coords="22,103,30,111" onClick="Editor.Exec('ForeColor','CCFFCC')">
  <AREA shape="rect" coords="31,103,39,111" onClick="Editor.Exec('ForeColor','CCFFFF')">
  <AREA shape="rect" coords="40,103,48,111" onClick="Editor.Exec('ForeColor','FF0000')">
  <AREA shape="rect" coords="49,103,57,111" onClick="Editor.Exec('ForeColor','FF0033')">
  <AREA shape="rect" coords="58,103,66,111" onClick="Editor.Exec('ForeColor','FF0066')">
  <AREA shape="rect" coords="67,103,75,111" onClick="Editor.Exec('ForeColor','FF0099')">
  <AREA shape="rect" coords="76,112,84,120" onClick="Editor.Exec('ForeColor','FF9966')">
  <AREA shape="rect" coords="85,112,93,120" onClick="Editor.Exec('ForeColor','FF9999')">
  <AREA shape="rect" coords="94,112,102,120" onClick="Editor.Exec('ForeColor','FF99CC')">
  <AREA shape="rect" coords="103,112,111,120" onClick="Editor.Exec('ForeColor','FF99FF')">
  <AREA shape="rect" coords="112,112,120,120" onClick="Editor.Exec('ForeColor','FFCC00')">
  <AREA shape="rect" coords="121,112,129,120" onClick="Editor.Exec('ForeColor','FFCC33')">
  <AREA shape="rect" coords="130,112,138,120" onClick="Editor.Exec('ForeColor','FFCC66')">
  <AREA shape="rect" coords="139,112,147,120" onClick="Editor.Exec('ForeColor','FFCC99')">
  <AREA shape="rect" coords="4,112,12,120" onClick="Editor.Exec('ForeColor','FF6600')">
  <AREA shape="rect" coords="13,112,21,120" onClick="Editor.Exec('ForeColor','FF6633')">
  <AREA shape="rect" coords="22,112,30,120" onClick="Editor.Exec('ForeColor','FF6666')">
  <AREA shape="rect" coords="31,112,39,120" onClick="Editor.Exec('ForeColor','FF6699')">
  <AREA shape="rect" coords="40,112,48,120" onClick="Editor.Exec('ForeColor','FF66CC')">
  <AREA shape="rect" coords="49,112,57,120" onClick="Editor.Exec('ForeColor','FF66FF')">
  <AREA shape="rect" coords="58,112,66,120" onClick="Editor.Exec('ForeColor','FF9900')">
  <AREA shape="rect" coords="67,112,75,120" onClick="Editor.Exec('ForeColor','FF9933')">
  <AREA shape="rect" coords="4,121,12,129" onClick="Editor.Exec('ForeColor','FFCCCC')">
  <AREA shape="rect" coords="13,121,21,129" onClick="Editor.Exec('ForeColor','FFCCFF')">
  <AREA shape="rect" coords="22,121,30,129" onClick="Editor.Exec('ForeColor','FFFF00')">
  <AREA shape="rect" coords="31,121,39,129" onClick="Editor.Exec('ForeColor','FFFF33')">
  <AREA shape="rect" coords="40,121,48,129" onClick="Editor.Exec('ForeColor','FFFF66')">
  <AREA shape="rect" coords="49,121,57,129" onClick="Editor.Exec('ForeColor','FFFF99')">
  <AREA shape="rect" coords="58,121,66,129" onClick="Editor.Exec('ForeColor','FFFFCC')">
  <AREA shape="rect" coords="67,121,75,129" onClick="Editor.Exec('ForeColor','FFFFFF')">
</MAP>

</BODY>
</HTML>