<HTML>
<HEAD>
<TITLE>Визуальный редактор</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=Windows-1251">
<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
<STYLE>
BODY {
	font-family : Verdana,Geneva,Arial;
	font-size : 12px;
	margin: 0px;
	padding: 0px;
	text-align:center;
	margin-top:150px;
	color:red;
}
</STYLE>
</HEAD>
<BODY>
{$message}
</BODY>
</HTML>

