<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1251">
<script language="JavaScript">
/**
* Обновляет информацию в окне браузера, перегружая его
*/
function source_update() {
	parent.ShowNormal();
	parent.frames.EditFrame.document.location.reload();
}
</script>
</HEAD>
<BODY onLoad="{$onload}">
<FORM name="ContentForm" action="/actions_admin.php" method="POST">
	<input type="hidden" name="_event" value="{@event}">
	<input type="hidden" name="_return_path" value="{#CURRENT_URL_FORM}">
	<input type="hidden" name="id" value="{@id}">
	<input type="hidden" name="table_name" value="{@table_name}">
	<input type="hidden" name="field_name" value="{@field_name}">
	<input type="hidden" name="content" value="">
	<input type="submit">
</FORM>
</BODY>
</HTML>
