<div style="height: {$height}px; overflow: scroll; padding: 0px;">
<tmpl:row><div onmouseover="this.className = 'over'" onmouseout="this.className = ''" onclick="AjaxSelect.update('{@element_id}','{$id}',this.innerHTML);">{$name}</div></tmpl:row>
</div>