<H2 onclick="cmsHideTable({@table.id}, {@structure_id})"><img src="/design/cms/img/icons/foldering_{$foldering}.gif" id="img_{@table.id}" border="0"> {$table_title}</H2>
{if $foldering=='open'}
<div id="div_{@table.id}">
{else}
<div id="div_{@table.id}" style="display:none;">
{/if}

<div style="float:right;">
	<form action="/actions_admin.php" method="POST">
	<input type="hidden" name="_event" value="cms/table_rows">
	<input type="hidden" name="_return_path" value="{#CURRENT_URL_FORM}">
	<input type="hidden" name="_language" value="{#LANGUAGE_CURRENT}">
	<input type="hidden" name="structure_id" value="{@structure_id}">
	<input type="hidden" name="table_id" value="{@table.id}">
	Показывать рядов: <input type="text" name="rows_per_page" value="{@rows_per_page}" size=2>
	</form>
</div>

{if $show_path == true}
<tmpl:path><a href="{$url}">{$name}</a> <img src="/design/cms/img/ui/selector.gif" width="6" height="9" alt=""> </tmpl:path> {$path_current}
{/if}

<form name="Form_{@table.name}" enctype="multipart/form-data" action="/actions_admin.php" method="POST">
<input type="hidden" name="_return_path" value="{#CURRENT_URL_FORM}">
<input type="hidden" name="_language" value="{#LANGUAGE_CURRENT}">
<input type="hidden" name="_table_type" value="gallery">
<input type="hidden" name="_table_language" value="{$table_language}">
<input type="hidden" name="_event[cms/table_update][]" value="1">
<tmpl:hidden_field>
	<input type="hidden" name="{$name}" value="{$value}">
</tmpl:hidden_field>

{if $event_counter > 0}
	<div style="float:left;">
	<script language="JavaScript">
	<tmpl:event_preloader>
		Img{$uniq_name} = new Image();
		Img{$uniq_name}.src = '/design/cms/img/event/{$image}_over.gif';
	</tmpl:event_preloader>
	</script>
	<img src="/img/shared/1x1.gif" width="13" height="1">
	<img src="/design/cms/img/event/arrow.gif" width="14" height="21" border="0" alt="">
	<tmpl:event_button>
		{if $javascript}
			<input title="{$flag}" hidefocus {$accesskey} type="image" id="{$uniq_name}" name="_event[][]" hspace="1" 
			onmouseover="cmsView.eventOver(this, {@table.id}, '{$alt}');" 
			onmouseout="cmsView.eventOut(this, {@table.id}, '{$image}');" 
			onclick="if(cmsView.clickButton(this, '{$alert}')) {$event}; return false;" 
			src="/design/cms/img/event/{$image}.gif" width="20" height="21" border="0">
		{else}
			<input title="{$flag}" hidefocus {$accesskey} type="image" id="{$uniq_name}" name="_event[{$event}][]" hspace="1" 
			onmouseover="cmsView.eventOver(this, {@table.id}, '{$alt}');" 
			onmouseout="cmsView.eventOut(this, {@table.id}, '{$image}');" 
			onclick="return cmsView.clickButton(this, '{$alert}');" 
			src="/design/cms/img/event/{$image}.gif" width="20" height="21" border="0">
		{/if}
	</tmpl:event_button>
	<div id="event_comment_{@table.id}" style="vertical-align:top;display:inline;padding: 0 0 0 20px;"></div>
	</div>
{/if}
<div style="float:right;">
	<tmpl:table_language>
	<a href="{$url}"><img {$class} src="/design/cms/img/language/{$language}.gif" border="0" hspace="5"></a>
	</tmpl:table_language>
</div>
<br clear="all">
<table id="id_{@table.name}" border="0" class="cms_gallery" cellpadding="2" cellspacing="2" width="100%">

<THEAD>
	<TR>
		<tmpl:th>
		<td width="{$width}%">Фотография</td>
		</tmpl:th>
	</TR>
</THEAD>

<TBODY>
{if $total_rows == 0}
	<tr>
		<td class="no_content" colspan="{@total_columns}">Нет данных для отображения.</td>
	</tr>
{/if}
<tmpl:image>
	{if $counter == 0 || $counter % 3 == 0}
		<tr>
	{/if}
	<td>
	{$photo}<br>
	{$description}<br>
	<input onclick="cmsView.updateStatus({@table.id});" type="checkbox" name="{@table.id}[id][]" value="{$id}">
	<input type="text" name="{@table.id}[{$id}][priority]" value="{$priority}" size="3" maxlength="4">
	<a href="javascript:void(0);" onclick="EditWindow({$id}, {@table.id},'{#CMS_STRUCTURE_URL}', '{#CURRENT_URL_LINK}', '{#LANGUAGE_CURRENT}');" title="Редактировать"><img src="/design/cms/img/icons/change.gif" width="15" height="15" border="0" alt="Редактировать"></a>
	<a href="/actions_admin.php?_return_path={#CURRENT_URL_LINK}&_event[cms/table_delete]=1&_table_id={@table.id}&{@table.id}[id][]={$id}&_language={#LANGUAGE_CURRENT}" title="Удалить" onclick="return confirm('Удалить?')"><img src="/design/cms/img/icons/del.gif" width="15" height="15" border="0" alt="Удалить"></a>
	</td>
</tmpl:image>
</TBODY>
<TFOOT>
<tr class="bottom">
	<td colspan="{@total_columns}">
		<table width="100%" border="0" cellpadding="0" cellspacing="1">
		<tr>
			<td width="25%">{$from} - {$to} из {$out_of}</td>
			<td width="50%">
			{if $total_rows > @rows_per_page}
				{if @current_page == 0}
					<img class="disabled" align="middle" src="/design/cms/img/button/first.gif" border="0" alt="Первая">
					<img class="disabled" align="middle" src="/design/cms/img/button/previous.gif" border="0" alt="Предыдущая">
				{else}
					<a id="first_page" href="{$page_link.first}"><img align="middle" src="/design/cms/img/button/first.gif" border="0" alt="Первая [Ctrl] + [вверх]"></a>
					<a id="previous_page" href="{$page_link.previous}"><img align="middle" src="/design/cms/img/button/previous.gif" border="0" alt="Предыдущая [Ctrl] + [<-]"></a>
				{/if}
				Страница:
				<select style="font-family:Verdana;font-size:10px;" size="1" name="_tb_start[{@table.id}]" onchange="location.href='?{@get_vars}&_tb_start[{@table.id}]=' + this.value;">
				{html_options options=$pages_list selected=@current_page}
				</select> из {$total_pages + 1}
				{if @current_page == $total_pages}
					<img class="disabled" align="middle" src="/design/cms/img/button/next.gif" border="0" alt="Следующая">
					<img class="disabled" align="middle" src="/design/cms/img/button/last.gif" border="0" alt="Последняя">
				{else}
					<a id="next_page" href="{$page_link.next}"><img align="middle" src="/design/cms/img/button/next.gif" border="0" alt="Следующая  [Ctrl] + [->]"></a>
					<a id="last_page" href="{$page_link.last}"><img align="middle" src="/design/cms/img/button/last.gif" border="0" alt="Последняя [Ctrl] + [вниз]"></a>
				{/if}
			{/if}
			</td>
			<td>&nbsp;</td>
			<td><input name="_event[cms/table_update][]" id="save_sort" type="image" src="/design/cms/img/event/table/save_changes.gif" width="143" height="21" alt="Сохранить порядок сортировки"></td>
		</tr>
		</table>
	</td>
	</tr>
</TFOOT>
</table>
</form>
{* ссылка на добавление нового раздела *}
<a id="add_key" href="/actions_admin.php?_table_id={@table.id}&_return_path={#CURRENT_URL_LINK}&_language={#LANGUAGE_CURRENT}&_event[cms/table_new]=1&{$parent_field}={$parent_field_value}"></a>
</div>
