<div id="table">
<table>
	<tr>
		<tmpl:title>
		<th width="{$width}">{$title}</th>
		</tmpl:title>
		<th width="5%">&nbsp;</th>
	</tr>
	<tr>
		<tmpl:title>
		<td><input type="text" name="filter[{$name}]" id="filter_{$name}" value="{$filter_value}"></td>
		</tmpl:title>
	</tr>
	<tmpl:row>
	<tr>
		<tmpl:field>
		<td>
			{if $name == 'id'}
				<a href="javascript:setLink({$value}, '{$title}');">{$value}</a>
			{elseif empty($value)}
				&nbsp;
			{else}
				{$value}
			{/if}
		</td>
		</tmpl:field>
		<td align="center">
			<a title="Редактировать" onclick="EditWindow('{$id}', {@table_id}, '', '/', '{#LANGUAGE_CURRENT}', '_return_type=close');return false;" href="javascript:void(0);">
			<img height="15" border="0" width="15" alt="Редактировать" src="/design/cms/img/icons/change.gif"/></a>
		</td>
	</tr>
	</tmpl:row>
</table>
<br><center>{$page_list}</center>
</div>