<HTML>
<HEAD>
	<TITLE>ѕредварительный просмотр картинки</TITLE>
	<STYLE>
		BODY {
			margin: 0 0 0 0;
			font: smaller Verdana, Geneva, Arial, Helvetica, sans-serif;
			background: White;
		}
	</STYLE>
	<script language="JavaScript" src="/js/shared/global.js"></script>
</HEAD>
<BODY onKeyPress="EnterEsc(event);">
{$html_img}
</BODY>
</HTML>