
<h1>Информация о пользовтеле</h1>
Тут выводится основная информация о пользователе
<br>
<br>

<h3>Заголовки дополнительной информации</h3>

<script language="JavaScript" type="text/javascript" src="/extras/swfupload/swfupload.2.2.0.beta3.js"></script>
<script language="JavaScript" type="text/javascript" src="/extras/swfupload/handlers_cms.js"></script>
<script>
	function integrateCkEditor(textarea, object_id, object_table, object_field, object_temp_id) {
		CKEDITOR.timestamp = ( new Date() ).valueOf();
	//	alert(textarea);
		CKEDITOR.on('currentInstance', function(e) {
	//		alert('activated '+e.sender.currentInstance.name)
		});
		CKEDITOR.replace(textarea, {
		        customConfig : '',
		        resize_enabled: false,
		        skin: 'office2003',
		        contentsCss: '/design/cms/css/editor/src.css',
		        //,cms-cvs
		        extraPlugins: 'iframedialog,cms-quit,cms-language,cms-image,cms-attach,cms-flash,cms-structure-link',
		        cmslanguage_languages: 'ru/Русский;',
		        cmslanguage_current_language: 'ru',
		        
		        object_id: object_id,
		        object_temp_id: object_temp_id,
		        object_table: object_table,
		        object_field: object_field,
		        
		      
		        stylesSet: [
					{ name : 'Заголовок 1'		, element : 'h1' },
					{ name : 'Заголовок 2'		, element : 'h2' },
					{ name : 'Заголовок 3'		, element : 'h3' },
				],
				fontSize_sizes: '8/8px;9/9px;10/10px;11/11px;12/12px;13/13px;14/14px;15/15px;16/16px;17/17px;18/18px;19/19px;20/20px;21/21px;22/22px;23/23px;24/24px;25/25px;26/26px;27/27px;28/28px;36/36px;48/48px;72/72px;',
		        toolbar_CMS:
				    [
					    ['Cut','Copy','Paste','PasteText','PasteFromWord','CmsCvs'],
					    
					    ['Link','Unlink','Anchor','CmsAttach','CmsStructureLink'],
					    ['CmsImage','CmsFlash','Table','HorizontalRule','SpecialChar'],
					    
					    ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
					    ['NumberedList','BulletedList','-','Outdent','Indent','Blockquote','CreateDiv'],
					    ['Undo','Redo','-','Find','Replace','-','SelectAll','RemoveFormat','ShowBlocks'],
					    '/',
					 
					    ['Styles','Font','FontSize','TextColor','BGColor'],
					    ['Bold','Italic','Underline','Strike','Subscript','Superscript'],
					    ['Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField','Source'],
				    ],
		        toolbar: 'CMS'		       
		    }
		);
	}
</script>

<p>

<a href="../?user_id={$user_id}"><img src="/design/cms/img/button/up.gif" border="0" align="absmiddle"> На уровень вверх</a>&nbsp;&nbsp;      
<a href="javascript:void(0);" onclick="EditWindow(0, 'auth_user_group_param', '{$STRUCTURE_URL}', '{#CURRENT_URL_LINK}', '{$LANGUAGE_CURRENT}', 'user_id={$user_id}');"><img src="/design/cms/img/icons/fk_add.gif" border="0" align="absmiddle"> Новое свойство</a><br>

<h1>{$user}</h1>

<form method="POST" action="/{#LANGUAGE_URL}action/admin/auth/save_info/" enctype="multipart/form-data">
	<input type="hidden" name="_return_path" value="{#CURRENT_URL_FORM}">
	<input type="hidden" name="_error_path" value="{#CURRENT_URL_FORM}">
	<input type="hidden" name="user_id" value="{$user_id}">

	<div id="idTabs">
		<ul><tmpl:category><li><a href="#p{$param_id}">{$name}</a></li></tmpl:category></ul>
		
		<br style="clear: left;"/>
		<div class="bottom"></div>
		
		<tmpl:category>
			<div id="p{$param_id}">
			
				<table class="vertical" width="100%">
					<tmpl:row>
						<tr> 
							<td class="title">
								<a href="javascript:void(0);" onclick="EditWindow({$param_id}, 'auth_user_param', '{$STRUCTURE_URL}', '{#CURRENT_URL_LINK}', '{$LANGUAGE_CURRENT}', '');">{$name}</a>
								{if $required}<span class="asterix">*</span>{/if}:
							</td>
							<td>
								{if $data_type=='char'}
									<input class="wide" type="text" name="param[{$param_id}]" value="{$value}">
								{elseif $data_type=='decimal'}
									<input class="wide" type="text" name="param[{$param_id}]" value="{$value}">
								{elseif $data_type=='file_list'}
									<div id="upload_{$table_name}_{$uniq_name}">
										<tmpl:uploads>
										<div id="file_{$table_name}_{$field}_{$filename}">
											<a href="javascript:void(0);" onclick="cms_swf_upload_delete('{$product_id}', '{$table_name}', '{$field}', '{$filename}', '{$tmp_dir}')"><img src="/design/cms/img/icons/swf_del.png" border="0" align="absmiddle"></a>
											<img src="/img/shared/ico/{$icon}.gif" border="0" align="absmiddle">
											<a target=_blank href="{$file_url}">{$filename}</a>
										</div>
										</tmpl:uploads>
									</div>
									<span id="spanSWFUploadButton_{$uniq_name}"></span>
								{elseif $data_type=='file'}
									<input type="file" name="param[{$param_id}]"><br>
									<input type="checkbox" name="delete[{$param_id}]" value="{$param_id}" id="delete_{$param_id}"><label for="delete_{$param_id}">Удалить картинку</label><br>
									{if !empty($file)}
										<a target="_blank" href="{$file}">Посмотреть файл</a>
									{/if}
								{elseif $data_type=='image'}
									<input type="file" name="param[{$param_id}]"><br>
									<input type="checkbox" name="delete[{$param_id}]" value="{$param_id}" id="delete_{$param_id}"><label for="delete_{$param_id}">Удалить картинку</label><br>
									{if $file != '#' || $thumb != '#'}
										Посмотреть картинку [
											{if $file != '#'}<a rel="lightbox" target="_blank" href="{$file}">оригинальная: {$width} x {$height}</a>;{/if}
											{if $thumb != '#'}<a rel="lightbox" target="_blank" href="{$thumb}">пиктограмма: {$thumb_width} x {$thumb_height}</a>{/if}
										]
									{/if}
								{elseif $data_type=='bool'}
									<input type="checkbox" name="param[{$param_id}]" value="1" {if $value!=0}checked{/if}>
								{elseif $data_type=='fkey'}
									<select name="param[{$param_id}]">
										<option value="0">Сделайте выбор</option>
										{html_options options=$options selected=$value}
									</select>
									<a href="javascript:void(0);" onclick="EditWindow(0, 'auth_user_info_data', '{$STRUCTURE_URL}', '{#CURRENT_URL_LINK}', '{$LANGUAGE_CURRENT}', 'info_id={$info_id}');"><img src="/design/cms/img/icons/fk_add.gif" border="0" alt="Добавить значение"></a>
								{elseif $data_type=='fkey_table'}
									<select name="param[{$param_id}]">
										<option value="0">Сделайте выбор</option>
										{if $is_tree}{$options}{else}{html_options options=$options selected=$value}{/if}
									</select>
									<a href="javascript:void(0);" onclick="EditWindow(0, '{$table_name}', '{$STRUCTURE_URL}', '{#CURRENT_URL_LINK}', '{$LANGUAGE_CURRENT}', 'info_id={$info_id}');"><img src="/design/cms/img/icons/fk_add.gif" border="0" alt="Добавить значение"></a>
								{elseif $data_type=='multiple'}
									<select name="param[{$param_id}][]" multiple>
									{html_options options=$options selected=$value}
									</select>
									<a href="javascript:void(0);" onclick="EditWindow(0, 'auth_user_info_data', '{$STRUCTURE_URL}', '{#CURRENT_URL_LINK}', '{$LANGUAGE_CURRENT}', 'info_id={$info_id}');"><img src="/design/cms/img/icons/fk_add.gif" border="0" alt="Добавить значение"></a>
								{elseif $data_type=='text'}
									<textarea name="param[{$param_id}]" class="wide">{$value}</textarea>
								{elseif $data_type=='html'}
									<input type="hidden" name="temp_id_param_{$param_id}" id="temp_id_param_{$param_id}" value="{$temp_field_id}" />
									<textarea name="param[{$param_id}]" id="param_{$param_id}_{$uniq_name}"  cols="80" rows="10">{$value}</textarea>
								{/if}
								<br><span class="comment">{$description}</span>
							</td>
						</tr>
					</tmpl:row>
					<tr><td></td><td><input type="submit" value="Сохранить"></td></tr>
				</table>
			</div>
		</tmpl:category>
	</div>
</form>

{$cms_phones}
{$gallery}