<html>
<head>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
	<title>"Пилот" - эффективное и простое управление веб-сайтом [www.delta-x.com.ua].</title>
	<link rel="stylesheet" type="text/css" href="/design/admin/css/auth.css">
</head>
<body style="font-family:Verdana;">
<div style="margin:70px auto;width:500px; border:1px solid silver; background: url(/design/cms/img/alert_big.png) 10px 10px no-repeat; padding:30px 70px 0 70px;text-align:center;">
	Проводятся плановые технические работы.<br>
	Приносим извинения за неудобства.<br>
	<div style="font-size:10px;color:silver;margin:20px 0;">
		{$login}@{$host}<br>{$error}
	</div>
</div>
</body>
</html>