<html>
<head>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1251">
	<meta http-equiv="imagetoolbar" content="no"> 
	<TITLE>{$title}</TITLE>
	<base href="{#HTTP_SCHEME}://{#CMS_HOST}{@base_url}">
   	<link rel="stylesheet" href="/design/cms/css/admin.css" type="text/css">
   	<link rel="stylesheet" href="/design/cms/css/cms_view.css" type="text/css">
   	<link rel="stylesheet" href="/design/cms/css/scw.css" type="text/css">
   	<link rel="stylesheet" href="/design/cms/css/cms_gallery.css" type="text/css">
   	<link rel="stylesheet" href="/css/gallery/coolgallery.css" type="text/css">
   	<link rel="stylesheet" href="/design/cms/css/jquery.jgrowl.css" type="text/css">
   	<link rel="stylesheet" href="/extras/jquery/lightbox/jquery.lightbox.css" type="text/css">
   	
 	<link rel="stylesheet" href="/extras/jquery/css/chosen/style.css" />
 	
   	<tmpl:css>
   		<link rel="stylesheet" href="{$url}" type="text/css">
   	</tmpl:css>
   	
   	<script language="JavaScript" type="text/javascript" src="/design/cms/js/cms.js"></script>
	<script language="JavaScript" type="text/javascript" src="/design/cms/js/ua.js"></script>
	<script language="JavaScript" type="text/javascript" src="/design/cms/js/ftiens4.js"></script>
	<script language="JavaScript" type="text/javascript" src="/design/cms/js/filter.js"></script>
	
   	
	<script language="JavaScript" type="text/javascript" src="/js/shared/jshttprequest.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/shared/scw.js"></script>
	
	<script language="JavaScript" type="text/javascript" src="/extras/fusioncharts/chart.js"></script> 
	<script language="JavaScript" type="text/javascript" src="/extras/jquery/jquery-1.4.2.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="/extras/jquery/lightbox/jquery.lightbox.js"></script>
	<script language="JavaScript" type="text/javascript" src="/extras/jquery/jquery.jqmodal.js"></script>
	<script language="JavaScript" type="text/javascript" src="/extras/jquery/jquery.jgrowl.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="/extras/jquery/jquery.tablednd.js"></script>
	<script language="JavaScript" type="text/javascript" src="/extras/jquery/effects.core.js"></script>
	<script language="JavaScript" type="text/javascript" src="/extras/jquery/effects.slide.js"></script>
	<script language="JavaScript" type="text/javascript" src="/extras/jquery/jquery.idtabs.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="/extras/jquery/jquery.chosen.min.js"></script>
	
	<script language="JavaScript" type="text/javascript" src="/js/shared/global.js"></script>
	<script type="text/javascript" src="/extras/ckeditor/ckeditor.js"></script>
	
	<!-- DELTA СООБЩЕНИЯ -->
	{if CMS_USE_DELTA_MESSAGE} 
		<link rel="stylesheet" type="text/css" href="/css/cms/message.css" />
		<script type="text/javascript" src="/js/cms/message.js"></script>
		<script type="text/javascript" src="/extras/jquery/jquery.blockUI.js"></script>
	{/if}
	
	<script language="JavaScript" type="text/javascript">
		<tmpl:onload_var>
			{$function}
		</tmpl:onload_var>
		
		$(function() {
			Hotkey.Init();
			FormFocus();
			
			for(var i = 0; i < document.links.length; i++){
				document.links.hidefocus = true;
			}
			
			// используется для открытия нужных разделов в полях типа ext_multiple
			<tmpl:onload>
				{$function} 
			</tmpl:onload>
			
			$('.cms_view').tableDnD({'dragHandle':'move', 'onDrop': function (table) {AjaxRequest.send($(table).parents('form.cms_view_form:first').attr('id'), '/action/admin/cms/table_sort/', 'Сохранение', true, {})}});
			cmsView.init();
		  	
			$(".chzn-select").chosen({allow_single_deselect:true});   
		});
	</script>
	
	
</head>
<body> 

	<div class="web_link">
		<a href="{#HTTP_SCHEME}://{#CMS_HOST}" title="Вернуться на главную страницу сайта" style="font-size:11px;">
			Вернуться на сайт &nbsp; 
			<img src="/design/cms/img/web.png" border="0" align="absmiddle" alt="На главную">
		</a>
	</div>

	<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" class="main">
		<TBODY>
			<tr>
				<td class="menu">
					<img src="/img/shared/1x1.gif" width="205" height="1" alt="" border=0><br>
					<a href="http://www.treem"></a>
					<script language="JavaScript" type="text/javascript">
						USETEXTLINKS = 1
						STARTALLOPEN = 0
						USEFRAMES = 0
						USEICONS = 0
						WRAPTEXT = 0
						PERSERVESTATE = 1
						BUILDALL = 0
						ICONPATH = "/design/cms/img/js/tree/"
						
						foldersTree = gFld("<B>{%_SESSION.auth.login}</B> [<a href=\"/{#LANGUAGE_URL}action/cms/logout/?_return_path=/\">Выход</a>]");
						foldersTree.xID = "100000000"
						Tree0 = foldersTree;
						foldersTree.xID = "0"
						
						<tmpl:menu_item>
							Tree{$id} = insFld(Tree{$parent}, gFld("{$name}", "{$url}"));Tree{$id}.xID = {$id};
						</tmpl:menu_item>
					</script>
					
					<span class=TreeviewSpanArea>
						<script language="JavaScript" type="text/javascript">initializeDocument();</script>
					</span>
					
					<noscript>
						Для просмотра сайта Вам необходимо иметь включенную поддержку JavaScript
					</noscript>
				</td>
				
				<td class="content">
					<tmpl:error><div class="delta_error">{$message}</div></tmpl:error>
					<tmpl:success><div class="delta_success">{$message}</div></tmpl:success>
					<tmpl:info><div class="delta_info">{$message}</div></tmpl:info>
					<tmpl:warning><div class="delta_warning">{$message}</div></tmpl:warning>
					
					<tmpl:privileg><div class="cms_privileg">{$message}</div></tmpl:privileg>
					
					{$content}
					
					{if $show_responce_log}
						<p>
							<div class="context_help">
								<b>Системой выполнены действия:</b><br>
								
								<tmpl:responce_log>
									<li>{$text}<br>
								</tmpl:responce_log>
							</div>
						</p>
					{/if}
					
				</td>
			</tr>
			<tr>
				<td class="menu" style="background-image:none;vertical-align:bottom;">
					<a target="_blank" href="http://www.delta-x.com.ua/"><img src="/design/cms/img/ui/delta_logo.gif" border="0"></a>
				</td>
				<td></td>
			</tr>
		</TBODY>
	</table>

	<div id="ajaxPreloader">Идёт обновление информации, подождите...</div>

	<tmpl:cross_domain_auth>
		<iframe frameborder="0" height="0" width="0" scrolling="no" src="http://{$site}/tools/auth/cross_domain_auth.php?key={$key}&p={$rnd}"></iframe>
	</tmpl:cross_domain_auth>
	
</body>
</html>