<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1251">
	<TITLE>{$title}</TITLE>
	<base href="{#HTTP_SCHEME}://{#CMS_HOST}{@base_url}">
	<link rel="stylesheet" href="/design/cms/css/admin.css" type="text/css">
	<link rel="stylesheet" href="/design/cms/css/cms_edit.css" type="text/css">
	<link rel="stylesheet" href="/design/cms/css/scw.css" type="text/css">
	<link rel="stylesheet" href="/design/cms/css/jquery.autocomplete.css" type="text/css">
	<tmpl:css>
		<link rel="stylesheet" href="{$url}" type="text/css">
	</tmpl:css>
	<script language="JavaScript" type="text/javascript" src="/design/cms/js/cms.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/shared/global.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/shared/jshttprequest.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/shared/scw.js"></script>
	<script language="JavaScript" type="text/javascript" src="/extras/jquery/jquery-1.4.2.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="/extras/jquery/jquery.autocomplete.js"></script>
	<script language="JavaScript" type="text/javascript" src="/extras/jquery/jquery.idtabs.min.js"></script>
	<script language="JavaScript" type="text/javascript">
	$(function() {
		for(var i = 0; i < document.links.length; i++) document.links.hidefocus = true;
		// используется для открытия нужных разделов в полях типа ext_multiple
		<tmpl:onload>
		{$function} 
		</tmpl:onload>
		FormFocus();
		$("#tabs").idTabs();
		
		// Размер окна
		var max_height = 0;
		var max_width = 0;
		$(".cms_edit").each(function(i) {
			if ($(this).height() > max_height) {
				max_height = $(this).height();  
			}
		});
		$("ul li").each(function(i) {
				max_width += $(this).width() + 30;
		});
		if(max_width < 650) max_width = 650;
		resizeDialog(max_width, max_height + 120);
	});
	</script>
	<script type="text/javascript" src="/extras/swfupload/swfupload.2.2.0.beta3.js"></script>
	<script type="text/javascript" src="/extras/swfupload/handlers_cms.js"></script>
</head>
<body>
<div id="ajaxPreloader"></div>
<div style="background-color:white;height:25px;">
<ul id="tabs">
	<tmpl:devider>
	<li><a class="{$class}" href="#{$name}">{$title}</a></li>
	</tmpl:devider>
</ul>
</div>
<tmpl:devider>
	<table id="{$name}" class="cms_edit">
	<tmpl:row>
	<tr class="{$row.class}">
		<td class="title">{$row.title}:</td>
		<td class="null">
			<input type="checkbox" {$row.null_checked} value="true" name="{@table_id}[_null_][{$row.field}]" id="{$row.input_id}_null" onclick="set_null('{$row.input_id}', this.checked);" disabled>
		</td>
		<td class="text">
		<div id="div_{$row.input_id}">
			{if $type=='text'}
				{$value}<br>
			{elseif $type=='password'}
				**********<br>
			{elseif $type=='file'}
				{if $file_exists==true}
					<input type="checkbox" disabled>
					{if $file_type == 'image'}
						<a href="javascript: void(0);" onclick="CenterWindow('/tools/cms/admin/preview.php?id={@id}&table_name={@table_name}&field_name={$row.field}&extension={$value}', 'Image', {$width}, {$height}, 1, 'center'); return false;">Просмотреть картинку</a>
					{else}
						<a href="/tools/cms/admin/preview.php?id={@id}&table_name={@table_name}&field_name={$row.field}&extension={$value}">Скачать файл</a>
					{/if}
				{/if}
			{elseif $type=='swf_upload'}
				<div id="upload_{$row.input_id}">
					<tmpl:uploads>
					<div id="file_{@table_name}_{$field}_{$filename}">
						<a href="javascript:void(0);" onclick="cms_swf_upload_delete('{@id}', '{@table_name}', '{$field}', '{$filename}', '{@tmp_dir}')"><img src="/design/cms/img/icons/swf_del.png" border="0" align="absmiddle"></a>
						<img src="/img/shared/ico/{$icon}.gif" border="0" align="absmiddle">
						<a target=_blank href="{$file_url}">{$filename}</a>
					</div>
					</tmpl:uploads>
				</div>
				<br>
			{elseif $type=='textarea'}
				{nl2br text=$value}<BR>
			{elseif $type=='fk_nn'}
				<select style="float:left;width: 325px;" align="left" class="tree" id="{$row.input_id}" name="{$row.input_name}[]" multiple size="{$rows}">
					{$tree}
					{html_options options=$options selected=$selected}
				</select>
				<br clear="all">
			{elseif $type=='fk'}
				{$value}<br>
			{elseif $type=='ext_select'}
				<input style="width:325px;" type="text" id="{$row.input_id}_text" value="{$text_value}" size="50" onkeydown="return ignoreKey();" onclick="CenterWindow('/tools/cms/admin/ext_select.php?field_name={$row.input_id}&table_id={$field_fk_table_id}&open_id='+document.getElementById('{$row.input_id}').value, 'tree', 400, 500, 1, 1);">
				<!-- a href="javascript:void(0);" onclick="CenterWindow('/tools/cms/admin/ext_select.php?field_name={$row.input_id}&table_id={$field_fk_table_id}&open_id='+document.getElementById('{$row.input_id}').value, 'tree', 400, 500, 1, 1);"><img src="/design/cms/img/ui/structure_link.gif" width="20" height="20" border="0" align="absmiddle" style="border: 1px solid #CCCCFF;" onmouseover="this.style.background='EAF3FB';" onmouseout="this.style.background='';"></a -->
				<input type="hidden" id="{$row.input_id}" name="{$row.input_name}" value="{$value}" size="50"><br>
			{elseif $type=='ext_list'}
				<input style="width:325px;" type="text" id="{$row.input_id}_text" value="{$text_value}" size="50" onkeydown="return ignoreKey();" onclick="CenterWindow('/tools/cms/admin/ext_list.php?field_name={$row.input_id}&table_id={$field_fk_table_id}&open_id='+document.getElementById('{$row.input_id}').value, 'tree', 800, 600, 1, 1);">
				<!-- a href="javascript:void(0);" onclick="CenterWindow('/tools/cms/admin/ext_list.php?field_name={$row.input_id}&table_id={$field_fk_table_id}&open_id='+document.getElementById('{$row.input_id}').value, 'tree', 800, 600, 1, 1);"><img src="/design/cms/img/ui/structure_link.gif" width="20" height="20" border="0" align="absmiddle" style="border: 1px solid #CCCCFF;" onmouseover="this.style.background='EAF3FB';" onmouseout="this.style.background='';"></a -->
				<input type="hidden" id="{$row.input_id}" name="{$row.input_name}" value="{$value}" size="50"><br>
			{elseif $type=='ext_multiple'}
				<DIV style="border:1px solid #7F9DB9;width:325px;height:500px;overflow:scroll;background-color:white;padding:5px;">
					<tmpl:ext_multiple>
					{if $recursive === 'true'}
						<input type="checkbox" name="{$master_table_id}[{$field}][]" value="{$id}" {$checked}> <a href="javascript:void();" onclick="extMultiple('{$code}_{$id}', '{$master_table_id}[{$field}][]', {$fk_table_id}, 2, {$id}, '{@id}', '{$relation_table_name}', '{$relation_select_field}', '{$relation_parent_field}');return false;"><img src="/img/shared/toc/plus.png" border="0" width="11" height="11" id="img_{$code}_{$id}"> {$name}</a><br><div style="display:none;" id="{$code}_{$id}"></div>
					{else}
						<a href="javascript:void();" onclick="extMultiple('{$code}_{$id}', '{$master_table_id}[{$field}][]', {$fk_table_id}, 2, {$id}, '{@id}', '{$relation_table_name}', '{$relation_select_field}', '{$relation_parent_field}');return false;"><img src="/img/shared/toc/plus.png" border="0" width="11" height="11" id="img_{$code}_{$id}"> {$name}</a><br><div style="display:none;" id="{$code}_{$id}"></div>
					{/if}
					</tmpl:ext_multiple>
				</DIV>
				<script language="JavaScript">
				function extMultipleOpen_{$field}() {
				<tmpl:open_ext_multiple>
					extMultiple('{$code}_{$id}', '{$master_table_id}[{$field}][]', {$fk_table_id}, 2, {$id}, '{@id}', '{$relation_table_name}', '{$relation_select_field}', '{$relation_parent_field}');
				</tmpl:open_ext_multiple>
				}
				</script>
			{elseif $type=='money'}
				{$text_value}
				<select class="tree" id="{@table_name}_{$row.currency_field}" name="{@table_id}[{$row.currency_field}]" size="1">
					<option value="0">{$null_text}</option>
					{html_options options=$currency_data selected=$currency_id}
				</select><br>
			{elseif $type=='ajax_select'}
				{$value}
				<br>
			{elseif $type=='html'}
				<iframe style="width:90%;height:300px;" id="{$row.input_id}" src="/tools/editor/frame/blank.php"></iframe>
				<br>
				
			{elseif $type=='fixed_open'}
				{$value}
			{elseif $type=='date'}
				{$value}
			{elseif $type=='time'}
				{$value}
			{elseif $type=='datetime'}
				{$value}<br>
			{/if}
			
			
			
			<tmpl:radio>
				<input disabled type="radio" {$checked}>{$description}<br>
			</tmpl:radio>
			<tmpl:checkbox>
				<input type="checkbox" disabled {$checked}>{$description}<br>
			</tmpl:checkbox>
			<tmpl:checkboxset>
				<input type="checkbox" disabled {$checked}>{$description}<br>
			</tmpl:checkboxset>
		</div>
		<!-- div id="null_{$row.input_id}" style="display:none;"><i>Неопределённое значение</i></div -->
		{if !empty($row.error)}
			<span class="error">{$row.error}</span><br>
		{/if}
		{if !empty($row.comment)}<span class="comment">{$row.comment}</span>{/if}
		</td>
	</tr>
	</tmpl:row>
	</table>
</tmpl:devider>
</body>
</html>