/**
* {@object_class} ORM Peer generated {@date} 
*
* @package Pilot
* @subpackage {@module} 
* @version 1.0
* @author Eugen Golubenko <eugen@delta-x.ua>
* @copyright Copyright 2009, Delta-X ltd.
*/

class {@object_class}Peer extends Base{@object_class}Peer {
	
}