{if empty($content)}	
	<div class="contetn-article">
	<table>
	<tmpl:news>
		<tr><td>
			{if $image_src}<img src="{$image_src}"  class="img-article" width="{$image_compress_width}px" height="{$image_compress_height}px"/>{/if}
			<div class="date">{$day_from}.&nbsp;{$month_from}.&nbsp;{$year_from}</div>
			<h5><a href="{#CMS_URL}{$url}" class="title">{$headline}</a></h5>
			{if $show_subcont == 0}<p>{$desc}</p>{/if}
			
		</td></tr>	
		
	</tmpl:news>
	</table>
	</div>

{else}
	<div id="content-article">
				
				<h1>{$headline}</h1>
				<p>{$content}</p>
				{if !empty($archive_name)}
					<div class="link_arhiv"><a href="/arhiv/article/">{$archive_name}</a></div>
				{/if}
		
	</div>


{/if}