{if $photocount > 0}
	<tmpl:photo>
			<div class="gallery_subunit">
				<a title="" target="_blank" rel="lightbox-content" href="/uploads/{$photo}" class="lightbox-enabled">
					<img src='/i/cms_gallery/{$photo}'></a><br>
				{$comment}
			</div>
	</tmpl:photo>
	<div class="gallery_pages">{$pages_list}</div>
{/if}
<tmpl:child>
	<div class="gallery_subunit"><a href="/Gallery/{$url}/"><img src="/i/cms_gallery/{$photo}"><br>{$name}</a></div>
</tmpl:child>
<div style="clear:both;"></div>
{if !empty(%_GET._GALLERY_URL)}<div style="padding:20px 0 0 0;"><a href="/Gallery/{$parent}" >На уровень выше</a></div>{/if}
<br><br>
