{if $show == 'product'}

<div class="tovar-info-block">
<tmpl:item>
	<div class="product marginTop">

			<div class="image"><img src="{$img}"></div>
				<div class="item">					
					<h1>{$name}</h1>
					<p class="strong">{$notice}</p>
					<p>{$info} </p>
					
					<a href="#" onClick="return showFadeCart({$id}, this);" data-amount="1" class="wants">ץמקף</a>
					<div class="price"><span data-price="{$price}">{$price}</span><div class="weight"><span class="re-weight">1000</span> {$measure}</div></div>						
					<div class="weight-block"><input type="text" value="1" class="amount small" maxlength="2"/>, <input type="text" value="000" maxlength='3' class="amount-s">
					{if $measure == 'לכ'} כ.{elseif $measure == 'דנאלל'} ךד.{/if}</div>
				</div>	
		
			
		</div><!--in-cart-block end-->
	</div><!--product /-->
</tmpl:item>	
</div><!--tovar-info-block end-->

{if $is_related}
<script>
		$(document).ready(function() {
		  $('#roundscroll ul').roundabout({
			 btnNext: ".roundscroll-next",
			 btnPrev: ".roundscroll-prev",
			 minOpacity: minopacity,
			 maxOpacity: maxopacity,
			 duration: 800,
			 minScale: 1.0			  
		  });
	   });
</script>
<div id="roundscroll">
				<div class="go-button roundscroll-prev"><a rel="nofollow" href="#" title="Previous"></a></div>
				<div class="go-button roundscroll-next"><a rel="nofollow" href="#" title="Next"></a></div>
						
				<ul>
					<tmpl:related>
					<li><a href="/{$url}.html"><img src="{$img}" /></a></li>					
					</tmpl:related>
					<tmpl:related>
					<li><a href="/{$url}.html"><img src="{$img}" /></a></li>					
					</tmpl:related>
					
				</ul>
</div>
{/if}


{elseif $show == 'catalog'}



				<div class="catalog">
				<tmpl:model>
				<div class="item marginTop">
					<a href="/{$url}.html"><img src="{$img}"/></a>
					<div class="title"><a href="/{$url}.html">{$name} </a></div>
					
					<div class="price"><span data-price="{$price}">{$price}</span><div class="weight"><span class="re-weight">1000</span> {$measure}</div></div>	
					<a href="#" onClick="return showFadeCart({$id}, this);" class="wants" data-amount="1">ÕÎ×Ó</a>
					<div class="weight-block"><input type="text" value="1" class="amount small" maxlength="2"/>, <input type="text" value="000" maxlength='3' class="amount-s">
					{if $measure == 'לכ'} כ.{elseif $measure == 'דנאלל'} ךד.{/if}</div>
				</div>
				</tmpl:model>
		</div>

<div class="content-article">		
{$content_ru}
</div>
{/if}
