
<form action="" method="GET">
<input type="hidden" name="do" value="search">
<table width="100%" cellspacing="0" cellpadding="10" border="0" class="form">
	<tr>
		<td class="title">Найти:</td>
		<td><input class="wide" name="search" type="text" value="{$search}" class="search" maxlength="100"></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" value="Искать"></td>
	</tr>
</table>
</form>

{if !empty($error)}
<br><br>
<div class="search_error">{$error}</div>
{/if}

{if $show_result}<br>
<b>Результаты поиска:</b> найдено страниц &mdash; {$docs_count}<br><br>

<table border="0" cellpadding="10" cellspacing="0" class="search_result">
<tmpl:result>
	<tr>
		<td class="counter">{$counter}</td>
		<td>
			<a href="{$url}">{$title}</a><BR>
			{$text}<BR>
			<a class="url" href="{$url}">{$short_url}</a>
		</td>
	</tr>
</tmpl:result>
<tmpl:pages_list>
	<tr>
		<td></td>
		<td class="pages">{$pages_list}</td>
	</tr>
</tmpl:pages_list>
</table>

{/if}