<HTML>
<HEAD>
<TITLE>Гиперссылка</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=Windows-1251">
<LINK href="/design/cms/css/editor/dialog.css" type="text/css" rel="stylesheet">
<script language="JavaScript" src="/js/shared/global.js"></script>
<script language="JScript">
var range;
var oNode;

function addLink() {
	if (oNode) {
		range.moveToElementText(oNode);
		oNode.removeNode(false);
	}
	var text = range.htmlText;
	var trim_regexp = /[\s\n\r\t]+$/g
	var matches = text.match(trim_regexp);
	var after_text = '';
	
	if (matches != null) {
		after_text = matches[0];
	}
	
	var acronym = document.getElementById('acr_title').value;
	var addslashes = /["]/; //"
	acronym = acronym.replace(addslashes, "'");
	
	if (acronym != '') {
		range.pasteHTML('<acronym title="' + acronym + '">' + text.replace(trim_regexp, '') + '</acronym>' + after_text);
	}
	window.close();
}

function editLink() {
	range = window.opener.frames.EditFrame.document.selection.createRange();
	var node = range.parentElement();
	
	if (!node) return;
	
	while(node && node.tagName.toUpperCase() != "BODY"){
		if (node.tagName.toUpperCase() == 'ACRONYM') {
			oNode = node;
			document.getElementById('acr_title').value = node.getAttribute('title');
			break;
		}
		node = node.parentElement;
	}
	return;
}
</script>
</HEAD>
<body onContextMenu="return false;" onKeyPress="Esc(event);" onLoad="editLink();">
<form name="Form" onSubmit="return addLink();">
<TABLE width="100%" border="0" cellpadding="2" cellspacing="2" height="100%">
<TR>
	<TD class="title">Примечание:</TD>
	<TD><INPUT size="40" name="acr_title" id="acr_title" value=""></TD>
</TR>
<TR>
	<TD></TD>
	<TD><INPUT class="clsbtn" type="submit" value="OK"><INPUT class="clsbtn" type="button" value="Отмена" OnClick="window.close();"></TD>
</TR>
</table>
</form>
</BODY>
</html>