<HTML>
<HEAD>
<TITLE>Очистка HTML</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=Windows-1251">
<LINK href="/design/cms/css/editor/dialog.css" type="text/css" rel="stylesheet">
<SCRIPT src="/js/shared/global.js" language="JavaScript"></SCRIPT>
<script language="JavaScript" src="/js/editor/clean_html.js"></script>
<STYLE>
DIV.editor {
	border: 1px solid darkgray;
	padding: 3px; 
	background-color : #FFFFFF;
	overflow : scroll;
	height : 80;
}
</STYLE>
</HEAD>
<body onload="Cleaner.Init();" onCont1extMenu="return false;" onKey1Press="EnterEsc(event);">
<TABLE border="0" cellpadding="1" cellspacing="0" width="100%" hei1ght="100%">
<tr><td style="vertical-align: middle; text-align : center;">
<B>Особо проследить, чтоб удалились:</B><br>
<input hidefocus type="checkbox" name="delete_a" id="delete_a"><label for="delete_a">ссылки</label>
<input hidefocus type="checkbox" name="delete_img" id="delete_img"><label for="delete_img">картинки</label>
<input hidefocus type="checkbox" name="delete_colors" id="delete_colors" checked><label for="delete_colors">цвета</label>
<input hidefocus type="checkbox" name="delete_aligns" id="delete_aligns"><label for="delete_aligns">алигны</label>
</td></tr>
<tr><td>
Текст (Word, Excel, Exploerer...):
<div id="buffer" style="display:none"></div>
<iframe src="/tools/editor/frame/blank.php" id="clipBrd" style="width:400px;height:200px;"></iframe>
</td></tr>
<tr><td align="center">
<input class="clsbtn" type="button" onclick="Cleaner.clean();" value="Очистить HTML">
</td></tr>
</table>
<textarea id="output" style="display : none; width: 100%; overflow: hidden; border: dotted; padding: 10; border-width: 1; border-color: magenta"></textarea>
</BODY>
</HTML>