<HTML>
<HEAD>
<TITLE>Гиперссылка</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=Windows-1251">
<LINK href="/design/cms/css/editor/dialog.css" type="text/css" rel="stylesheet">
<script language="JavaScript" src="/js/shared/global.js"></script>
<script language="JScript">
var range;
var oNode;
function addLink() {
	var target = '', after_text = '';
	var link_type = document.getElementById('link_type').options.value;
	if (oNode) {
		range.moveToElementText(oNode);
		oNode.removeNode(false);
	}
	if (link_type != 'icq' && link_type != 'email') {
		target = (document.getElementById('new_window').checked) ? ' target="_blank" ' : '';
		var text = range.htmlText;
	} else {
		var text = range.text;
	}
	var matches = text.match(/[\s\n\r\t]+$/g);
	if (matches != null) after_text = matches[0];
	var url = document.getElementById('URL').value;
	
	if (document.getElementById('URL').value != '') {
		if (document.getElementById('link_type').options.value == 'icq') {
			// Добавляется ICQ
			range.pasteHTML('<a href="http://wwp.icq.com/scripts/contact.dll?msgto=' + url.replace(/[^0-9]+/g, '')  + '"><img border="0" src="http://web.icq.com/whitepages/online?icq=' + url.replace(/[^0-9]+/g, '') + '&img=5" align="absMiddle">' + text.replace(/[\s\n\r\t]+$/g, '') + '</a>' + after_text);
		} else {
			range.pasteHTML('<a href="' + url + '" ' + target + '>' + text.replace(/[\s\n\r\t]+$/g, '') + '</a>' + after_text);
		}
	}
	
	window.close();
}

function get_link_type(url) {
	if (url.substr(0, 19) == 'http://wwp.icq.com/') {
		return 'icq';
	} else if (url.substr(0, 7) == 'http://' || url.substr(0, 8) == 'https://') {
		return 'www';
	} else if (url.substr(0, 7) == 'mailto:') {
		return 'email';
	} else {
		return '';
	}
}

function change_type(new_type) {
	var url = '';
	switch (new_type) {
		case 'email':
			url = 'mailto:';
			break;
		case 'anchor':
			url = '#';
			break;
		case 'www':
			url = 'http://';
			break;
		case 'icq':
			url = range.text;
			break;
		default:
			url ='';
			break;
	}
	document.getElementById('URL').value = url;
}

// Ссылки на якори и icq необходимо обрабатывать специальным способом
function parse_url(url) {
	var matches;
	if (url.lastIndexOf('#') > 0) {
		select_option('link_type', 'anchor');
		return url.substr(url.lastIndexOf('#'));
	} else if (null != (matches = url.match(/msgto=([0-9]{4,10})/g))) {
		select_option('link_type', 'icq');
		return matches[0].substr(6);
	}
	return url;
}

function editLink() {
	range = window.opener.frames.EditFrame.document.selection.createRange();
	var node = range.parentElement();
	
	if (!node) return;
	
	while(node && node.tagName.toUpperCase() != "BODY"){
		if (node.tagName.toUpperCase() == 'A') {
			oNode = node;
			document.getElementById('URL').value = parse_url(node.getAttribute('href'));
			if (node.getAttribute('target') == '_blank') {
				document.getElementById('new_window').checked = true;
			} else {
				document.getElementById('new_window').checked = false;
			}
			select_option('link_type', get_link_type(node.getAttribute('href')));
			break;
		}
		node = node.parentElement;
	}
	return;
}
</script>
</HEAD>
<body onContextMenu="return false;" onKeyPress="Esc(event);" onLoad="editLink();">
<form name="Form" onSubmit="return addLink();">
<fieldset><legend>Ссылка</legend>
<TABLE width="100%" border="0" cellpadding="2" cellspacing="2" height="100%">
<TR>
	<TD class="title">Тип:</TD>
	<TD>
		<SELECT id="link_type" onchange="change_type(this.value);">
			<option value="www">www</option>
			<option value="anchor">якорь</option>
			<option value="email">e-mail</option>
			<option value="icq">icq</option>
			<option value="">Другая</option>
		</SELECT>
	</TD>
</TR>
<TR>
	<TD class="title">URL:</TD>
	<TD><INPUT size="40" name="URL" id="URL" value="http://"></TD>
</TR>
<TR>
	<TD></TD>
	<TD><input type="checkbox" checked value="true" name="new_window" id="new_window"><label for="new_window">Открыть в новом окне</label></TD>
</TR>
</table>
</fieldset>

<center>
<INPUT class="clsbtn" type="submit" value="OK"><INPUT class="clsbtn" type="button" value="Отмена" OnClick="window.close();">
</center>
</form>
</BODY>
</html>