<html>
<head>
<title>Вставка символа</title>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=Windows-1251">
<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
<LINK href="/design/cms/css/editor/dialog.css" type="text/css" rel="stylesheet">
<style>
TD {
	background-color: #DCDCDC;
	min-height: 20px;
	min-width: 20px;
	text-align: center;
}
</style>
<script language="JavaScript" src="/js/shared/global.js"></script>
<script language="Javascript">
function InsSymb(numb) {
	window.opener.frames.EditFrame.focus()
	var range = window.opener.frames.EditFrame.document.selection.createRange()
	range.pasteHTML("&#"+numb+";")
}

</script>
</head>
<body onContextMenu="return false;" onKeyPress="EnterEsc(event);">
<table id="symbol" border="1" cellpadding="1" cellspacing="0" width="100%" height="100%" onClick="window.close()">
<tbody>
<tr>
	<td onClick="InsSymb(192)">&#192;</td>
	<td onClick="InsSymb(193)">&#193;</td>
	<td onClick="InsSymb(194)">&#194;</td>
	<td onClick="InsSymb(195)">&#195;</td>
	<td onClick="InsSymb(196)">&#196;</td>
	<td onClick="InsSymb(197)">&#197;</td>
	<td onClick="InsSymb(198)">&#198;</td>
	<td onClick="InsSymb(199)">&#199;</td>
	<td onClick="InsSymb(200)">&#200;</td>
	<td onClick="InsSymb(201)">&#201;</td>
	<td onClick="InsSymb(202)">&#202;</td>
	<td onClick="InsSymb(203)">&#203;</td>
	<td onClick="InsSymb(204)">&#204;</td>
	<td onClick="InsSymb(205)">&#205;</td>
	<td onClick="InsSymb(206)">&#206;</td>
</tr>
<tr>
	<td onClick="InsSymb(207)">&#207;</td>
	<td onClick="InsSymb(208)">&#208;</td>
	<td onClick="InsSymb(209)">&#209;</td>
	<td onClick="InsSymb(210)">&#210;</td>
	<td onClick="InsSymb(211)">&#211;</td>
	<td onClick="InsSymb(212)">&#212;</td>
	<td onClick="InsSymb(213)">&#213;</td>
	<td onClick="InsSymb(214)">&#214;</td>
	<td onClick="InsSymb(216)">&#216;</td>
	<td onClick="InsSymb(217)">&#217;</td>
	<td onClick="InsSymb(218)">&#218;</td>
	<td onClick="InsSymb(219)">&#219;</td>
	<td onClick="InsSymb(220)">&#220;</td>
	<td onClick="InsSymb(221)">&#221;</td>
	<td onClick="InsSymb(222)">&#222;</td>
</tr>
<tr>
	<td onClick="InsSymb(223)">&#223;</td>
	<td onClick="InsSymb(224)">&#224;</td>
	<td onClick="InsSymb(225)">&#225;</td>
	<td onClick="InsSymb(226)">&#226;</td>
	<td onClick="InsSymb(227)">&#227;</td>
	<td onClick="InsSymb(228)">&#228;</td>
	<td onClick="InsSymb(229)">&#229;</td>
	<td onClick="InsSymb(230)">&#230;</td>
	<td onClick="InsSymb(231)">&#231;</td>
	<td onClick="InsSymb(232)">&#232;</td>
	<td onClick="InsSymb(233)">&#233;</td>
	<td onClick="InsSymb(234)">&#234;</td>
	<td onClick="InsSymb(235)">&#235;</td>
	<td onClick="InsSymb(236)">&#236;</td>
	<td onClick="InsSymb(237)">&#237;</td>
</tr>
<tr>
	<td onClick="InsSymb(238)">&#238;</td>
	<td onClick="InsSymb(239)">&#239;</td>
	<td onClick="InsSymb(240)">&#240;</td>
	<td onClick="InsSymb(241)">&#241;</td>
	<td onClick="InsSymb(242)">&#242;</td>
	<td onClick="InsSymb(243)">&#243;</td>
	<td onClick="InsSymb(244)">&#244;</td>
	<td onClick="InsSymb(245)">&#245;</td>
	<td onClick="InsSymb(246)">&#246;</td>
	<td onClick="InsSymb(248)">&#248;</td>
	<td onClick="InsSymb(249)">&#249;</td>
	<td onClick="InsSymb(250)">&#250;</td>
	<td onClick="InsSymb(251)">&#251;</td>
	<td onClick="InsSymb(252)">&#252;</td>
	<td onClick="InsSymb(253)">&#253;</td>
</tr>
<tr>
	<td onClick="InsSymb(254)">&#254;</td>
	<td onClick="InsSymb(255)">&#255;</td>
	<td onClick="InsSymb(402)">&#402;</td>
	<td onClick="InsSymb(916)">&#916;</td>
	<td onClick="InsSymb(920)">&#920;</td>
	<td onClick="InsSymb(923)">&#923;</td>
	<td onClick="InsSymb(926)">&#926;</td>
	<td onClick="InsSymb(931)">&#931;</td>
	<td onClick="InsSymb(936)">&#936;</td>
	<td onClick="InsSymb(937)">&#937;</td>
	<td onClick="InsSymb(945)">&#945;</td>
	<td onClick="InsSymb(946)">&#946;</td>
	<td onClick="InsSymb(947)">&#947;</td>
	<td onClick="InsSymb(948)">&#948;</td>
	<td onClick="InsSymb(949)">&#949;</td>
</tr>
<tr>
	<td onClick="InsSymb(950)">&#950;</td>
	<td onClick="InsSymb(951)">&#951;</td>
	<td onClick="InsSymb(952)">&#952;</td>
	<td onClick="InsSymb(953)">&#953;</td>
	<td onClick="InsSymb(954)">&#954;</td>
	<td onClick="InsSymb(955)">&#955;</td>
	<td onClick="InsSymb(956)">&#956;</td>
	<td onClick="InsSymb(957)">&#957;</td>
	<td onClick="InsSymb(958)">&#958;</td>
	<td onClick="InsSymb(959)">&#959;</td>
	<td onClick="InsSymb(960)">&#960;</td>
	<td onClick="InsSymb(961)">&#961;</td>
	<td onClick="InsSymb(962)">&#962;</td>
	<td onClick="InsSymb(963)">&#963;</td>
	<td onClick="InsSymb(964)">&#964;</td>
</tr>
<tr>
	<td onClick="InsSymb(965)">&#965;</td>
	<td onClick="InsSymb(966)">&#966;</td>
	<td onClick="InsSymb(967)">&#967;</td>
	<td onClick="InsSymb(968)">&#968;</td>
	<td onClick="InsSymb(969)">&#969;</td>
	<td onClick="InsSymb(970)">&#970;</td>
	<td onClick="InsSymb(971)">&#971;</td>
	<td onClick="InsSymb(972)">&#972;</td>
	<td onClick="InsSymb(973)">&#973;</td>
	<td onClick="InsSymb(974)">&#974;</td>
	<td onClick="InsSymb(8211)">&#8211;</td>
	<td onClick="InsSymb(8212)">&#8212;</td>
	<td onClick="InsSymb(8216)">&#8216;</td>
	<td onClick="InsSymb(8217)">&#8217;</td>
	<td onClick="InsSymb(8218)">&#8218;</td>
</tr>
<tr>
	<td onClick="InsSymb(161)">&#161;</td>
	<td onClick="InsSymb(191)">&#191;</td>
	<td onClick="InsSymb(163)">&#163;</td>
	<td onClick="InsSymb(164)">&#164;</td>
	<td onClick="InsSymb(165)">&#165;</td>
	<td onClick="InsSymb(167)">&#167;</td>
	<td onClick="InsSymb(168)">&#168;</td>
	<td onClick="InsSymb(172)">&#172;</td>
	<td onClick="InsSymb(175)">&#175;</td>
	<td onClick="InsSymb(176)">&#176;</td>
	<td onClick="InsSymb(177)">&#177;</td>
	<td onClick="InsSymb(180)">&#180;</td>
	<td onClick="InsSymb(181)">&#181;</td>
	<td onClick="InsSymb(182)">&#182;</td>
	<td onClick="InsSymb(184)">&#184;</td>
</tr>
<tr>
	<td onClick="InsSymb(8220)">&#8220;</td>
	<td onClick="InsSymb(8221)">&#8221;</td>
	<td onClick="InsSymb(8222)">&#8222;</td>
	<td onClick="InsSymb(8224)">&#8224;</td>
	<td onClick="InsSymb(8225)">&#8225;</td>
	<td onClick="InsSymb(8226)">&#8226;</td>
	<td onClick="InsSymb(8240)">&#8240;</td>
	<td onClick="InsSymb(8242)">&#8242;</td>
	<td onClick="InsSymb(8243)">&#8243;</td>
	<td onClick="InsSymb(8254)">&#8254;</td>
	<td onClick="InsSymb(8230)">&#8230;</td>
	<td onClick="InsSymb(8481)">&#8481;</td>
	<td onClick="InsSymb(8482)">&#8482;</td>
	<td onClick="InsSymb(169)">&#169;</td>
	<td onClick="InsSymb(174)">&#174;</td>
</tr>
<tr>
	<td onClick="InsSymb(247)">&#247;</td>
	<td onClick="InsSymb(215)">&#215;</td>
	<td onClick="InsSymb(162)">&#162;</td>
	<td onClick="InsSymb(710)">&#710;</td>
	<td onClick="InsSymb(732)">&#732;</td>
	<td onClick="InsSymb(8592)">&#8592;</td>
	<td onClick="InsSymb(8593)">&#8593;</td>
	<td onClick="InsSymb(8594)">&#8594;</td>
	<td onClick="InsSymb(8595)">&#8595;</td>
	<td onClick="InsSymb(8596)">&#8596;</td>
	<td onClick="InsSymb(8597)">&#8597;</td>
	<td onClick="InsSymb(8598)">&#8598;</td>
	<td onClick="InsSymb(8599)">&#8599;</td>
	<td onClick="InsSymb(8600)">&#8600;</td>
	<td onClick="InsSymb(8601)">&#8601;</td>
</tr>
<tr>
	<td onClick="InsSymb(9824)">&#9824;</td>
	<td onClick="InsSymb(9827)">&#9827;</td>
	<td onClick="InsSymb(9829)">&#9829;</td>
	<td onClick="InsSymb(9828)">&#9828;</td>
	<td onClick="InsSymb(9831)">&#9831;</td>
	<td onClick="InsSymb(9832)">&#9832;</td>
	<td onClick="InsSymb(9833)">&#9833;</td>
	<td onClick="InsSymb(9834)">&#9834;</td>
	<td onClick="InsSymb(9836)">&#9836;</td>
	<td onClick="InsSymb(9837)">&#9837;</td>
	<td>&#160;</td>
	<td>&#160;</td>
	<td>&#160;</td>
	<td>&#160;</td>
	<td>&#160;</td>
</tr>
</tbody>
</table>
</body>
</html>