<HTML>
<HEAD>
<TITLE>Создание формы</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=Windows-1251">
<LINK href="/design/cms/css/editor/dialog.css" type="text/css" rel="stylesheet">
<script language="JavaScript" src="/js/shared/global.js"></script>
<SCRIPT>
var bgcolor = '';

function createForm() {
	// Если пользователь на странице сделал выделение, то обрамляем это выделение в форму
	var range = window.dialogArguments.frames.EditFrame.document.selection.createRange();
	var html = '<form enctype="multipart/form-data" action="'+document.getElementById('action').value+'" method="'+document.getElementById('method').value+'">';
	html += '<input type="hidden" name="_event" value="editor/form">';
	html += '<input type="hidden" name="mailto" value="Укажите e-mail адрес, на который будет отправлена форма">';
	html += '<input type="hidden" name="_return_path" value="Адрес страницы, на которую необходимо вернуться">';
	html += '<input type="hidden" name="_language" value="ru">';
	html += range.htmlText+'</form>';
	
	window.dialogArguments.frames.EditFrame.focus();
	range.pasteHTML(html);
	window.close();
	return false;
}
</SCRIPT>
</HEAD>
<body onKeyPress="Esc(event);" onload="centerDialog();" onContextMenu="return false;">
<form name="Form" onSubmit="return createForm();">

<fieldset><legend>Форма</legend>
<TABLE>
<TR>
	<TD class="title">Метод:</TD>
	<TD><select id="method"><option value="POST">POST</option><option value="GET">GET</option></select></TD>
</TR>
<TR>
	<TD class="title">Событие:</TD>
	<TD><input type="text" id="action" size="30" value="/actions_site.php"></TD>
</TR>
</table>
</fieldset>
<center>
	<input class="clsbtn" type="submit" value="OK">
	<input class="clsbtn" type="button" value="Отмена" OnClick="window.close()">
</center>
</BODY>
</html>