<HTML>
<HEAD>
<TITLE>Параметры поля SELECT</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=Windows-1251">
<LINK href="/design/cms/css/editor/dialog.css" type="text/css" rel="stylesheet">
<script language="JavaScript" src="/js/shared/global.js"></script>
<script language="JavaScript" src="/js/editor/dialog.js"></script>
<script language="JavaScript">
function load() {
	for(var i=0; i<Dialog.editObject.options.length;i++) {
		document.getElementById('options').value += Dialog.editObject.options[i].value + ':' + Dialog.editObject.options[i].text + "\n";
	}
}
function save() {
	// Удаляем старые опции
	for(var i=Dialog.editObject.options.length;i>=0;i--) {
		Dialog.editObject.options.remove(i);
	}
	// Добавляем новые опции
	var options = document.getElementById('options').value.split("\n");
	for (var i=0; i<options.length; i++) {
		var opt = options[i].split(":");
		if (!opt[1]) continue;
		
		var oOption = window.dialogArguments.EditFrame.document.createElement("OPTION");
		Dialog.editObject.add(oOption);
		oOption.value = opt[0];
		oOption.text = opt[1].substr(0, opt[1].length-1);
	}	
	Dialog.SaveAll();
	window.dialogArguments.Editor.ActivateToolbar('table', false);
	window.close();
	return false;
}
</script>
</HEAD>
<body 
	onContextMenu="return false;" 
	onKeyPress="Esc(event);" 
	onload="Dialog.Init(window.dialogArguments.Editor.current['SELECT'], 'Выберите поле Select для редактирования');load();"
>
<form name="Form" onSubmit="return save();">
<fieldset><legend>Параметры поля Select</legend>
<TABLE>
<TR>
	<TD class="title">Имя:</TD>
	<TD><input type="text" id="name" size="30"></TD>
</TR>
<TR>
	<TD class="title">Значения:</TD>
	<TD><textarea id="options" style="width:100%;height:150px;"></textarea></TD>
</TR>
<TR>
	<TD class="title">Пример:</TD>
	<TD>example1:Значение 1<br>example2:Значение 2</TD>
</TR>
<TR>
	<TD class="title">Стиль:</TD>
	<TD><select id="classname">
		<option value="">Без стиля</option>
		<tmpl:style>
		<option value="{$class}">{$title}</option>
		</tmpl:style>
	</select></TD>
</TR>
<TR>
	<TD class="title">Размер:</TD>
	<TD><input type="text" id="size" value=""></TD>
</TR>
<TR>
	<TD class="title">Многозначное:</TD>
	<TD><input type="checkbox" id="multiple" value="true"></TD>
</TR>
<TR>
	<TD class="title">Отключено:</TD>
	<TD><input type="checkbox" id="disabled" value="true"></TD>
</TR>
</table>
</fieldset>
<center>
	<INPUT class="clsbtn" type="submit" value="OK">
	<INPUT class="clsbtn" type="button" value="Отмена" OnClick="window.close()">
</center>
</form>
</BODY>
</html>