<HTML>
<HEAD>
<TITLE>Параметры поля Radio</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=Windows-1251">
<LINK href="/design/cms/css/editor/dialog.css" type="text/css" rel="stylesheet">
<script language="JavaScript" src="/js/shared/global.js"></script>
<script language="JavaScript" src="/js/editor/dialog.js"></script>
<script language="JavaScript">
function save() {
	Dialog.SaveAll();
	window.dialogArguments.Editor.ActivateToolbar('table', false);
	window.close();
	return false;
}
</script>
</HEAD>
<body 
	onContextMenu="return false;" 
	onKeyPress="Esc(event);" 
	onload="Dialog.Init(window.dialogArguments.Editor.current['RADIO'], 'Выберите поле Radio для редактирования')"
>
<form name="Form" onSubmit="return save();">
<fieldset><legend>Параметры поля Radio</legend>
<TABLE>
<TR>
	<TD class="title">Имя:</TD>
	<TD><input type="text" id="name" size="30"></TD>
</TR>
<TR>
	<TD class="title">Значение:</TD>
	<TD><input type="text" id="value" size="30"></TD>
</TR>
<TR>
	<TD class="title">Включено:</TD>
	<TD><input type="checkbox" id="checked" value="true"></TD>
</TR>
<TR>
	<TD class="title">Стиль:</TD>
	<TD><select id="classname">
		<option value="">Без стиля</option>
		<tmpl:style>
		<option value="{$class}">{$title}</option>
		</tmpl:style>
	</select></TD>
</TR>
</table>
</fieldset>
<center>
	<INPUT class="clsbtn" type="submit" value="OK">
	<INPUT class="clsbtn" type="button" value="Отмена" OnClick="window.close()">
</center>
</form>
</BODY>
</html>