#adminbar_holder {
	width:100%;
	overflow: hidden;
	background: #E8E9EC;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100000;
	border-bottom: 1px solid #B0B4BE;
    filter: alpha(opacity=95);
    moz-opacity: 0.95;
    opacity: 0.95;
    height: 30px;
	vertical-align: middle;
	font: 12px tahoma;
	}
#adminbar_holder img.ico {
	border: 0px;
	margin-right: 5px;
	}
#adminbar_holder form {
	display: inline;
	}
#adminbar_logo {
	float:left;
	padding:4px 5px 5px 10px;
	width: 140px;
}
#adminbar_panel {
	float:left;
	padding: 5px 2px 5px 0px;
	color:gray;
	}
#adminbar_panel a {
	text-decoration:none;
	}
#adminbar_panel select {
	position:relative;
	top:2px;
	margin-top: -5px;
	}
#adminbar_user {
	float:right;
	text-align: right;
	padding: 5px 10px 5px 2px;
	}
#adminbar_user a {
	color: #e33939;
	}
#adminbar_toggle {
	border: none;
	padding: 2px;
}
#adminbar_toggle:hover {
	border: 1px solid #bdc6d2;
}