<h1>Переходы по баннерам</h1>
<a href='/Admin/Banner/BannerGroup/'>Главная</a> 
<img src='/design/cms/img/ui/selector.gif'> 
<a href='/Admin/Banner/BannerGroup/Banner/?group_id={$banner.group_id}'>{$banner.group_name}</a> 
<img src='/design/cms/img/ui/selector.gif'> 
<a href='/Admin/Banner/BannerGroup/Banner/Stat/?banner_id={$banner.id}'>{$banner.title}</a> 
<img src='/design/cms/img/ui/selector.gif'> 
Статистика переходов за {$date}
{$cms_table}