<h1>Подписанные рассылки для {$user.name} {$user.email}</h1>
<a href="/Admin/Maillist/Subscribers/">Подписчики</a> <img src="/design/cms/img/ui/selector.gif" align="middle"> {$user.name} {$user.email}
<p>
<input type="checkbox" onclick="check_all(this.checked);" id="checkall"><label for="checkall">Выделить все</label>
<form action="/{#LANGUAGE_URL}action/admin/maillist/user_category/" method="POST">
<input type="hidden" name="id" value="{$user_id}">
<input type="hidden" name="_return_path" value="{#CURRENT_URL_FORM}">
<table class="vertical" width="500">
	<tr><td>{$categories}</td></tr>
</table>
<input type="submit" value="Сохранить изменения">
</form>

<div class="context_help">
В списке не отображены специализированные рассылки, созданные с указанием SQL запросов.
</div>

<script language="JavaScript">
function check_all(action) {
	var checkboxes = document.getElementsByName('category[]');
	for(var i=0;i<checkboxes.length;i++) {
		if (checkboxes[i].getAttribute('type', 1)=='checkbox') {
			checkboxes[i].checked = action;
		}
	}
}
</script>