{$cms_table}

<div class="context_help">
	<b>Изменить порядок сортировки по названию альбомов:</b>
		<a href="/{#LANGUAGE_URL}action/admin/gallery/gallery_order/?group_id={%_GET.group_id}&direction=asc&_language={#LANGUAGE_CURRENT}&_return_path={#CURRENT_URL_LINK}">в алфавитном порядке</a>
		| <a href="/{#LANGUAGE_URL}action/admin/gallery/gallery_order/?group_id={%_GET.group_id}&direction=desc&_language={#LANGUAGE_CURRENT}&_return_path={#CURRENT_URL_LINK}">в обратном порядке</a>
</div>
{$gallery}