{$cms_topics}

{if $cms_topics}
<div class="context_help">
	Голосование, которое будет ноходится в самом верху будет проводится на сайте. 
	Таким образом, используя стрелки вверх и вниз можно включить или отключить голосование. 
	Не забывайте после того, как измените порядок вывода нажать кнопку "Сохранить порядок сортировки",
	которая появится в правом нижнем углу таблицы
</div>
{/if}

{$cms_answers} 