

Здравствуйте, {$user_name}. <br/>
Ваши персональные данные были изменены. Для подтверждения указанных ниже изменений, пожалуйста, перейдите по ссылке: 
<br/>
<a href="http://{#CMS_HOST}/User/ConfirmChange/?code={$auth_code}">http://{#CMS_HOST}/User/ConfirmChange/?code={$auth_code}</a> 
<br/>  
<br/>
<table width="80%"  cellpadding="0" cellspacing="0">
	<thead><tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;<b>Старые данные</b>&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;<b>Новые данные</b>&nbsp;&nbsp;&nbsp;</td></tr></thead>
	<tbody>
		<tr>
			<td align="right"><b>Email:&nbsp;&nbsp;&nbsp;</b></td>
			<td>&nbsp;&nbsp;&nbsp;{$old_email}&nbsp;&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;&nbsp;{$new_email}&nbsp;&nbsp;&nbsp;</td>
		</tr>
		<tmpl:data>
			<tr>
				<td align="right"><b>{$param_name}:&nbsp;&nbsp;&nbsp;</b></td>
				<td>&nbsp;&nbsp;&nbsp;{$old_value}&nbsp;&nbsp;&nbsp;</td>
				<td>&nbsp;&nbsp;&nbsp;{$new_value}&nbsp;&nbsp;&nbsp;</td>
			</tr>
		</tmpl:data>
	</tbody>
</table>    

<br/>

С уважением, администрация сайта <a href="http://{#CMS_HOST}">{#CMS_HOST}</a>.