<center><div class="error">
Запрошенная Вами страница доступна только для пользователей, которые проверены администратором.<br>
<br>
Если Вы недавно зарегистрировались на сайте, то для проверки Вашей учётной записи необходимо некоторое время.<br>
<br>
Если же Вы зарегистрировались давно - то напишите запрос вебмастеру сайта, с просьбой ускорить Вашу регистрацию, в письме не забудьте указать Ваш логин.
</div></center>