<center><div class="error">
«апрошенна€ ¬ами страница доступна только дл€ пользователей, которые подтвердили свой e-mail адрес.<br>
<br>
ƒл€ того, что б удостоверитьс€ в правильности указани€ e-mail адреса при регистрации, ¬ам будет отослано
письмо в котором содержатс€ подробные инструкции о подтверждении e-mail адреса.
<br><br>
<br>

<a href="/{#LANGUAGE_URL}action/user/send_code/?id={%_SESSION.auth.id}&_return_path={#CURRENT_URL_LINK}">ќтправить письмо мне на e-mail</a>
</div></center>
