<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center>Для того, что б сменить пользователя нужно предварительно <a href="/{#LANGUAGE_URL}action/user/logout/?_return_path={#CURRENT_URL_LINK}">выйти из системы</a>.</center>