<HTML>
<HEAD>
<TITLE>Свойства таблицы</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=Windows-1251">
<LINK href="/design/cms/css/editor/dialog.css" type="text/css" rel="stylesheet">
<script language="JavaScript" src="/js/shared/global.js"></script>
<script language="JavaScript" src="/js/editor/dialog.js"></script>
<script language="JavaScript">
function save() {
	Dialog.SaveAll();
	window.dialogArguments.Editor.ActivateToolbar('table', false);
	window.close();
	return false;
}
</script>
</HEAD>
<body 
	onContextMenu="return false;" 
	onKeyPress="Esc(event);" 
	onload="Dialog.Init(window.dialogArguments.Editor.current['TABLE'], 'Выберите таблицу для редактирования');"
>
<form name="Form" onSubmit="return save();">
<fieldset><legend>Таблица</legend>
<TABLE width="100%" border="0" cellpadding="2" cellspacing="2" height="100%">
<TR>
	<TD class="title">Ширина:</TD>
	<TD><INPUT size="8" id="width" value="" maxlength="4"></TD>
</TR>
<TR>
	<TD class="title">Цвет фона</TD>
	<TD><INPUT size="20" id="bgcolor"></TD>
</TR>
<TR>
	<TD class="title">Стиль:</TD>
	<TD><select id="classname">
		<option value="">Без стиля</option>
		<tmpl:style>
		<option value="{$class}">{$title}</option>
		</tmpl:style>
	</select></TD>
</TR>
</table>
</fieldset>


<fieldset><legend>Рамка</legend>
<TABLE width="100%" border="0" cellpadding="2" cellspacing="2" height="100%">
<TR>
	<TD class="title">Ширина рамки:</TD>
	<TD><INPUT size="8" id="border" value="" maxlength="2"></TD>
</TR>
<TR>
	<TD class="title">Отступ от рамки:</TD>
	<TD><INPUT size="8" id="cellpadding" value="" maxlength="2"></TD>
</TR>
<TR>
	<TD class="title">Расстояние:</TD>
	<TD><INPUT size="8" id="cellspacing" value="" maxlength="2"></TD>
</TR>
</table>
</fieldset>
<center>
<INPUT class="clsbtn" type="submit" value="OK"> <INPUT class="clsbtn" type="button" value="Отмена" OnClick="window.close();">
</center>
</form>
</BODY>
</html>