<HTML>
<HEAD>
<TITLE>Свойства ряда</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=Windows-1251">
<LINK href="/design/cms/css/editor/dialog.css" type="text/css" rel="stylesheet">
<script language="JavaScript" src="/js/shared/global.js"></script>
<script language="JavaScript" src="/js/editor/dialog.js"></script>
<script language="JavaScript">
function save() {
	Dialog.SaveAll();
	window.dialogArguments.Editor.ActivateToolbar('table', false);
	window.close();
	return false;
}
</script>
</HEAD>
<body 
	onContextMenu="return false;" 
	onKeyPress="Esc(event);" 
	onload="Dialog.Init(window.dialogArguments.Editor.current['TR'], 'Выберите ряд таблицы для редактирования')"
>
<form name="Form" onSubmit="return save();">
<fieldset><legend>Выравнивание</legend>
<TABLE width="100%" border="0" cellpadding="3" cellspacing="0" height="100%">
<TR>
	<TD class="title">По ширине:</TD>
	<TD>
		<select id="align">
			<option value="">По умолчанию</option>
			<option value="left">По левому краю</option>
			<option value="center">По центру</option>
			<option value="right">По правому краю</option>
		</select>
	</TD>
</TR>
<TR>	
	<TD class="title">По высоте:</TD>
	<TD>
		<select id="valign">
			<option value="">По умолчанию</option>
			<option value="top">По верхнему краю</option>
			<option value="middle">По центру</option>
			<option value="bottom">По нижнему краю</option>
		</select>
	</TD>
</TR>
</table>
</fieldset>

<fieldset><legend>Размеры</legend>
<TABLE width="100%" border="0" cellpadding="3" cellspacing="0" height="100%">
<TR>
	<TD class="title">Высота:</TD>
	<TD><INPUT size="8" id="height" value="" maxlength="4"></TD>
</TR>
</table>
</fieldset>

<fieldset><legend>Стиль</legend>
<TABLE width="100%" border="0" cellpadding="3" cellspacing="0" height="100%">
<TR>
	<TD class="title">Цвет фона:</TD>
	<TD><INPUT size="27" id="bgcolor"></TD>
</TR>
<TR>
	<TD class="title">Стиль:</TD>
	<TD><select id="classname">
		<option value="">Без стиля</option>
		<tmpl:style>
		<option value="{$class}">{$title}</option>
		</tmpl:style>
	</select></TD>
</TR>
</table>
</fieldset>

<center><INPUT class="clsbtn" type="submit" value="OK"> <INPUT class="clsbtn" type="button" value="Отмена" OnClick="window.close();"></center>
</table>
</form>
</BODY>
</html>