<HTML>
<HEAD>
<TITLE>Вставка таблицы</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=Windows-1251">
<LINK href="/design/cms/css/editor/dialog.css" type="text/css" rel="stylesheet">
<script language="JavaScript" src="/js/shared/global.js"></script>
<SCRIPT>
var bgcolor = '';

function createTable() {
	var cell_tags = "";
	
	for(var i = 0; i < document.all.table_columns.value; i++) {
		cell_tags += "<TD> </TD>";
	}
	
	var row_tags = "";
	for (i = 0; i < document.all.table_rows.value; i++) {
		row_tags += "<TR>"+cell_tags+"</TR>"
	}
	
	var html = "<table";
	html += (document.all.table_width.value != '') ? ' width="'+document.all.table_width.value+document.all.table_width_units.value+'"' : '';
	html +=  (document.all.table_cellpadding.value != '') ? ' cellpadding="'+document.all.table_cellpadding.value+'"' : '';
	html += (document.all.table_cellspacing.value != '') ? ' cellspacing="'+document.all.table_cellspacing.value+'"' : '';
	html += (document.all.table_border.value != '') ? ' border="'+document.all.table_border.value+'"' : '';
	html += (document.all.table_color.value != '') ? ' bgcolor="'+document.all.table_color.value+'"' : '';
	html += (document.all.table_class.value != '') ? ' class="'+document.all.table_class.value+'"' : '';
	html += ">" + row_tags + "</table>";
	
	window.dialogArguments.frames.EditFrame.focus();
	var range = window.dialogArguments.frames.EditFrame.document.selection.createRange();
	range.pasteHTML(html);
	window.close();
	return false;
}
</SCRIPT>
</HEAD>
<body onKeyPress="Esc(event);" onload="document.all.table_rows.focus();" onContextMenu="return false;">
<form name="Form" onSubmit="return createTable();">

<fieldset><legend>Таблица</legend>
<TABLE border="0" width="100%" height="100%" cellpadding="0" cellspacing="0">
<TR>
	<TD class="title">Количество строк:</TD>
	<TD><INPUT size="8" name="table_rows" value="1" onKeyPress="return digitsOnly(event);" maxlength="3"></TD>
</TR>
<TR>
	<TD class="title">Количество столбцов:</TD>
	<TD><INPUT size="8" name="table_columns" value="1" onKeyPress="return digitsOnly(event);" maxlength="3"></TD>
</TR>
<TR>
	<TD class="title">Ширина таблицы:</TD>
	<TD><INPUT size="8" name="table_width" value="100" onKeyPress="return digitsOnly(event);" maxlength="3">
		<SELECT name="table_width_units">
			<OPTION value="%" selected>%</OPTION>
			<OPTION value="">px</OPTION>
		</SELECT>
	</TD>
</TR>
<TR>
	<TD class="title">Цвет фона:</TD>
	<TD><INPUT size="15" name="table_color"></TD>
</TR>
<TR>
	<TD class="title">Стиль:</TD>
	<TD><select name="table_class">
		<option value="">Без стиля</option>
		<tmpl:style>
		<option value="{$class}">{$title}</option>
		</tmpl:style>
	</select></TD>
</TR>
</table>
</fieldset>

<fieldset><legend>Рамка</legend>
<TABLE border="0" width="100%" height="100%" cellpadding="0" cellspacing="0">
<TR>
	<TD class="title">Ширина рамки:</TD>
	<TD><INPUT size="15" name="table_border" value="1" onKeyPress="return digitsOnly(event);" maxlength="3"> px</TD>
</TR>
<TR>
	<TD class="title">Отступ от рамки:</TD>
	<TD><INPUT size="15" name="table_cellpadding" value="0" onKeyPress="return digitsOnly(event);" maxlength="3"> px</TD>
</TR>
<TR>
	<TD class="title">Интервал:</TD>
	<TD><INPUT size="15" name="table_cellspacing" value="0" onKeyPress="return digitsOnly(event);" maxlength="3"> px</TD>
</TR>
</table>
</fieldset>
<center>
	<INPUT class="clsbtn" type="submit" value="OK">
	<INPUT class="clsbtn" type="button" value="Отмена" OnClick="window.close()">
</center>
</BODY>
</html>