

<!--------------------------------- Описание соотв. методов --------------------------------->
{if $current_type == 'etoken'}
	<h2>Автономный генератор одноразовых паролей eToken PASS</h2>
	<img src="/img/user/otp/etoken_big.png" border="0"  style="float:right;"> 
	
	<p>
		Автономный генератор одноразовых паролей, не требующий подключения к компьютеру и установки дополнительного программного обеспечения 
		<br/>и может использоваться в любых операционных системах, а также при доступе к защищенным ресурсам с мобильных устройств и терминалов, 
		<br/>не имеющих USB-разъема или устройства чтения смарт-карт.
	</p>
	
{elseif $current_type == 'mobile'}
	<h2>Google Authenticator</h2>
	<img src="/img/user/otp/authenticator.png" border="0"  style="float:right;"> 
	
	<p>
		Google Authenticator – это мобильное приложение, позволяющее генерировать коды для двухэтапной авторизации на Вашем телефоне без подключения к сети.
	</p>
	
{elseif $current_type == 'sms'}
	<h2>SMS авторизация</h2> 
	<img src="/img/user/otp/sms_big.png" border="0"  style="float:right;"> 
	
	<p>
		SMS авторизация обеспечивает дополнительную защиту Вашей учетной записи посредством кодов доступа, 
		<br/>что при попытке авторизации отправляются в виде СМС на один из привязанных к Вашей учетной записи подтвержденных телефонных номеров.
	</p>
{/if} 


<!--------------------------------- Активен раздел метода, что не настроен в системе ---------------------------------> 
{if $current_type != $config.type}
	<div class="otp_configured"> 
		<p style="color:red;">
			{if $config.is_enabled} 
				Для Вашей учетной записи уже настроена и включена двухэтапная авторизация посредством <b>{$config.type_title}</b>.
				
				<p>
					<div id="config_disable_button">
						Если же Вы желаете перенастроить двухэтапную авторизацию на генерацию кодов с помощью <b>{$current_type_title}</b>,  
						нажмите кнопку <b>Продолжить</b>:
						
						<div style="margin:10px;"><input type="button" onclick="{if $config.type == 'sms'}config_disable_sms_open();{else}config_disable_open();{/if}" value="Продолжить" class="submit"></div>
					</div>
					
					{if $config.type == 'sms'}
						<div id="config_disable_step_phone" class="otp_content" style="width:400px; margin:-5px 0px 0px 0px !important;">
							<h2>Отключение текущих настроек двухэтапной авторизации</h2> 
							<form id="otp_sms_enable_form" action="/action/user/otp/config_sms_disable_define/" method="POST" enctype="multipart/form-data">
								{if $phones_count == 1}	  
									<input type="hidden"  id="otp_sms_phone" name="otp_phone" value="{$phone.id}">
									<p>Для Вашей учетной записи подтвержден только один номер: {$phone.phone_public}</p>
								{else}
									<p>Пожалуйста, укажите номер, на который будет отправлено СМС с кодом подтверждения:<br/>
										<tmpl:phones>  
											<input type="radio" id="phone_{$id}" name="otp_phone" value="{$id}" {if $is_main}checked{/if}> 
											<label for="phone_{$id}">{$phone_public}</label><br/>
										</tmpl:phones>
									</p>
								{/if}
								<p>   
									<input type="button" onclick="config_disable_sms_send(0, '{$current_type}');" value="Отправить код подтверждения" style="margin-top:5px;"> &nbsp;
									{if !Auth::isHacker(true)}<a href="javascript:void(0);" onclick="config_disable_sms_send(1, '{$current_type}');">Воспользоваться резервным кодом доступа?</a>{/if}
								</p>
							</form>	
						</div> 
					{/if}
					
					<div id="config_disable_step_submit" class="otp_content" style="width:400px; margin:-5px 0px 0px 0px !important;">
						<h2>Отключение текущих настроек двухэтапной авторизации</h2>
						<p>В мерах безопасности для отключения двухэтапной проверки, необходимо указать код подтверждения:</p>
							
						<form id="config_disable_form" action="/action/user/otp/config_disable/" method="POST" enctype="multipart/form-data">
							<input type="hidden" name="_return_path" value="/User/OtpConfig/">   
							<input type="hidden" name="otp_type" value="{$current_type}">     
							<input type="hidden" name="is_force" value="1">        
							
							<table class="form">
								<tr> 
									<td class="title"><span id="code_title">Код</span>:</td>
									<td><input type="text" id="code" name="code" value="" class="wide" maxlength="6"></td>
								</tr>
								
								{if $config.type == 'sms' && !empty($code.code_tstamp)}
									<tr>
										<td class="title"></td>
										<td><span class="comment">Последний код отправлен {$code.code_tstamp} на номер {$code.phone_send_public}</span></td>
									</tr>
								{/if}
								    
								<tr> 
									<td class="title"></td>   
									<td>   
										{if $config.type == 'sms'}<a href="javascript:void(0);" onclick="config_disable_sms_clean('{$current_type}');">Отправить новый код по СМС?</a>&nbsp;{/if}
										{if !Auth::isHacker(true)}
											<a id="switch_code_button" href="javascript:void(0);" onclick="switch_code();">Воспользоваться резервным кодом доступа?</a>
											<input type="hidden" id="reserve_code" name="reserve_code" value="0"><br/>
										{/if}
										 
										<input type="submit" value="Продолжить" style="margin-top:5px;" class="submit">
									</td>
								</tr>
							</table>
						</form>		
					</div>
					
				</p>
			{else}
				Для Вашей учетной записи обнаружены настройки двухэтапной авторизации посредством <b>{$config.type_title}</b>. 
				<br/>Чтобы активировать данный метод, пожалуйста, перейдите в соответствующий раздел.
				
				<p>
					Если же Вы желаете перенастроить двухэтапную авторизацию на генерацию кодов с помощью <b>{$current_type_title}</b>,  
					нажмите кнопку <b>Продолжить</b>: 
					<div style="margin:10px;"><input type="button" onclick="if(confirm('Вы уверены, что хотите очистить существующие настройки двухэтапной проверки?')) location.href='/action/user/otp/config_clean/?otp_type={$current_type}&_return_path=/User/OtpConfig/';" value="Продолжить"  class="submit"></div>
				</p>
			{/if}
			
			<span style="color:red; font-size:10px;">* Если Вы нажмете <b>Продолжить</b>, все Ваши предыдущие настройки двухэтапной авторизации будут удалены.</span>
		</p>
	</div>	
	
<!--------------------------------- Активен раздел метода, что настроен в системе ---------------------------------> 	
{else}	  
    
	{if $config.is_enabled} 
		<h1 class="enabled">Двухэтапная авторизация включена</h1>
		  
		{if $is_reserve_content}
			<div style="margin:10px;">
				<p>
					Важно! В случае сбоя работы или потери устройства генерации кодов, воспользуйтесь резервными кодами доступа, что представлены ниже.<br/>
					<span style='color:red; font-weight:bold;'>
						Обязательно создайте копию резервных кодов доступа, так как вы больше не сможете их просмотреть где-либо на сайте.
					</span> 
				</p>
				
				<h4>Резервные коды доступа:</h4>
				
				<div style='float:left; margin:10px;'>{$reserve_codes_col_1}</div> 
				<div style='float:left; margin:10px;'>{$reserve_codes_col_2}</div> 
				<div style='float:left; margin:10px;'>{$reserve_codes_col_3}</div> 
				<div style='float:left; margin:10px;'>{$reserve_codes_col_4}</div> 
				<div style='clear:both;'></div> 
				
				<a style='margin:10px;' href='/action/user/otp/config_reserve/'>Сохранить в файл</a> 
			</div>
		{/if}
		
		<p>
			<span class="comment">Не забывайте, что, если, в силу обстоятельств, Вы больше не имеет доступа к Вашему устройству генерации кодов, 
			<br/>необходимо использовать резервные коды доступа.</span>
		</p>
	{else}	
		<div class="otp_configured"> 
			<p>
				<span style="color:green;">Настройки <b>{$config.type_title}</b> для Вашей учетной записи обнаружены</span>  
				<br/>Чтобы активировать данный метод, пожалуйста, нажмите кнопку <b>Включить</b>: 
				<div style="margin:10px;"><input type="button" onclick="$('#config_enable_form').submit();" value="Включить" class="submit"></div>
				 
				<form id="config_enable_form" action="/action/user/otp/config_enable/" method="POST" enctype="multipart/form-data">
					<input type="hidden" name="_return_path" value="/User/OtpConfig/">  
				</form>		
			</p>
			
			<p>
				Если Вы не уверены в актуальности обнаруженных настроек, нажмите кнопку <b>Очистить настройки</b> и перенастройте параметры повторно: 
				<div style="margin:10px;"><input type="button" onclick="if(confirm('Вы уверены, что хотите очистить существующие настройки двухэтапной авторизации?')) location.href='/action/user/otp/config_clean/?otp_type={$current_type}&_return_path=/User/OtpConfig/';" value="Очистить настройки" class="submit"></div>
			</p>
		</div>	
	{/if}
{/if}
