 
<div class="otp_configured">
	{if $config.is_configured && $config.is_enabled} 
		Для Вашей учетной записи настроена и включена двухэтапная авторизация посредством <b>{$config.type_title}</b>.
		
		<div id="config_disable_button">
			Чтобы отключить двухэтапную авторизацию, пожалуйста, нажмите кнопку <b>Выключить</b>:
			<div style="margin:10px;"><input type="button" onclick="{if $config.type == 'sms'}config_disable_sms_open();{else}config_disable_open();{/if}" value="Выключить" class="submit"></div>
		</div>
		
		
		{if $config.type == 'sms'}
			<div id="config_disable_step_phone" class="otp_content" style="width:400px; margin:-5px 0px 0px 0px !important;">
				<h2>Отключение двухэтапной проверки</h2> 
				<form id="otp_sms_enable_form" action="/action/user/otp/config_sms_disable_define/" method="POST" enctype="multipart/form-data">
					{if $phones_count == 1}	   
						<input type="hidden" id="otp_sms_phone" name="otp_phone" value="{$phone.id}">
						<p>Для Вашей учетной записи подтвержден только один номер: {$phone.phone_public}</p>
					{else}
						<p>Пожалуйста, укажите номер, на который будет отправлено СМС с кодом подтверждения:<br/>
							<tmpl:phones>  
								<input type="radio" id="phone_{$id}" name="otp_phone" value="{$id}" {if $is_main}checked{/if}> 
								<label for="phone_{$id}">{$phone_public}</label><br/>
							</tmpl:phones>
						</p>
					{/if}
					<p>    
						<input type="button" onclick="config_disable_sms_send(0);" value="Отправить код подтверждения" style="margin-top:5px;"> &nbsp;
						{if !Auth::isHacker(true)}<a href="javascript:void(0);" onclick="config_disable_sms_send(1);">Воспользоваться резервным кодом доступа?</a>{/if}
					</p>
				</form>	
			</div> 
		{/if} 
		
		<div id="config_disable_step_submit" class="otp_content" style="width:400px; margin:-5px 0px 0px 0px !important;">
			<h2>Отключение двухэтапной проверки</h2>
			<p>В мерах безопасности для отключения двухэтапной проверки, необходимо указать код подтверждения:</p>
				
			<form id="config_disable_form" action="/action/user/otp/config_disable/" method="POST" enctype="multipart/form-data">
				<input type="hidden" name="_return_path" value="/User/OtpConfig/">   
				
				<table class="form">
					<tr>
						<td class="title"><span id="code_title">Код</span>:</td>
						<td><input type="text" id="code" name="code" value="" class="wide" maxlength="6"></td>
					</tr>
					
					{if $config.type == 'sms' && !empty($code.code_tstamp)}
						<tr>
							<td class="title"></td>
							<td><span class="comment">Последний код отправлен {$code.code_tstamp} на номер {$code.phone_send_public}</span></td>
						</tr>
					{/if}
					    
					<tr> 
						<td class="title"></td>   
						<td>  
							{if $config.type == 'sms'}<a href="javascript:void(0);" onclick="config_disable_sms_clean();">Отправить новый код по СМС?</a>&nbsp;{/if}
							{if !Auth::isHacker(true)}
								<a id="switch_code_button" href="javascript:void(0);" onclick="switch_code();">Воспользоваться резервным кодом доступа?</a>
								<input type="hidden" id="reserve_code" name="reserve_code" value="0"><br/> 
							{/if}
							 
							<input type="submit" value="Отключить" style="margin-top:5px;"  class="submit">
						</td>
					</tr>
				</table>
			</form>		
		</div>
		
	{elseif $config.is_configured}	
		<h1 class="disabled">Двухэтапная авторизация отключена</h1>
		
		<div style="color:red; margin:10px 0px;">
			Вы подвержены риску взлома учетной записи. 
			Пожалуйста, активируйте один из методов двухэтапной авторизации для улучшения защиты
		</div>
		
		<p>
			<span class="comment"><b>Внимание!</b> Для Вашей учетной записи обнаружены настройки двухэтапной авторизации посредством <b>{$config.type_title}</b>. 
			<br/>Чтобы активировать данный метод, пожалуйста, перейдите в соответствующий раздел</span>
		</p> 
		
	{else} 
		<h1 class="disabled">Двухэтапная авторизация отключена</h1>
		
		<div style="color:red; margin:10px 0px;">
			Вы подвержены риску взлома учетной записи. 
			Пожалуйста, активируйте один из методов двухэтапной авторизации для улучшения защиты
		</div>
	{/if}	
</div>	