
<script type="text/javascript" src="/js/user/phone.js"></script>
<script>
			
	function sms_install_send(){
		AjaxRequest.form('otp_sms_install_form', 'Отправка смс. Пожалуйста, подождите...');
		return false;
	}

	jQuery(function($) {
		$.mask.definitions['~']='[+-]';
		$('#phone_block_input_phone').mask('+38(999) 999-99-99');
	}); 
</script>

<h2>SMS авторизация</h2>
<img src="/img/user/otp/sms_big.png" border="0"  style="float:right;"> 

<p>
	SMS авторизация обеспечивает дополнительную защиту Вашей учетной записи посредством кодов доступа, 
	<br/>что при попытке авторизации отправляются в виде СМС на один из привязанных к Вашей учетной записи подтвержденных телефонных номеров.
</p>
<p>
	Не забывайте, что, если, в силу обстоятельств, Вы больше не имеет доступа к Вашему устройству генерации кодов, 
	<br/>необходимо использовать резервные коды доступа. 
</p>
	 
{if $phones_count == 0}
	<p>
		Для настройки SMS авторизации Вам необходимо добавить и подтвердить не менее одного телефонного номера. 
		<br/>Сделать это вы можете на странице <a href="/User/Info/">Информация о пользователе</a>
		 
		<p><span class="comment">* К сожалению, на данный момент SMS авторизация доступна только для пользователей, что используют телефонные номера украинских мобильных операторов</span></p>
	</p> 
{else}
 
	<p>
		Настройка SMS авторизации доступна только для подтвержденных телефонных номеров. Если таких номеров у Вас несколько,
		<br/>каждый раз при попытке SMS авторизации система предложит Вам указать, на какой именно номер отправлять код-подтверждение.
	</p> 	
	<p>Чтобы продолжить настройку авторизации посредством СМС, пожалуйста, следуйте инструкциям ниже:</p> 
	
	
	<div id="otp_sms_install_block" >
		<div class="otp_mobile_content">
			<table id="register_submit_table" border="0" cellpadding="0" cellspacing="10" width="100%"  class="form">
				<tr> 
					<td> 
					{if $phones_count == 1}	  
						<input type="hidden" id="otp_sms_phone" name="otp_phone" value="{$phone.id}">  
						
						Для Вашей пользовательской учетной записи подтвержден только один телефонный номер: <b>{$phone.phone_original}</b>
						<br/>Пожалуйста, нажмите кнопку <b>Далее</b>, чтобы получить код подтверждения на указанный номер.
						
					{else}
						Для Вашей пользовательской учетной записи подтверждено несколько телефонных номеров.
						Пожалуйста, выберите номер, на который будет отправлено смс с кодом подтверждения 
						(его нужно будет указать на следующем шаге настройки SMS авторизации)
						
						<p>
							<tmpl:phones> 
								<input type="radio" id="otp_sms_phone_{$id}" name="otp_phone" value="{$id}" {if $is_main}checked{/if}> 
								<label for="otp_sms_phone_{$id}">{$phone_original}</label><br/>
							</tmpl:phones>
						</p>
					{/if}
					</td>
				</tr>
			</table> 
		</div>	
			
		<input id="otp_sms_button" type="button" onclick="config_enable_sms_send()" value="Далее">
	</div>
{/if}